Repository knative/serving: changes, and which Prow jobs are due for each by the changed paths.
All: kourier-stable_serving_main, kourier-stable-tls_serving_main, contour-latest_serving_main, contour-tls_serving_main, gateway-api-latest_serving_main, https_serving_main

kourier-stable_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --kourier-version stable
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

kourier-stable-tls_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-external-domain-tls-tests.sh --kourier-version stable
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: DOCKER_IN_DOCKER_ENABLED
  ...

contour-latest_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --contour-version latest
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

contour-tls_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-external-domain-tls-tests.sh --contour-version latest
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: DOCKER_IN_DOCKER_ENABLED
  ...

gateway-api-latest_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --gateway-api-version latest
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

https_serving_main:
  decorate: true
  optional: true
  spec:
    containers:
    - args:
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --https
      - --run-test
      - ./test/e2e-external-domain-tls-tests.sh --https
      command:
      - runner.sh
      env:
      - name: E2E_CLUSTER_REGION
  ...

Disable logstream so the Github Action Log Viewer works (#15146)
  .github/workflows/kind-e2e.yaml
Due: none

re-enable contour gateway tests
  test/conformance/api/v1/route_test.go
  test/conformance/api/v1/service_test.go
Due: none

Update net-contour nightly
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-kourier nightly
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-istio nightly
  third_party/istio-latest/net-istio.yaml
Due: none

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/modules.txt
Due: none

Update net-gateway-api nightly
  third_party/gateway-api-latest/contour-gateway.yaml
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

fix contour networking config
  test/e2e-networking-library.sh
Due: none

[Automated] Update net-gateway-api nightly (#15136)
  test/e2e-networking-library.sh
  third_party/gateway-api-latest/contour-gateway.yaml
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-kourier nightly (#15153)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-istio nightly (#15151)
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-contour nightly (#15152)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

upgrade to latest dependencies (#15155)
  go.mod
  go.sum
  vendor/modules.txt
Due: none

cleanup service after tests completes (#15147)
  test/conformance/runtime/container_test.go
Due: none

feat: bubble up kcert status message when it's failed (#14962)
  pkg/apis/serving/v1/route_lifecycle.go
  pkg/apis/serving/v1/route_lifecycle_test.go
  pkg/reconciler/route/route.go
  pkg/reconciler/route/table_test.go
  pkg/testing/v1/route.go
Due: none

exta logs
  test/e2e-common.sh
Due: none

debug
  test/e2e/autoscale_hpa_test.go
  test/e2e/autoscale_test.go
  vendor/github.com/tsenart/vegeta/v12/lib/attack.go
Due: none

fix
  test/e2e-common.sh
  test/e2e-tests.sh
Due: none

debug for https_serving_main
  test/e2e-common.sh
Due: none

get logs with kubectl
  test/e2e-tests.sh
Due: none

Add logs to artifacts
  test/e2e-common.sh
  test/e2e-tests.sh
Due: none

local kail
  test/e2e-common.sh
  test/e2e-tests.sh
Due: none

Get stern from GH releases
  test/e2e-tests.sh
Due: none

fix import
  vendor/knative.dev/pkg/test/logstream/interface.go
Due: none

Get kail
  test/e2e-common.sh
  test/e2e-tests.sh
Due: none

Scale the ingress gateway
  test/config/ytt/ingress/istio/istio-ingressgateway-replicas.yaml
Due: none

try if oom
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

use stern to get all containers
  test/e2e-tests.sh
Due: none

get logs with kubectl
  test/e2e-external-domain-tls-tests.sh
  test/e2e-tests.sh
Due: none

Get logs from istio system
  test/e2e-tests.sh
Due: none

get logs from test ns
  vendor/knative.dev/pkg/test/logstream/interface.go
Due: none

re-enable contour gateway tests (#15150)
  test/conformance/api/v1/route_test.go
  test/conformance/api/v1/service_test.go
Due: none

Update net-certmanager nightly
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-certmanager nightly (#15157)
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-gateway-api nightly (#15158)
  third_party/gateway-api-latest/contour-gateway.yaml
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Path conditions:
  kourier-stable_serving_main: any of: ^third_party/kourier-latest/*
  kourier-stable-tls_serving_main: any of: ^third_party/kourier-latest/*
  contour-latest_serving_main: any of: ^third_party/contour-latest/*
  contour-tls_serving_main: any of: ^third_party/contour-latest/*
  gateway-api-latest_serving_main: any of: ^third_party/gateway-api-latest/*
  https_serving_main: any of: ^third_party/cert-manager-latest/*
