Repository knative/serving: changes, and which Prow jobs are due for each by the changed paths.
All: kourier-stable_serving_main, kourier-stable-tls_serving_main, contour-latest_serving_main, contour-tls_serving_main, gateway-api-latest_serving_main, https_serving_main

kourier-stable_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --kourier-version stable
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

kourier-stable-tls_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-external-domain-tls-tests.sh --kourier-version stable
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: DOCKER_IN_DOCKER_ENABLED
  ...

contour-latest_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --contour-version latest
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

contour-tls_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-external-domain-tls-tests.sh --contour-version latest
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: DOCKER_IN_DOCKER_ENABLED
  ...

gateway-api-latest_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --gateway-api-version latest
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

https_serving_main:
  decorate: true
  optional: true
  spec:
    containers:
    - args:
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --https
      - --run-test
      - ./test/e2e-external-domain-tls-tests.sh --https
      command:
      - runner.sh
      env:
      - name: E2E_CLUSTER_REGION
  ...

use clusteripnone constant
  pkg/reconciler/serverlessservice/resources/services.go
  pkg/reconciler/serverlessservice/resources/services_test.go
Due: none

Update net-istio nightly
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-gateway-api nightly
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-kourier nightly
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-contour nightly
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-istio nightly (#15172)
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-contour nightly (#15175)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-gateway-api nightly (#15173)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-kourier nightly (#15174)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Tests for multi-container readiness and liveness probes
  pkg/apis/serving/k8s_validation.go
  test/e2e/e2e.go
  test/e2e/minscale_readiness_test.go
  test/e2e/multicontainerprobing/multicontainer_readiness_test.go
  test/test_images/grpc-ping/main.go
  test/test_images/multicontainer/servingcontainer/servingcontainer.go
  test/test_images/readiness/readiness.go
Due: none

Update net-istio nightly (#15176)
  third_party/istio-latest/net-istio.yaml
Due: none

Use PORT instead of HEALTHCHECK_PORT for serving container
  test/e2e/multicontainerprobing/multicontainer_readiness_test.go
  test/test_images/multicontainer/servingcontainer/servingcontainer.go
Due: none

Fixes
  test/e2e/multicontainer_test.go
  test/test_images/multicontainer/servingcontainer/servingcontainer.go
Due: none

Pass FORWARD_PORT in service_test
  test/conformance/api/v1/service_test.go
Due: none

Revert readiness image to only fail readiness probe
  test/test_images/readiness/readiness.go
Due: none

Update net-kourier nightly (#15179)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-contour nightly (#15178)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

fix typo
  test/e2e/timeout_test.go
Due: none

removed duplicated tests
  test/conformance/api/v1/revision_timeout_test.go
Due: none

fix tests for revision timeout and idle timeout
  test/e2e/timeout_test.go
Due: none

Use proxy to start failing sidecar
  test/e2e/multicontainerprobing/multicontainer_readiness_test.go
  test/test_images/readiness/readiness.go
Due: none

Update net-gateway-api nightly (#15177)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Test liveness failure
  pkg/testing/v1/service.go
  test/conformance/runtime/liveness_probe_test.go
  test/conformance/runtime/readiness_probe_test.go
  test/e2e/readiness_test.go
  test/test_images/readiness/readiness.go
Due: none

Use /healthz/readiness in multicontainer test
  test/e2e/multicontainerprobing/multicontainer_readiness_test.go
Due: none

Address review feedback
  test/conformance/runtime/liveness_probe_test.go
  test/test_images/multicontainer/servingcontainer/servingcontainer.go
  test/test_images/readiness/readiness.go
Due: none

Fix lint
  test/test_images/multicontainer/servingcontainer/servingcontainer.go
  test/test_images/readiness/readiness.go
Due: none

Update net-gateway-api nightly (#15183)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-istio nightly (#15185)
  third_party/istio-latest/net-istio.yaml
Due: none

add e2e test for Contour when CORS policy is enabled
  test/e2e-tests.sh
  test/e2e/corspolicy/cors_policy_test.go
Due: none

fix imports
  test/e2e/corspolicy/cors_policy_test.go
Due: none

fix lint
  test/e2e/corspolicy/cors_policy_test.go
Due: none

Path conditions:
  kourier-stable_serving_main: any of: ^third_party/kourier-latest/*
  kourier-stable-tls_serving_main: any of: ^third_party/kourier-latest/*
  contour-latest_serving_main: any of: ^third_party/contour-latest/*
  contour-tls_serving_main: any of: ^third_party/contour-latest/*
  gateway-api-latest_serving_main: any of: ^third_party/gateway-api-latest/*
  https_serving_main: any of: ^third_party/cert-manager-latest/*
