Repository knative/serving: changes, and which Prow jobs are due for each by the changed paths.
All: kourier-stable_serving_main, kourier-stable-tls_serving_main, contour-latest_serving_main, contour-tls_serving_main, gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main, https_serving_main

Path conditions:
  kourier-stable_serving_main: any of: ^third_party/kourier-latest/*
  kourier-stable-tls_serving_main: any of: ^third_party/kourier-latest/*
  contour-latest_serving_main: any of: ^third_party/contour-latest/*
  contour-tls_serving_main: any of: ^third_party/contour-latest/*
  gateway-api-latest_serving_main: any of: ^third_party/gateway-api-latest/*
  gateway-api-latest-and-contour_serving_main: any of: ^third_party/gateway-api-latest/*
  https_serving_main: any of: ^third_party/cert-manager-latest/*

feat: use knative.dev/pkg/tls for activator TLS configuration
  cmd/activator/main.go
Due: none

Update net-istio nightly (#16434)
  third_party/istio-latest/net-istio.yaml
Due: none

feat: use knative.dev/pkg/tls for queue-proxy TLS configuration
  config/core/configmaps/deployment.yaml
  pkg/deployment/config.go
  pkg/deployment/config_test.go
  pkg/queue/sharedmain/main.go
  pkg/reconciler/revision/resources/deploy_test.go
  pkg/reconciler/revision/resources/queue.go
  pkg/reconciler/revision/resources/queue_test.go
Due: none

Update net-gateway-api nightly (#16433)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main

Update net-contour nightly (#16435)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-kourier nightly (#16436)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

feat: use knative.dev/pkg/tls for reconciler TLS configuration (#16431)
  pkg/reconciler/revision/resolve.go
  pkg/reconciler/revision/resolve_test.go
Due: none

feat: use knative.dev/pkg/tls for activator TLS configuration (#16424)
  cmd/activator/main.go
Due: none

feat: use knative.dev/pkg/tls for queue-proxy TLS configuration (#16425)
  config/core/configmaps/deployment.yaml
  pkg/deployment/config.go
  pkg/deployment/config_test.go
  pkg/queue/sharedmain/main.go
  pkg/reconciler/revision/resources/deploy_test.go
  pkg/reconciler/revision/resources/queue.go
  pkg/reconciler/revision/resources/queue_test.go
Due: none

Update net-gateway-api nightly
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main

feat: set IngressRule.Tag from traffic target name
  pkg/reconciler/route/resources/ingress.go
  pkg/reconciler/route/resources/ingress_test.go
  pkg/reconciler/route/route_test.go
  vendor/knative.dev/networking/config/ingress.yaml
  vendor/knative.dev/networking/pkg/apis/networking/v1alpha1/ingress_types.go
Due: none

Update net-gateway-api nightly (#16438)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main

Update community files
  OWNERS_ALIASES
Due: none

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/golang.org/x/sync/singleflight/singleflight.go
  vendor/knative.dev/pkg/network/tls/config.go
  vendor/knative.dev/pkg/tls/config.go
  vendor/knative.dev/pkg/webhook/env.go
  vendor/knative.dev/pkg/webhook/webhook.go
  vendor/modules.txt
Due: none

Update community files (#16440)
  OWNERS_ALIASES
Due: none

upgrade to latest dependencies (#16441)
  go.mod
  go.sum
  vendor/golang.org/x/sync/singleflight/singleflight.go
  vendor/knative.dev/pkg/network/tls/config.go
  vendor/knative.dev/pkg/tls/config.go
  vendor/knative.dev/pkg/webhook/env.go
  vendor/knative.dev/pkg/webhook/webhook.go
  vendor/modules.txt
Due: none

Update net-istio nightly
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-kourier nightly
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-contour nightly
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

feat: create per-tag KIngress resources instead of a single KIngress per Route
  pkg/reconciler/route/reconcile_resources.go
  pkg/reconciler/route/reconcile_resources_test.go
  pkg/reconciler/route/resources/ingress.go
  pkg/reconciler/route/resources/ingress_test.go
  pkg/reconciler/route/resources/names/names.go
  pkg/reconciler/route/route.go
  pkg/reconciler/route/route_test.go
  pkg/reconciler/route/table_test.go
  test/e2e/externaldomaintls/auto_tls_test.go
  vendor/knative.dev/networking/pkg/apis/networking/register.go
Due: none

Update net-istio nightly (#16442)
  third_party/istio-latest/net-istio.yaml
Due: none

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/networking/pkg/apis/networking/register.go
  vendor/modules.txt
Due: none

Update net-kourier nightly (#16443)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-contour nightly (#16445)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

upgrade to latest dependencies (#16447)
  go.mod
  go.sum
  vendor/knative.dev/networking/pkg/apis/networking/register.go
  vendor/modules.txt
Due: none

Update net-gateway-api nightly (#16444)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main

refactor: split MakeIngressWithRollout into separate default and per-tag functions
  pkg/reconciler/route/resources/ingress.go
  pkg/reconciler/route/resources/ingress_test.go
Due: none

refactor: use DesiredIngressNames and split functions in reconcileIngresses
  pkg/reconciler/route/reconcile_resources.go
  pkg/reconciler/route/resources/ingress.go
  pkg/reconciler/route/resources/ingress_test.go
Due: none

fix: omit TagLabelKey label from default ingress to avoid empty-string value
  pkg/reconciler/route/resources/ingress.go
  pkg/reconciler/route/resources/ingress_test.go
  pkg/reconciler/route/route_test.go
Due: none

Update net-kourier nightly (#16450)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

refactor: remove dead empty-targets guard from MakeIngressWithRollout
  pkg/reconciler/route/resources/ingress.go
  pkg/reconciler/route/table_test.go
Due: none

Update net-contour nightly (#16451)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-istio nightly (#16453)
  third_party/istio-latest/net-istio.yaml
Due: none

Apply suggestions from code review
  pkg/reconciler/route/resources/ingress.go
Due: none

refactor: limit rollout annotation to default ingress and restructure reconcileIngresses
  pkg/reconciler/route/reconcile_resources.go
  pkg/reconciler/route/reconcile_resources_test.go
  pkg/reconciler/route/resources/ingress.go
  pkg/reconciler/route/resources/ingress_test.go
  pkg/reconciler/route/route.go
Due: none
