Repository knative/serving: changes, and which Prow jobs are due for each by the changed paths.
All: kourier-stable_serving_main, kourier-stable-tls_serving_main, contour-latest_serving_main, contour-tls_serving_main, gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main, https_serving_main

Path conditions:
  kourier-stable_serving_main: any of: ^third_party/kourier-latest/*
  kourier-stable-tls_serving_main: any of: ^third_party/kourier-latest/*
  contour-latest_serving_main: any of: ^third_party/contour-latest/*
  contour-tls_serving_main: any of: ^third_party/contour-latest/*
  gateway-api-latest_serving_main: any of: ^third_party/gateway-api-latest/*
  gateway-api-latest-and-contour_serving_main: any of: ^third_party/gateway-api-latest/*
  https_serving_main: any of: ^third_party/cert-manager-latest/*

Update net-istio nightly (#16562)
  third_party/istio-latest/net-istio.yaml
Due: none

fix: skip MarkRevisionCreationFailed for transient network errors
  pkg/reconciler/configuration/configuration.go
  pkg/reconciler/configuration/configuration_test.go
  pkg/testing/v1/configuration.go
Due: none

fix: use RevisionCreationRetrying (Unknown) for transient create errors
  pkg/apis/serving/v1/configuration_lifecycle.go
  pkg/reconciler/configuration/configuration.go
  pkg/reconciler/configuration/configuration_test.go
  pkg/testing/v1/configuration.go
Due: none

fix: replace fmt.Errorf with errors.New to satisfy perfsprint linter
  pkg/reconciler/configuration/configuration_test.go
Due: none

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/hack/library.sh
  vendor/modules.txt
Due: none

upgrade to latest dependencies (#16566)
  go.mod
  go.sum
  vendor/knative.dev/hack/library.sh
  vendor/modules.txt
Due: none

Update net-contour nightly
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-istio nightly
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-istio nightly (#16569)
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-contour nightly (#16567)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

fix: update Travis CI script to use the latest goreleaser installation method
  vendor/github.com/ahmetb/gen-crd-api-reference-docs/.travis.yml
Due: none

Update net-gateway-api nightly
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main

Update net-gateway-api nightly (#16568)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main

Allow custom ports for livenessProbe when multi-container-probing is enabled
  pkg/reconciler/revision/resources/deploy.go
  pkg/reconciler/revision/resources/deploy_test.go
  pkg/webhook/podspec_dryrun.go
Due: none

service minscale implementation
  cmd/controller/main.go
  pkg/apis/autoscaling/v1alpha1/pa_lifecycle.go
  pkg/apis/serving/metadata_validation.go
  pkg/apis/serving/metadata_validation_test.go
  pkg/apis/serving/register.go
  pkg/apis/serving/v1/service_validation.go
  pkg/reconciler/autoscaling/kpa/kpa_test.go
  pkg/reconciler/autoscaling/kpa/scaler.go
  pkg/reconciler/revision/cruds_test.go
  pkg/reconciler/revision/reconcile_resources.go
  pkg/reconciler/servicescaler/controller.go
  pkg/reconciler/servicescaler/servicescaler.go
  pkg/reconciler/servicescaler/servicescaler_test.go
  pkg/testing/v1/route.go
  test/ha/ha.go
Due: none

fix revision metadata test
  pkg/reconciler/revision/cruds_test.go
Due: none

add controller docs
  docs/controllers/CONTROLLERS.md
Due: none

docs
  docs/controllers/CONTROLLERS.md
Due: none

avoid patches when neither root nor revision have service min scale annotation
  pkg/reconciler/servicescaler/servicescaler.go
  pkg/reconciler/servicescaler/servicescaler_test.go
Due: none

add new controller test
  pkg/reconciler/servicescaler/servicescaler_test.go
Due: none

add route annotation validation
  pkg/apis/serving/v1/route_validation.go
  pkg/apis/serving/v1/route_validation_test.go
Due: none

Allow custom ports for livenessProbe when multi-container-probing is enabled (#16572)
  pkg/reconciler/revision/resources/deploy.go
  pkg/reconciler/revision/resources/deploy_test.go
  pkg/webhook/podspec_dryrun.go
Due: none

Update net-contour nightly
  third_party/contour-latest/contour.yaml
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-contour nightly (#16575)
  third_party/contour-latest/contour.yaml
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/modules.txt
Due: none

upgrade to latest dependencies (#16576)
  go.mod
  go.sum
  vendor/modules.txt
Due: none

Update community files
  OWNERS_ALIASES
Due: none

Update community files (#16577)
  OWNERS_ALIASES
Due: none

Update net-kourier nightly
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-gateway-api nightly (#16579)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main

Update net-contour nightly (#16578)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-kourier nightly (#16581)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-istio nightly (#16580)
  third_party/istio-latest/net-istio.yaml
Due: none

drop workflow as prow now supports triggering actions with /ok-to-test label
  .github/workflows/pr-gh-workflow-approve.yaml
Due: none

drop unnecessary workflow
  .github/workflows/pr-gh-workflow-approve.yaml
Due: none

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/go.uber.org/zap/CHANGELOG.md
  vendor/go.uber.org/zap/zapcore/entry.go
  vendor/knative.dev/pkg/version/version.go
  vendor/modules.txt
Due: none
