Repository knative/serving: changes, and which Prow jobs are due for each by the changed paths.
All: kourier-stable_serving_main, kourier-stable-tls_serving_main, contour-latest_serving_main, contour-tls_serving_main, gateway-api-latest_serving_main, https_serving_main

kourier-stable_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --kourier-version stable
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

kourier-stable-tls_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-external-domain-tls-tests.sh --kourier-version stable
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: DOCKER_IN_DOCKER_ENABLED
  ...

contour-latest_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --contour-version latest
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

contour-tls_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-external-domain-tls-tests.sh --contour-version latest
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: DOCKER_IN_DOCKER_ENABLED
  ...

gateway-api-latest_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --gateway-api-version latest
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

https_serving_main:
  decorate: true
  optional: true
  spec:
    containers:
    - args:
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --https
      - --run-test
      - ./test/e2e-external-domain-tls-tests.sh --https
      command:
      - runner.sh
      env:
      - name: E2E_CLUSTER_REGION
  ...

Update net-istio nightly (#15406)
  third_party/istio-latest/net-istio.yaml
Due: none

Use a different 'static' image that supports s390x and ppc
  .ko.yaml
Due: none

Use a different 'static' image that supports s390x and ppc (#15407)
  .ko.yaml
Due: none

Use a different 'static' image that supports s390x and ppc (#15409)
  .ko.yaml
Due: none

Feature: added PodSpec.HostIPC extension
  config/core/300-resources/configuration.yaml
  config/core/300-resources/revision.yaml
  config/core/300-resources/service.yaml
  config/core/configmaps/features.yaml
  hack/schemapatch-config.yaml
  pkg/apis/config/features.go
  pkg/apis/config/features_test.go
  pkg/apis/serving/fieldmask.go
Due: none

updates for hostipc
  config/core/300-resources/configuration.yaml
  config/core/300-resources/revision.yaml
  config/core/300-resources/service.yaml
  config/core/configmaps/features.yaml
  pkg/apis/serving/fieldmask.go
Due: none

Update net-gateway-api nightly
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-contour nightly
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-istio nightly
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-kourier nightly
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

add support for hostpid and hostnetwork
  config/core/300-resources/configuration.yaml
  config/core/300-resources/revision.yaml
  config/core/300-resources/service.yaml
  config/core/configmaps/features.yaml
  hack/schemapatch-config.yaml
  pkg/apis/config/features.go
  pkg/apis/config/features_test.go
  pkg/apis/serving/fieldmask.go
Due: none

Update net-istio nightly (#15412)
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-gateway-api nightly (#15410)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-contour nightly (#15411)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-kourier nightly (#15413)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

clean up
  pkg/cleanup/cmd/cleanup/cleanup.go
  pkg/reconciler/autoscaling/hpa/resources/hpa.go
Due: none

Do not run TestTLSCertificateRotation in parallel with other tests
  test/e2e/systeminternaltls/system_internal_tls_test.go
Due: none

Do not run TestTLSCertificateRotation in parallel with other tests (#15417)
  test/e2e/systeminternaltls/system_internal_tls_test.go
Due: none

clean up (#15415)
  pkg/cleanup/cmd/cleanup/cleanup.go
  pkg/reconciler/autoscaling/hpa/resources/hpa.go
Due: none

clean up (#15418)
  pkg/cleanup/cmd/cleanup/cleanup.go
  pkg/reconciler/autoscaling/hpa/resources/hpa.go
Due: none

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/hack/boilerplate.go.txt
  vendor/knative.dev/hack/codegen-library.sh
  vendor/knative.dev/hack/go.work
  vendor/knative.dev/hack/go.work.sum
  vendor/knative.dev/hack/library.sh
  vendor/knative.dev/hack/presubmit-tests.sh
  vendor/knative.dev/hack/release.sh
  vendor/modules.txt
Due: none

upgrade to latest dependencies (#15419)
  go.mod
  go.sum
  vendor/knative.dev/hack/boilerplate.go.txt
  vendor/knative.dev/hack/codegen-library.sh
  vendor/knative.dev/hack/go.work
  vendor/knative.dev/hack/go.work.sum
  vendor/knative.dev/hack/library.sh
  vendor/knative.dev/hack/presubmit-tests.sh
  vendor/knative.dev/hack/release.sh
  vendor/modules.txt
Due: none

clean up old certificate leases
  pkg/cleanup/cmd/cleanup/cleanup.go
Due: none

clean up old certificate leases (#15420)
  pkg/cleanup/cmd/cleanup/cleanup.go
Due: none

Update community files
  OWNERS_ALIASES
Due: none

clean up old certificate leases (#15424)
  pkg/cleanup/cmd/cleanup/cleanup.go
Due: none

Update net-gateway-api nightly (#15421)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-contour nightly (#15422)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-kourier nightly (#15423)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update community files (#15425)
  OWNERS_ALIASES
Due: none

:fire: remove unneeded workflows
  .github/workflows/kind-e2e.yaml
  .github/workflows/knative-go-build.yaml
  .github/workflows/knative-go-test.yaml
  .github/workflows/knative-security.yaml
  .github/workflows/knative-stale.yaml
  .github/workflows/knative-style.yaml
  .github/workflows/knative-verify.yaml
Due: none

:open_file_folder: Update openshift specific files.
  openshift/ci-operator/knative-images/activator/Dockerfile
  openshift/ci-operator/knative-images/autoscaler-hpa/Dockerfile
  openshift/ci-operator/knative-images/autoscaler/Dockerfile
  openshift/ci-operator/knative-images/controller/Dockerfile
  openshift/ci-operator/knative-images/migrate/Dockerfile
  openshift/ci-operator/knative-images/queue/Dockerfile
  openshift/ci-operator/knative-images/webhook/Dockerfile
  openshift/ci-operator/knative-test-images/autoscale/Dockerfile
  openshift/ci-operator/knative-test-images/failing/Dockerfile
  openshift/ci-operator/knative-test-images/grpc-ping/Dockerfile
  openshift/ci-operator/knative-test-images/hellohttp2/Dockerfile
  openshift/ci-operator/knative-test-images/hellovolume/Dockerfile
  openshift/ci-operator/knative-test-images/helloworld/Dockerfile
  openshift/ci-operator/knative-test-images/httpproxy/Dockerfile
  openshift/ci-operator/knative-test-images/pizzaplanetv1/Dockerfile
  openshift/ci-operator/knative-test-images/pizzaplanetv2/Dockerfile
  openshift/ci-operator/knative-test-images/readiness/Dockerfile
  openshift/ci-operator/knative-test-images/revisionfailure/Dockerfile
  openshift/ci-operator/knative-test-images/runtime/Dockerfile
  openshift/ci-operator/knative-test-images/servingcontainer/Dockerfile
  openshift/ci-operator/knative-test-images/sidecarcontainer/Dockerfile
  openshift/ci-operator/knative-test-images/singlethreaded/Dockerfile
  openshift/ci-operator/knative-test-images/slowstart/Dockerfile
  openshift/ci-operator/knative-test-images/timeout/Dockerfile
  openshift/ci-operator/knative-test-images/volumes/Dockerfile
  openshift/ci-operator/knative-test-images/wsserver/Dockerfile
  openshift/release/artifacts/serving-core.yaml
  openshift/release/artifacts/serving-crds.yaml
  openshift/release/artifacts/serving-hpa.yaml
  openshift/release/artifacts/serving-post-install-jobs.yaml
Due: none

Path conditions:
  kourier-stable_serving_main: any of: ^third_party/kourier-latest/*
  kourier-stable-tls_serving_main: any of: ^third_party/kourier-latest/*
  contour-latest_serving_main: any of: ^third_party/contour-latest/*
  contour-tls_serving_main: any of: ^third_party/contour-latest/*
  gateway-api-latest_serving_main: any of: ^third_party/gateway-api-latest/*
  https_serving_main: any of: ^third_party/cert-manager-latest/*
