Repository knative/serving: changes, and which Prow jobs are due for each by the changed paths.
All: kourier-stable_serving_main, kourier-stable-tls_serving_main, contour-latest_serving_main, contour-tls_serving_main, gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main, https_serving_main

kourier-stable_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --kourier-version stable
      env:
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

kourier-stable-tls_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-external-domain-tls-tests.sh --kourier-version stable
      env:
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

contour-latest_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --contour-version latest
      env:
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

contour-tls_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-external-domain-tls-tests.sh --contour-version latest
      env:
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

gateway-api-latest_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --gateway-api-version latest
      env:
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

gateway-api-latest-and-contour_serving_main:
  decorate: true
  optional: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --gateway-api-version latest --gateway-api-implementation contour
      env:
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

https_serving_main:
  decorate: true
  optional: true
  spec:
    containers:
    - args:
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --https
      - --run-test
      - ./test/e2e-external-domain-tls-tests.sh --https
      command:
      - runner.sh
      env:
      - name: DOCKER_IN_DOCKER_ENABLED
  ...

Update net-gateway-api nightly (#16681)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main

Update net-contour nightly
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-contour nightly (#16683)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Tolerate missing config ConfigMaps at webhook startup
  pkg/apis/config/store.go
Due: none

Address review: webhook scoped, add namespace param and tests
  cmd/webhook/main.go
  pkg/apis/config/store.go
  pkg/apis/config/store_test.go
Due: none

Refactor all occurences of non-contant format string err
  pkg/apis/autoscaling/v1alpha1/metric_lifecycle.go
  pkg/apis/autoscaling/v1alpha1/pa_lifecycle.go
  pkg/apis/serving/k8s_lifecycle.go
  pkg/apis/serving/v1/revision_lifecycle.go
  pkg/apis/serving/v1/route_lifecycle.go
  pkg/apis/serving/v1/service_lifecycle.go
  pkg/apis/serving/v1beta1/domainmapping_lifecycle.go
Due: none

Reject duplicate init container names and report them under initContainers
  pkg/apis/serving/k8s_validation.go
  pkg/apis/serving/k8s_validation_test.go
Due: none

Don't mark idle revisions as ProgressDeadlineExceeded
  pkg/apis/autoscaling/v1alpha1/pa_lifecycle.go
  pkg/apis/serving/v1/revision_lifecycle.go
  pkg/apis/serving/v1/revision_lifecycle_test.go
  pkg/reconciler/autoscaling/kpa/kpa.go
  pkg/reconciler/autoscaling/kpa/kpa_test.go
  pkg/reconciler/revision/table_test.go
Due: none

Update approvers in OWNERS file
  pkg/apis/OWNERS
Due: none

Update approvers in OWNERS file (#16699)
  pkg/apis/OWNERS
Due: none

Refactor all occurences of non-contant format string err (#16690)
  pkg/apis/autoscaling/v1alpha1/metric_lifecycle.go
  pkg/apis/autoscaling/v1alpha1/pa_lifecycle.go
  pkg/apis/serving/k8s_lifecycle.go
  pkg/apis/serving/v1/revision_lifecycle.go
  pkg/apis/serving/v1/route_lifecycle.go
  pkg/apis/serving/v1/service_lifecycle.go
  pkg/apis/serving/v1beta1/domainmapping_lifecycle.go
Due: none

Use Route traffic for Knative DomainMappings
  pkg/apis/serving/v1beta1/domainmapping_lifecycle.go
  pkg/apis/serving/v1beta1/domainmapping_lifecycle_test.go
  pkg/reconciler/domainmapping/controller.go
  pkg/reconciler/domainmapping/reconciler.go
  pkg/reconciler/domainmapping/resources/ingress.go
  pkg/reconciler/domainmapping/resources/ingress_test.go
  pkg/reconciler/domainmapping/table_test.go
Due: none

Trust every CA in the activator's routing-serving-certs secret
  pkg/activator/certificate/cache.go
  pkg/activator/certificate/cache_test.go
Due: none

Document the activator subset size computation in config-autoscaler
  config/core/configmaps/autoscaler.yaml
Due: none

fix: treat LRR-failed-but-LCR-different as transient in traffic config
  pkg/reconciler/route/traffic/traffic.go
  pkg/reconciler/route/traffic/traffic_test.go
Due: none

Path conditions:
  kourier-stable_serving_main: any of: ^third_party/kourier-latest/*
  kourier-stable-tls_serving_main: any of: ^third_party/kourier-latest/*
  contour-latest_serving_main: any of: ^third_party/contour-latest/*
  contour-tls_serving_main: any of: ^third_party/contour-latest/*
  gateway-api-latest_serving_main: any of: ^third_party/gateway-api-latest/*
  gateway-api-latest-and-contour_serving_main: any of: ^third_party/gateway-api-latest/*
  https_serving_main: any of: ^third_party/cert-manager-latest/*
