Repository knative/serving: changes, and which Prow jobs are due for each by the changed paths.
All: kourier-stable_serving_main, kourier-stable-tls_serving_main, contour-latest_serving_main, contour-tls_serving_main, gateway-api-latest_serving_main, https_serving_main

Path conditions:
  kourier-stable_serving_main: any of: ^third_party/kourier-latest/*
  kourier-stable-tls_serving_main: any of: ^third_party/kourier-latest/*
  contour-latest_serving_main: any of: ^third_party/contour-latest/*
  contour-tls_serving_main: any of: ^third_party/contour-latest/*
  gateway-api-latest_serving_main: any of: ^third_party/gateway-api-latest/*
  https_serving_main: any of: ^third_party/cert-manager-latest/*

Do not install go libs upfront
  openshift/ci-operator/build-image/Dockerfile
Due: none

Update net-istio nightly
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-gateway-api nightly
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-contour nightly
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-istio nightly (#15427)
  third_party/istio-latest/net-istio.yaml
Due: none

add test to cover cert manager config edge case
  pkg/reconciler/certificate/config/cert_manager_test.go
Due: none

fix edge case bug in cert manager config
  pkg/reconciler/certificate/config/cert_manager.go
  pkg/reconciler/certificate/config/cert_manager_test.go
Due: none

Update net-gateway-api nightly (#15428)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-contour nightly (#15430)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-kourier nightly
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-kourier nightly (#15429)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

fix: http probe downgrades from http2 to http1 when it encounters an error
  pkg/queue/health/probe.go
  pkg/queue/health/probe_test.go
Due: none

Fix bug in cert manager config (#15434)
  pkg/reconciler/certificate/config/cert_manager.go
  pkg/reconciler/certificate/config/cert_manager_test.go
Due: none

fix: retry the options request until a probe succeeds for a protocol
  pkg/queue/health/probe.go
Due: none

Add support for hostipc, hostpid and hostnetwork (#15414)
  config/core/300-resources/configuration.yaml
  config/core/300-resources/revision.yaml
  config/core/300-resources/service.yaml
  config/core/configmaps/features.yaml
  hack/schemapatch-config.yaml
  pkg/apis/config/features.go
  pkg/apis/config/features_test.go
  pkg/apis/serving/fieldmask.go
Due: none

[release-1.15] Fix bug in cert manager config (#15437)
  pkg/reconciler/certificate/config/cert_manager.go
  pkg/reconciler/certificate/config/cert_manager_test.go
Due: none

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/hack/release.sh
  vendor/modules.txt
Due: none

upgrade to latest dependencies (#15439)
  go.mod
  go.sum
  vendor/knative.dev/hack/release.sh
  vendor/modules.txt
Due: none

Update net-gateway-api nightly (#15444)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-contour nightly (#15445)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/github.com/tsenart/vegeta/v12/README.md
  vendor/github.com/tsenart/vegeta/v12/attack.go
  vendor/github.com/tsenart/vegeta/v12/flags.go
  vendor/github.com/tsenart/vegeta/v12/lib/attack.go
  vendor/golang.org/x/sync/LICENSE
  vendor/modules.txt
Due: none

upgrade to latest dependencies (#15447)
  go.mod
  go.sum
  vendor/github.com/tsenart/vegeta/v12/README.md
  vendor/github.com/tsenart/vegeta/v12/attack.go
  vendor/github.com/tsenart/vegeta/v12/flags.go
  vendor/github.com/tsenart/vegeta/v12/lib/attack.go
  vendor/golang.org/x/sync/LICENSE
  vendor/modules.txt
Due: none

Update net-kourier nightly (#15446)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-istio nightly (#15443)
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-gateway-api nightly (#15448)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-kourier nightly (#15451)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-contour nightly (#15452)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update community files
  OWNERS_ALIASES
Due: none

Update community files (#15453)
  OWNERS_ALIASES
Due: none
