Repository knative/serving: changes, and which Prow jobs are due for each by the changed paths.
All: kourier-stable_serving_main, kourier-stable-tls_serving_main, contour-latest_serving_main, contour-tls_serving_main, gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main, https_serving_main

kourier-stable_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --kourier-version stable
      env:
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

kourier-stable-tls_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-external-domain-tls-tests.sh --kourier-version stable
      env:
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

contour-latest_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --contour-version latest
      env:
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

contour-tls_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-external-domain-tls-tests.sh --contour-version latest
      env:
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

gateway-api-latest_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --gateway-api-version latest
      env:
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

gateway-api-latest-and-contour_serving_main:
  decorate: true
  optional: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --gateway-api-version latest --gateway-api-implementation contour
      env:
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

https_serving_main:
  decorate: true
  optional: true
  spec:
    containers:
    - args:
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --https
      - --run-test
      - ./test/e2e-external-domain-tls-tests.sh --https
      command:
      - runner.sh
      env:
      - name: DOCKER_IN_DOCKER_ENABLED
  ...

update queue proxy metric description
  pkg/queue/request_metric.go
Due: none

stats scraper stat should include namespace
  pkg/autoscaler/metrics/stats_scraper.go
Due: none

fix unit test
  pkg/queue/request_metric_test.go
Due: none

Serving Metric Tweaks (#16062)
  pkg/autoscaler/metrics/stats_scraper.go
  pkg/queue/request_metric.go
  pkg/queue/request_metric_test.go
Due: none

Update net-istio nightly
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-gateway-api nightly
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main

Update net-kourier nightly
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-contour nightly
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-gateway-api nightly (#16065)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main

Update net-kourier nightly (#16066)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-contour nightly (#16067)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-istio nightly (#16064)
  third_party/istio-latest/net-istio.yaml
Due: none

approve workflows if ok-to-test label is present (#16054)
  .github/workflows/pr-gh-workflow-approve.yaml
Due: none

remove dryrun feature flag
  config/core/configmaps/features.yaml
  pkg/apis/config/features.go
  pkg/apis/config/features_test.go
  pkg/reconciler/route/resources/service_test.go
  pkg/reconciler/route/table_test.go
  pkg/webhook/podspec_dryrun.go
  pkg/webhook/podspec_dryrun_test.go
  pkg/webhook/validate_unstructured.go
  pkg/webhook/validate_unstructured_test.go
  test/e2e/service_validation_test.go
  test/v1/service.go
Due: none

cleanup and remove update check
  pkg/webhook/validate_unstructured.go
  pkg/webhook/validate_unstructured_test.go
  test/e2e/service_validation_test.go
  test/v1/service.go
Due: none

optimize dryrun
  pkg/webhook/validate_unstructured.go
Due: none

remove unnecessary line
  pkg/webhook/podspec_dryrun_test.go
Due: none

add tests for skip create case
  pkg/webhook/validate_unstructured_test.go
Due: none

linting and cleanup
  pkg/reconciler/route/resources/service_test.go
  pkg/reconciler/route/table_test.go
  test/e2e/service_validation_test.go
Due: none

cleanup code
  pkg/webhook/validate_unstructured_test.go
Due: none

fix test
  test/v1/service.go
Due: none

Change dry-run behavior (#16008)
  config/core/configmaps/features.yaml
  pkg/apis/config/features.go
  pkg/apis/config/features_test.go
  pkg/reconciler/route/resources/service_test.go
  pkg/reconciler/route/table_test.go
  pkg/webhook/podspec_dryrun.go
  pkg/webhook/podspec_dryrun_test.go
  pkg/webhook/validate_unstructured.go
  pkg/webhook/validate_unstructured_test.go
  test/e2e/service_validation_test.go
Due: none

Add Restricted flag to SecurePodDefaults and make the default Enabled
  config/core/configmaps/features.yaml
  pkg/apis/config/features.go
  pkg/apis/config/features_test.go
  pkg/apis/serving/fieldmask.go
  pkg/apis/serving/fieldmask_test.go
  pkg/apis/serving/v1/configuration_defaults_test.go
  pkg/apis/serving/v1/revision_defaults.go
  pkg/apis/serving/v1/revision_defaults_test.go
  pkg/apis/serving/v1/service_defaults_test.go
  pkg/testing/v1/revision.go
Due: none

update checksum after rebase
  config/core/configmaps/features.yaml
Due: none

add initialize conditions to MakePA to avoid potential race conditions (#16037)
  config/core/300-resources/podautoscaler.yaml
  docs/serving-api.md
  pkg/apis/autoscaling/v1alpha1/pa_types.go
  pkg/apis/serving/v1/revision_lifecycle_test.go
  pkg/reconciler/revision/table_test.go
  pkg/reconciler/testing/v1/factory.go
Due: none

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/github.com/prometheus/client_golang/prometheus/desc.go
  vendor/github.com/prometheus/client_golang/prometheus/internal/go_runtime_metrics.go
  vendor/github.com/prometheus/client_golang/prometheus/labels.go
  vendor/github.com/prometheus/common/expfmt/decode.go
  vendor/github.com/prometheus/common/expfmt/encode.go
  vendor/github.com/prometheus/common/expfmt/expfmt.go
  vendor/github.com/prometheus/common/expfmt/fuzz.go
  vendor/github.com/prometheus/common/expfmt/openmetrics_create.go
  vendor/github.com/prometheus/common/expfmt/text_create.go
  vendor/github.com/prometheus/common/expfmt/text_parse.go
  vendor/github.com/prometheus/common/model/labels.go
  vendor/github.com/prometheus/common/model/labelset.go
  vendor/github.com/prometheus/common/model/metric.go
  vendor/github.com/prometheus/common/model/time.go
  vendor/github.com/prometheus/common/model/value.go
  vendor/github.com/prometheus/common/model/value_histogram.go
  vendor/github.com/prometheus/common/model/value_type.go
  vendor/google.golang.org/protobuf/internal/genid/api_gen.go
  vendor/google.golang.org/protobuf/internal/version/version.go
  vendor/google.golang.org/protobuf/types/descriptorpb/descriptor.pb.go
  vendor/knative.dev/pkg/controller/controller.go
  vendor/knative.dev/pkg/controller/queue_metrics.go
  vendor/knative.dev/pkg/controller/two_lane_queue.go
  vendor/modules.txt
Due: none

Revert "add initialize conditions to MakePA to avoid potential race conditions (#16037)"
  config/core/300-resources/podautoscaler.yaml
  docs/serving-api.md
  pkg/apis/autoscaling/v1alpha1/pa_types.go
  pkg/apis/serving/v1/revision_lifecycle_test.go
  pkg/reconciler/revision/table_test.go
  pkg/reconciler/testing/v1/factory.go
Due: none

upgrade to latest dependencies (#16070)
  go.mod
  go.sum
  vendor/github.com/prometheus/client_golang/prometheus/desc.go
  vendor/github.com/prometheus/client_golang/prometheus/internal/go_runtime_metrics.go
  vendor/github.com/prometheus/client_golang/prometheus/labels.go
  vendor/github.com/prometheus/common/expfmt/decode.go
  vendor/github.com/prometheus/common/expfmt/encode.go
  vendor/github.com/prometheus/common/expfmt/expfmt.go
  vendor/github.com/prometheus/common/expfmt/fuzz.go
  vendor/github.com/prometheus/common/expfmt/openmetrics_create.go
  vendor/github.com/prometheus/common/expfmt/text_create.go
  vendor/github.com/prometheus/common/expfmt/text_parse.go
  vendor/github.com/prometheus/common/model/labels.go
  vendor/github.com/prometheus/common/model/labelset.go
  vendor/github.com/prometheus/common/model/metric.go
  vendor/github.com/prometheus/common/model/time.go
  vendor/github.com/prometheus/common/model/value.go
  vendor/github.com/prometheus/common/model/value_histogram.go
  vendor/github.com/prometheus/common/model/value_type.go
  vendor/google.golang.org/protobuf/internal/genid/api_gen.go
  vendor/google.golang.org/protobuf/internal/version/version.go
  vendor/google.golang.org/protobuf/types/descriptorpb/descriptor.pb.go
  vendor/knative.dev/pkg/controller/controller.go
  vendor/knative.dev/pkg/controller/queue_metrics.go
  vendor/knative.dev/pkg/controller/two_lane_queue.go
  vendor/modules.txt
Due: none

Revert "add initialize conditions to MakePA to avoid potential race conditions (#16037)" (#16075)
  config/core/300-resources/podautoscaler.yaml
  docs/serving-api.md
  pkg/apis/autoscaling/v1alpha1/pa_types.go
  pkg/apis/serving/v1/revision_lifecycle_test.go
  pkg/reconciler/revision/table_test.go
  pkg/reconciler/testing/v1/factory.go
Due: none

Update net-kourier nightly (#16073)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-gateway-api nightly (#16071)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main

Update net-istio nightly (#16072)
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-contour nightly (#16074)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Path conditions:
  kourier-stable_serving_main: any of: ^third_party/kourier-latest/*
  kourier-stable-tls_serving_main: any of: ^third_party/kourier-latest/*
  contour-latest_serving_main: any of: ^third_party/contour-latest/*
  contour-tls_serving_main: any of: ^third_party/contour-latest/*
  gateway-api-latest_serving_main: any of: ^third_party/gateway-api-latest/*
  gateway-api-latest-and-contour_serving_main: any of: ^third_party/gateway-api-latest/*
  https_serving_main: any of: ^third_party/cert-manager-latest/*
