Repository knative/serving: changes, and which Prow jobs are due for each by the changed paths.
All: kourier-stable_serving_main, kourier-stable-tls_serving_main, contour-latest_serving_main, contour-tls_serving_main, gateway-api-latest_serving_main, https_serving_main

kourier-stable_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --kourier-version stable
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

kourier-stable-tls_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-external-domain-tls-tests.sh --kourier-version stable
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: DOCKER_IN_DOCKER_ENABLED
  ...

contour-latest_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --contour-version latest
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

contour-tls_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-external-domain-tls-tests.sh --contour-version latest
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: DOCKER_IN_DOCKER_ENABLED
  ...

gateway-api-latest_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --gateway-api-version latest
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

https_serving_main:
  decorate: true
  optional: true
  spec:
    containers:
    - args:
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --https
      - --run-test
      - ./test/e2e-external-domain-tls-tests.sh --https
      command:
      - runner.sh
      env:
      - name: E2E_CLUSTER_REGION
  ...

Update net-contour nightly
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-contour nightly (#15031)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/github.com/googleapis/gax-go/v2/.release-please-manifest.json
  vendor/github.com/googleapis/gax-go/v2/CHANGES.md
  vendor/github.com/googleapis/gax-go/v2/internal/version.go
  vendor/github.com/prometheus/common/expfmt/expfmt.go
  vendor/github.com/prometheus/common/expfmt/openmetrics_create.go
  vendor/google.golang.org/api/internal/settings.go
  vendor/google.golang.org/api/internal/version.go
  vendor/modules.txt
Due: none

upgrade to latest dependencies (#15032)
  go.mod
  go.sum
  vendor/github.com/googleapis/gax-go/v2/.release-please-manifest.json
  vendor/github.com/googleapis/gax-go/v2/CHANGES.md
  vendor/github.com/googleapis/gax-go/v2/internal/version.go
  vendor/github.com/prometheus/common/expfmt/expfmt.go
  vendor/github.com/prometheus/common/expfmt/openmetrics_create.go
  vendor/google.golang.org/api/internal/settings.go
  vendor/google.golang.org/api/internal/version.go
  vendor/modules.txt
Due: none

remove httpheaders from autoscaler and webhooks probes
  config/core/deployments/autoscaler.yaml
  config/core/deployments/webhook.yaml
  pkg/queue/handler_test.go
  third_party/istio-latest/net-istio.yaml
Due: none

remove special logic for user-agent header with istio mtls
  config/core/deployments/activator.yaml
  config/core/deployments/autoscaler.yaml
  config/core/deployments/webhook.yaml
  pkg/queue/handler_test.go
  pkg/reconciler/revision/resources/deploy.go
  pkg/reconciler/revision/resources/deploy_test.go
  pkg/reconciler/revision/resources/queue.go
  pkg/reconciler/revision/resources/queue_test.go
Due: none

test another image
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-certmanager nightly
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-gateway-api nightly
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-kourier nightly
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-istio nightly
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-certmanager nightly (#15035)
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-gateway-api nightly (#15036)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-contour nightly (#15037)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-istio nightly (#15038)
  third_party/istio-latest/net-istio.yaml
Due: none

revert test changes
  pkg/queue/handler_test.go
Due: none

Check all container's status when calculating revision ContainerHealthy condition (#14744)
  pkg/apis/serving/v1/revision_lifecycle.go
  pkg/reconciler/revision/reconcile_resources.go
Due: none

use user-agent header in test
  pkg/queue/handler_test.go
Due: none

Update net-kourier nightly (#15039)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-certmanager nightly (#15043)
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

vendor fixes
  go.mod
  go.sum
  third_party/VENDOR-LICENSE/github.com/grpc-ecosystem/grpc-gateway/v2/LICENSE.txt
  third_party/VENDOR-LICENSE/sigs.k8s.io/gateway-api/apis/v1beta1/LICENSE
  vendor/github.com/evanphx/json-patch/README.md
  vendor/github.com/evanphx/json-patch/patch.go
  vendor/github.com/grpc-ecosystem/grpc-gateway/v2/LICENSE.txt
  vendor/github.com/grpc-ecosystem/grpc-gateway/v2/runtime/fieldmask.go
  vendor/github.com/grpc-ecosystem/grpc-gateway/v2/runtime/handler.go
  vendor/github.com/grpc-ecosystem/grpc-gateway/v2/runtime/marshal_httpbodyproto.go
  vendor/github.com/imdario/mergo/CONTRIBUTING.md
  vendor/github.com/imdario/mergo/README.md
  vendor/github.com/imdario/mergo/SECURITY.md
  vendor/github.com/imdario/mergo/map.go
  vendor/github.com/imdario/mergo/merge.go
  vendor/github.com/imdario/mergo/mergo.go
  vendor/modules.txt
  vendor/sigs.k8s.io/gateway-api/apis/v1/doc.go
  vendor/sigs.k8s.io/gateway-api/apis/v1/gateway_types.go
  vendor/sigs.k8s.io/gateway-api/apis/v1/gatewayclass_types.go
  vendor/sigs.k8s.io/gateway-api/apis/v1/httproute_types.go
  vendor/sigs.k8s.io/gateway-api/apis/v1/object_reference_types.go
  vendor/sigs.k8s.io/gateway-api/apis/v1/shared_types.go
  vendor/sigs.k8s.io/gateway-api/apis/v1/zz_generated.deepcopy.go
  vendor/sigs.k8s.io/gateway-api/apis/v1/zz_generated.register.go
  vendor/sigs.k8s.io/gateway-api/apis/v1beta1/gateway_types.go
  vendor/sigs.k8s.io/gateway-api/apis/v1beta1/gatewayclass_types.go
  vendor/sigs.k8s.io/gateway-api/apis/v1beta1/httproute_types.go
  vendor/sigs.k8s.io/gateway-api/apis/v1beta1/object_reference_types.go
  vendor/sigs.k8s.io/gateway-api/apis/v1beta1/shared_types.go
  vendor/sigs.k8s.io/gateway-api/apis/v1beta1/zz_generated.deepcopy.go
Due: none

move to k8s v0.29.2
  go.sum
  vendor/github.com/go-logr/logr/slogr/slogr.go
  vendor/modules.txt
Due: none

update cm
  config/core/configmaps/netcertmanager.yaml
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

avoid generating init func if we dont have to
  cmd/controller/main.go
  hack/update-codegen.sh
  pkg/net-certmanager/client/certmanager/injection/informers/acme/v1/challenge/challenge.go
  pkg/net-certmanager/client/certmanager/injection/informers/acme/v1/order/order.go
  pkg/net-certmanager/client/certmanager/injection/informers/certmanager/v1/certificate/certificate.go
  pkg/net-certmanager/client/certmanager/injection/informers/certmanager/v1/certificaterequest/certificaterequest.go
  pkg/net-certmanager/client/certmanager/injection/informers/certmanager/v1/clusterissuer/clusterissuer.go
  pkg/net-certmanager/client/certmanager/injection/informers/certmanager/v1/issuer/issuer.go
  vendor/github.com/cert-manager/cert-manager/pkg/apis/acme/v1/zz_generated.deepcopy.go
  vendor/github.com/cert-manager/cert-manager/pkg/apis/certmanager/v1/zz_generated.deepcopy.go
  vendor/k8s.io/code-generator/generate-groups.sh
  vendor/k8s.io/code-generator/generate-internal-groups.sh
  vendor/knative.dev/pkg/codegen/cmd/injection-gen/generators/informer.go
  vendor/knative.dev/pkg/codegen/cmd/injection-gen/main.go
  vendor/knative.dev/pkg/hack/generate-knative.sh
  vendor/knative.dev/pkg/injection/injection.go
Due: none

use go template
  vendor/knative.dev/pkg/codegen/cmd/injection-gen/args/args.go
  vendor/knative.dev/pkg/codegen/cmd/injection-gen/generators/informer.go
  vendor/knative.dev/pkg/codegen/cmd/injection-gen/main.go
Due: none

fix ca-issuer
  test/config/externaldomaintls/certmanager/caissuer/config-certmanager.yaml
Due: none

fix license header
  pkg/net-certmanager/reconciler/certificate/certificate.go
  pkg/net-certmanager/reconciler/certificate/certificate_test.go
  pkg/net-certmanager/reconciler/certificate/config/cert_manager.go
  pkg/net-certmanager/reconciler/certificate/config/cert_manager_test.go
  pkg/net-certmanager/reconciler/certificate/config/store.go
  pkg/net-certmanager/reconciler/certificate/config/store_test.go
  pkg/net-certmanager/reconciler/certificate/controller.go
  pkg/net-certmanager/reconciler/testing/factory.go
  pkg/net-certmanager/reconciler/testing/listers.go
Due: none

fix more license headers
  pkg/net-certmanager/reconciler/certificate/resources/cert_manager_certificate.go
  pkg/net-certmanager/reconciler/certificate/resources/cert_manager_certificate_test.go
Due: none

optionally start net-certmanager reconciler
  cmd/controller/main.go
  config/core/200-roles/clusterrole.yaml
  test/e2e-external-domain-tls-tests.sh
  test/e2e-tests.sh
  vendor/knative.dev/pkg/injection/injection.go
Due: none

fix num of controller
  test/ha/ha.go
Due: none

fix tests
  .github/workflows/kind-e2e.yaml
  test/e2e-common.sh
Due: none

rename flag and fixes
  hack/update-codegen.sh
  vendor/knative.dev/pkg/codegen/cmd/injection-gen/args/args.go
  vendor/knative.dev/pkg/codegen/cmd/injection-gen/generators/informer.go
Due: none

Path conditions:
  kourier-stable_serving_main: any of: ^third_party/kourier-latest/*
  kourier-stable-tls_serving_main: any of: ^third_party/kourier-latest/*
  contour-latest_serving_main: any of: ^third_party/contour-latest/*
  contour-tls_serving_main: any of: ^third_party/contour-latest/*
  gateway-api-latest_serving_main: any of: ^third_party/gateway-api-latest/*
  https_serving_main: any of: ^third_party/cert-manager-latest/*
