Repository knative/serving: changes, and which Prow jobs are due for each by the changed paths.
All: kourier-stable_serving_main, kourier-stable-tls_serving_main, contour-latest_serving_main, contour-tls_serving_main, gateway-api-latest_serving_main, https_serving_main

Path conditions:
  kourier-stable_serving_main: any of: ^third_party/kourier-latest/*
  kourier-stable-tls_serving_main: any of: ^third_party/kourier-latest/*
  contour-latest_serving_main: any of: ^third_party/contour-latest/*
  contour-tls_serving_main: any of: ^third_party/contour-latest/*
  gateway-api-latest_serving_main: any of: ^third_party/gateway-api-latest/*
  https_serving_main: any of: ^third_party/cert-manager-latest/*

Update net-istio nightly
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-gateway-api nightly
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-kourier nightly (#15212)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update actions
  .github/workflows/knative-go-test.yaml
Due: none

Update net-gateway-api nightly (#15214)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update actions (#15215)
  .github/workflows/knative-go-test.yaml
Due: none

change private K8s service to be a headless service (#15170)
  pkg/reconciler/serverlessservice/resources/services.go
  pkg/reconciler/serverlessservice/resources/services_test.go
Due: none

Update net-istio nightly (#15213)
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-kourier nightly
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-istio nightly (#15220)
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-gateway-api nightly (#15218)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-kourier nightly (#15219)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

license-check
  .github/workflows/license-check.yaml
Due: none

debug
  .github/workflows/license-check.yaml
Due: none

update github actions automatically
  .github/dependabot.yaml
Due: none

Cleanup resources from DeploymentFailure upgrade test
  test/upgrade/deployment_failure.go
Due: none

Update net-gateway-api nightly (#15228)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

change net-contour image to cors changes only - a0f70393
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

remove cors tests
  test/e2e-tests.sh
Due: none

remove cors tests from e2e script
  test/e2e-tests.sh
Due: none

add cors-policy back with logging and different location
  test/e2e-tests.sh
Due: none

Revert "change net-contour image to cors changes only - a0f70393"
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

comment all tests except cors
  test/e2e-tests.sh
Due: none

add pod anti affinity rules to activator component
  config/core/deployments/activator.yaml
Due: none

Revert "comment all tests except cors"
  test/e2e-tests.sh
Due: none

fix command to disable cors policy for Contour tests
  test/e2e-tests.sh
Due: none

adjust command to disable cors policy for Contour tests
  test/e2e-tests.sh
Due: none

fix cluster-local routes being stalled when external-domain-tls is enabled
  pkg/apis/serving/v1/route_lifecycle.go
  pkg/reconciler/route/route.go
  pkg/reconciler/route/table_test.go
  pkg/testing/v1/route.go
Due: none

increase test timeout
  test/e2e-tests.sh
Due: none

add pod anti affinity rules to activator component (#15233)
  config/core/deployments/activator.yaml
Due: none
