Repository knative/serving: changes, and which Prow jobs are due for each by the changed paths.
All: kourier-stable_serving_main, kourier-stable-tls_serving_main, contour-latest_serving_main, contour-tls_serving_main, gateway-api-latest_serving_main, https_serving_main

Path conditions:
  kourier-stable_serving_main: any of: ^third_party/kourier-latest/*
  kourier-stable-tls_serving_main: any of: ^third_party/kourier-latest/*
  contour-latest_serving_main: any of: ^third_party/contour-latest/*
  contour-tls_serving_main: any of: ^third_party/contour-latest/*
  gateway-api-latest_serving_main: any of: ^third_party/gateway-api-latest/*
  https_serving_main: any of: ^third_party/cert-manager-latest/*

Update net-kourier nightly (#15544)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-istio nightly (#15543)
  third_party/istio-latest/net-istio.yaml
Due: none

Fix GO-2024-2659
  go.mod
  go.sum
  vendor/modules.txt
Due: none

Fix GO-2024-2659 (#15547)
  go.mod
  go.sum
  vendor/modules.txt
Due: none

Fix GO-2024-2659 (#15549)
  go.mod
  go.sum
  vendor/modules.txt
Due: none

Fix GO-2024-2659 (#15548)
  go.mod
  go.sum
  vendor/modules.txt
Due: none

Fix deployment status propagation when scaling from zero
  pkg/apis/autoscaling/v1alpha1/pa_lifecycle.go
  pkg/apis/autoscaling/v1alpha1/pa_lifecycle_test.go
  pkg/apis/autoscaling/v1alpha1/pa_types.go
  pkg/apis/serving/v1/revision_lifecycle.go
  pkg/reconciler/autoscaling/kpa/kpa.go
  pkg/reconciler/autoscaling/kpa/kpa_test.go
  pkg/reconciler/autoscaling/kpa/scaler.go
  pkg/reconciler/autoscaling/kpa/scaler_test.go
  pkg/reconciler/revision/table_test.go
  pkg/resources/pods.go
  pkg/testing/functional.go
  test/e2e/autoscale.go
  test/e2e/e2e.go
  test/e2e/resource_quota_error_test.go
  test/ha/activator_test.go
  test/ha/autoscaler_test.go
  test/upgrade/preupgrade.go
Due: none

lint
  pkg/reconciler/autoscaling/kpa/scaler.go
Due: none

clean up
  pkg/reconciler/autoscaling/kpa/kpa.go
  pkg/reconciler/autoscaling/kpa/kpa_test.go
  pkg/reconciler/autoscaling/kpa/scaler.go
  pkg/reconciler/autoscaling/kpa/scaler_test.go
Due: none

fixes
  pkg/apis/autoscaling/v1alpha1/pa_lifecycle.go
  pkg/apis/serving/v1/revision_lifecycle.go
  pkg/reconciler/autoscaling/kpa/scaler.go
  pkg/reconciler/revision/table_test.go
  pkg/testing/functional.go
  pkg/testing/v1/revision.go
Due: none

Update net-istio nightly
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-contour nightly
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-gateway-api nightly
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-kourier nightly
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-istio nightly (#15557)
  third_party/istio-latest/net-istio.yaml
Due: none

Update community files
  OWNERS_ALIASES
Due: none

Update net-contour nightly (#15558)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-gateway-api nightly (#15559)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update community files (#15564)
  OWNERS_ALIASES
Due: none

Update net-gateway-api nightly (#15566)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-kourier nightly (#15560)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-contour nightly (#15567)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-istio nightly (#15565)
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-gateway-api nightly (#15573)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update community files (#15574)
  OWNERS_ALIASES
Due: none
