Repository knative/serving: changes, and which Prow jobs are due for each by the changed paths.
All: kourier-stable_serving_main, kourier-stable-tls_serving_main, contour-latest_serving_main, contour-tls_serving_main, gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main, https_serving_main

kourier-stable_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --kourier-version stable
      env:
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

kourier-stable-tls_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-external-domain-tls-tests.sh --kourier-version stable
      env:
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

contour-latest_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --contour-version latest
      env:
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

contour-tls_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-external-domain-tls-tests.sh --contour-version latest
      env:
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

gateway-api-latest_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --gateway-api-version latest
      env:
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

gateway-api-latest-and-contour_serving_main:
  decorate: true
  optional: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --gateway-api-version latest --gateway-api-implementation contour
      env:
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

https_serving_main:
  decorate: true
  optional: true
  spec:
    containers:
    - args:
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --https
      - --run-test
      - ./test/e2e-external-domain-tls-tests.sh --https
      command:
      - runner.sh
      env:
      - name: DOCKER_IN_DOCKER_ENABLED
  ...

Update net-contour nightly (#16337)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-istio nightly (#16338)
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-kourier nightly (#16339)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/pkg/websocket/connection.go
  vendor/modules.txt
Due: none

upgrade to latest dependencies (#16340)
  go.mod
  go.sum
  vendor/knative.dev/pkg/websocket/connection.go
  vendor/modules.txt
Due: none

Integrating the onConnect and onDisconnect calls
  cmd/activator/main.go
  pkg/activator/stat_reporter.go
  pkg/activator/stat_reporter_test.go
Due: none

Update net-gateway-api nightly (#16334)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main

remove incorrect comments
  pkg/autoscaler/metrics/collector_test.go
  pkg/reconciler/metric/metric_test.go
Due: none

Adding the peer attribute into the metric
  pkg/activator/metrics.go
  pkg/activator/stat_reporter.go
Due: none

Add metric and logging for activator-autoscaler connectivity (#16318)
  cmd/activator/main.go
  pkg/activator/metrics.go
  pkg/activator/stat_reporter.go
  pkg/activator/stat_reporter_test.go
Due: none

tweak activator stats reporting metrics
  pkg/activator/metrics.go
  pkg/activator/stat_reporter.go
Due: none

fix test logger panic without reworking stats reporting
  pkg/activator/stat_reporter_test.go
Due: none

tweak activator stats reporting metrics (#16341)
  pkg/activator/metrics.go
  pkg/activator/stat_reporter.go
  pkg/activator/stat_reporter_test.go
Due: none

use instance variables so testing doesn't use globals
  pkg/activator/net/revision_backends.go
  pkg/activator/net/revision_backends_test.go
Due: none

Add configurable probe timeout and frequency for activator (#16250)
  cmd/activator/main.go
  pkg/activator/net/revision_backends.go
Due: none

Add comprehensive controllers documentation
  docs/controllers/CONTROLLERS.md
  docs/resources-overview.md
Due: none

Fallback to http1 after failed http2 probe
  go.mod
  pkg/queue/health/probe.go
  pkg/queue/health/probe_test.go
Due: none

Rewrite hellohttp2 test service to use stdlib
  test/e2e/http2_test.go
  test/test_images/hellohttp2/hellohttp2.go
  test/test_images/hellohttp2/service.yaml
Due: none

Fall back to http1 on failed http2 probe (#16205)
  go.mod
  pkg/queue/health/probe.go
  pkg/queue/health/probe_test.go
  test/e2e/http2_test.go
  test/test_images/hellohttp2/hellohttp2.go
  test/test_images/hellohttp2/service.yaml
Due: none

Addressing the review comments
  docs/controllers/CONTROLLERS.md
Due: none

Add comprehensive controllers documentation (#16342)
  docs/controllers/CONTROLLERS.md
  docs/resources-overview.md
Due: none

Prevent duplicate hosts in Ingress rules when using ACME (#16312)
  pkg/reconciler/domainmapping/resources/ingress.go
  pkg/reconciler/domainmapping/resources/ingress_test.go
  pkg/reconciler/route/resources/ingress.go
  pkg/reconciler/route/resources/ingress_test.go
Due: none

bump k8s in kind to 1.33 min
  .github/workflows/kind-e2e.yaml
Due: none

bump setup-kind
  .github/workflows/kind-e2e.yaml
Due: none

Update net-gateway-api nightly
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main

Update net-istio nightly
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-kourier nightly
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-contour nightly
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

bump k8s in kind to 1.33 min (#16343)
  .github/workflows/kind-e2e.yaml
Due: none

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/golang.org/x/crypto/chacha20poly1305/chacha20poly1305.go
  vendor/golang.org/x/crypto/chacha20poly1305/fips140only_compat.go
  vendor/golang.org/x/crypto/chacha20poly1305/fips140only_go1.26.go
  vendor/golang.org/x/crypto/chacha20poly1305/xchacha20poly1305.go
  vendor/golang.org/x/net/http2/writesched_priority_rfc9218.go
  vendor/golang.org/x/sys/cpu/cpu_x86.go
  vendor/golang.org/x/term/terminal.go
  vendor/golang.org/x/tools/go/ast/inspector/cursor.go
  vendor/golang.org/x/tools/internal/modindex/index.go
  vendor/golang.org/x/tools/internal/stdlib/deps.go
  vendor/golang.org/x/tools/internal/stdlib/manifest.go
  vendor/knative.dev/hack/infra-library.sh
  vendor/knative.dev/pkg/version/version.go
  vendor/modules.txt
Due: none

Update net-gateway-api nightly (#16345)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main

Update net-istio nightly (#16346)
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-kourier nightly (#16347)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

upgrade to latest dependencies (#16344)
  go.mod
  go.sum
  vendor/golang.org/x/crypto/chacha20poly1305/chacha20poly1305.go
  vendor/golang.org/x/crypto/chacha20poly1305/fips140only_compat.go
  vendor/golang.org/x/crypto/chacha20poly1305/fips140only_go1.26.go
  vendor/golang.org/x/crypto/chacha20poly1305/xchacha20poly1305.go
  vendor/golang.org/x/net/http2/writesched_priority_rfc9218.go
  vendor/golang.org/x/sys/cpu/cpu_x86.go
  vendor/golang.org/x/term/terminal.go
  vendor/golang.org/x/tools/go/ast/inspector/cursor.go
  vendor/golang.org/x/tools/internal/modindex/index.go
  vendor/golang.org/x/tools/internal/stdlib/deps.go
  vendor/golang.org/x/tools/internal/stdlib/manifest.go
  vendor/knative.dev/hack/infra-library.sh
  vendor/knative.dev/pkg/version/version.go
  vendor/modules.txt
Due: none

Update net-contour nightly (#16348)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Add feature flag pod-is-always-schedulable
  config/core/configmaps/deployment.yaml
  pkg/deployment/config.go
  pkg/deployment/config_test.go
  pkg/reconciler/revision/config/store.go
  pkg/reconciler/revision/reconcile_resources.go
  pkg/reconciler/revision/table_test.go
Due: none

Update net-gateway-api nightly
  third_party/gateway-api-latest/gateway-api.yaml
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main

Update net-gateway-api nightly (#16349)
  third_party/gateway-api-latest/gateway-api.yaml
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main

Path conditions:
  kourier-stable_serving_main: any of: ^third_party/kourier-latest/*
  kourier-stable-tls_serving_main: any of: ^third_party/kourier-latest/*
  contour-latest_serving_main: any of: ^third_party/contour-latest/*
  contour-tls_serving_main: any of: ^third_party/contour-latest/*
  gateway-api-latest_serving_main: any of: ^third_party/gateway-api-latest/*
  gateway-api-latest-and-contour_serving_main: any of: ^third_party/gateway-api-latest/*
  https_serving_main: any of: ^third_party/cert-manager-latest/*
