Repository knative/serving: changes, and which Prow jobs are due for each by the changed paths.
All: kourier-stable_serving_main, kourier-stable-tls_serving_main, contour-latest_serving_main, contour-tls_serving_main, gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main, https_serving_main

kourier-stable_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --kourier-version stable
      env:
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

kourier-stable-tls_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-external-domain-tls-tests.sh --kourier-version stable
      env:
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

contour-latest_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --contour-version latest
      env:
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

contour-tls_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-external-domain-tls-tests.sh --contour-version latest
      env:
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

gateway-api-latest_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --gateway-api-version latest
      env:
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

gateway-api-latest-and-contour_serving_main:
  decorate: true
  optional: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --gateway-api-version latest --gateway-api-implementation contour
      env:
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

https_serving_main:
  decorate: true
  optional: true
  spec:
    containers:
    - args:
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --https
      - --run-test
      - ./test/e2e-external-domain-tls-tests.sh --https
      command:
      - runner.sh
      env:
      - name: DOCKER_IN_DOCKER_ENABLED
  ...

upgrade to latest dependencies (#16022)
  go.mod
  go.sum
  vendor/knative.dev/pkg/observability/metrics/prometheus_enabled.go
  vendor/modules.txt
Due: none

Update net-gateway-api nightly
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main

Update net-contour nightly
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-gateway-api nightly (#16023)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main

Update net-contour nightly (#16024)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/pkg/observability/metrics/prometheus_enabled.go
  vendor/modules.txt
Due: none

upgrade to latest dependencies (#16025)
  go.mod
  go.sum
  vendor/knative.dev/pkg/observability/metrics/prometheus_enabled.go
  vendor/modules.txt
Due: none

Update net-kourier nightly
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-istio nightly
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-istio nightly (#16027)
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-kourier nightly (#16026)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-gateway-api nightly (#16029)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/hack/release.sh
  vendor/modules.txt
Due: none

Update net-kourier nightly (#16032)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

upgrade to latest dependencies (#16028)
  go.mod
  go.sum
  vendor/knative.dev/hack/release.sh
  vendor/modules.txt
Due: none

Update net-istio nightly (#16031)
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-contour nightly (#16030)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

add default conditions to create PA to avoid potential race conditions between revision and autoscaler
  config/core/300-resources/podautoscaler.yaml
  pkg/apis/autoscaling/v1alpha1/pa_types.go
  pkg/reconciler/revision/table_test.go
Due: none

feat: Consistent hashing endpoints to activators
  .gitignore
  pkg/activator/net/throttler.go
  pkg/activator/net/throttler_test.go
Due: none

feat: implement pod health tracking and quarantine system
  pkg/activator/handler/handler.go
  pkg/activator/handler/metric_handler_test.go
  pkg/activator/handler/metrics.go
  pkg/activator/net/lb_policy_test.go
  pkg/activator/net/revision_backends.go
  pkg/activator/net/throttler.go
  pkg/activator/net/throttler_race_test.go
Due: none

test: update throttler tests for enhanced health tracking
  pkg/activator/net/throttler_test.go
Due: none

feat: update queue and deployment configuration
  pkg/reconciler/autoscaling/kpa/resources/decider.go
  pkg/reconciler/revision/resources/deploy_test.go
  pkg/reconciler/revision/resources/queue.go
  pkg/reconciler/revision/resources/queue_test.go
Due: none

feat: enhance autoscaler with effective capacity tracking
  pkg/autoscaler/scaling/autoscaler.go
  pkg/autoscaler/scaling/autoscaler_effective_capacity_test.go
  pkg/autoscaler/scaling/autoscaler_headroom_min_gt_buffer_test.go
  pkg/autoscaler/scaling/autoscaler_test.go
  pkg/autoscaler/scaling/multiscaler.go
  pkg/resources/endpoints.go
  pkg/resources/pods.go
  pkg/resources/pods_starting_test.go
Due: none

fix: implement safe quarantine recovery with health verification
  pkg/activator/net/throttler.go
  pkg/activator/net/throttler_test.go
Due: none

fix: resolve race condition in resetTrackers method
  pkg/activator/net/throttler.go
Due: none

fix: improve error propagation from proxy to throttler
  ACTIVATOR_FIXES.md
  pkg/activator/handler/handler.go
  pkg/activator/handler/handler_test.go
  pkg/activator/net/throttler_test.go
Due: none

temp: disable quick 502 wrapper
  pkg/activator/handler/handler.go
  pkg/activator/handler/handler_test.go
  pkg/activator/net/throttler.go
  pkg/activator/net/throttler_test.go
Due: none

temp: revert to original capacity calculation
  pkg/autoscaler/scaling/autoscaler.go
  pkg/autoscaler/scaling/autoscaler_effective_capacity_test.go
  pkg/autoscaler/scaling/autoscaler_test.go
Due: none

feat: add counter metrics for quaratine
  pkg/activator/handler/handler.go
  pkg/activator/handler/metrics.go
  pkg/activator/net/throttler.go
Due: none

feat: add proxy letncy metric
  pkg/activator/handler/metrics.go
  pkg/activator/net/throttler.go
Due: none

remove dryrun feature flag
  config/core/configmaps/features.yaml
  pkg/apis/config/features.go
  pkg/apis/config/features_test.go
  pkg/reconciler/route/resources/service_test.go
  pkg/reconciler/route/table_test.go
  pkg/webhook/podspec_dryrun.go
  pkg/webhook/podspec_dryrun_test.go
  pkg/webhook/validate_unstructured.go
  pkg/webhook/validate_unstructured_test.go
  test/e2e/service_validation_test.go
  test/v1/service.go
Due: none

remove unnecessary line
  pkg/webhook/podspec_dryrun_test.go
Due: none

fix test
  test/v1/service.go
Due: none

Path conditions:
  kourier-stable_serving_main: any of: ^third_party/kourier-latest/*
  kourier-stable-tls_serving_main: any of: ^third_party/kourier-latest/*
  contour-latest_serving_main: any of: ^third_party/contour-latest/*
  contour-tls_serving_main: any of: ^third_party/contour-latest/*
  gateway-api-latest_serving_main: any of: ^third_party/gateway-api-latest/*
  gateway-api-latest-and-contour_serving_main: any of: ^third_party/gateway-api-latest/*
  https_serving_main: any of: ^third_party/cert-manager-latest/*
