Repository knative/serving: changes, and which Prow jobs are due for each by the changed paths.
All: kourier-stable_serving_main, kourier-stable-tls_serving_main, contour-latest_serving_main, contour-tls_serving_main, gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main, https_serving_main

kourier-stable_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --kourier-version stable
      env:
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

kourier-stable-tls_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-external-domain-tls-tests.sh --kourier-version stable
      env:
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

contour-latest_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --contour-version latest
      env:
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

contour-tls_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-external-domain-tls-tests.sh --contour-version latest
      env:
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

gateway-api-latest_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --gateway-api-version latest
      env:
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

gateway-api-latest-and-contour_serving_main:
  decorate: true
  optional: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --gateway-api-version latest --gateway-api-implementation contour
      env:
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

https_serving_main:
  decorate: true
  optional: true
  spec:
    containers:
    - args:
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --https
      - --run-test
      - ./test/e2e-external-domain-tls-tests.sh --https
      command:
      - runner.sh
      env:
      - name: DOCKER_IN_DOCKER_ENABLED
  ...

fix: upgrade Go to 1.26.0 to resolve CVE-2025-68121
  go.mod
Due: none

Update net-istio nightly
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-contour nightly
  third_party/contour-latest/contour.yaml
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/pkg/webhook/resourcesemantics/validation/validation_admit.go
  vendor/modules.txt
Due: none

initial implementation
  pkg/autoscaler/metrics/collector.go
  pkg/autoscaler/scaling/autoscaler.go
  pkg/autoscaler/scaling/autoscaler_test.go
Due: none

use attribute instead of channel
  pkg/autoscaler/metrics/collector.go
  pkg/autoscaler/scaling/autoscaler.go
Due: none

change log
  pkg/autoscaler/metrics/collector.go
Due: none

more logging changes
  pkg/autoscaler/metrics/collector.go
  pkg/autoscaler/scaling/autoscaler.go
Due: none

change switch to if else statement
  pkg/autoscaler/scaling/autoscaler.go
Due: none

remove logs to prevent spam
  pkg/autoscaler/scaling/autoscaler.go
Due: none

change when pause and resume happens
  pkg/autoscaler/scaling/autoscaler.go
Due: none

add unit test for autoscaler
  pkg/autoscaler/scaling/autoscaler_test.go
Due: none

whitespace linting fixes
  pkg/autoscaler/scaling/autoscaler_test.go
Due: none

change implementation to use sks mode directly
  config/core/300-resources/podautoscaler.yaml
  docs/serving-api.md
  pkg/apis/autoscaling/v1alpha1/pa_types.go
  pkg/autoscaler/metrics/collector.go
  pkg/autoscaler/scaling/autoscaler.go
  pkg/autoscaler/scaling/autoscaler_test.go
  pkg/reconciler/autoscaling/kpa/kpa.go
  pkg/reconciler/autoscaling/kpa/kpa_test.go
  pkg/reconciler/metric/controller.go
  pkg/reconciler/metric/metric.go
  pkg/reconciler/metric/metric_test.go
Due: none

fix typo
  pkg/reconciler/metric/metric.go
Due: none

add unit tests, send empty stat instead of waiting
  pkg/autoscaler/metrics/collector.go
  pkg/autoscaler/metrics/collector_test.go
  pkg/reconciler/autoscaling/kpa/kpa.go
  pkg/reconciler/metric/metric_test.go
Due: none

cleanup code, add test coverage
  pkg/autoscaler/metrics/collector.go
  pkg/reconciler/metric/metric.go
  pkg/reconciler/metric/metric_test.go
Due: none

Add unpause to any error cases in KPA reconcile
  pkg/reconciler/autoscaling/kpa/kpa.go
Due: none

remove incorrect comments
  pkg/autoscaler/metrics/collector_test.go
  pkg/reconciler/metric/metric_test.go
Due: none

use scale subresource instead of hardcoded deployment patching
  config/core/200-roles/clusterrole.yaml
  pkg/reconciler/autoscaling/kpa/scaler.go
Due: none

update kpa tests for scale subresource
  pkg/reconciler/autoscaling/kpa/kpa_test.go
Due: none

fix lint
  pkg/reconciler/autoscaling/kpa/scaler.go
Due: none

remove empty lines
  pkg/reconciler/autoscaling/kpa/scaler.go
Due: none

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/golang.org/x/net/http2/frame.go
  vendor/golang.org/x/net/publicsuffix/data/children
  vendor/golang.org/x/net/publicsuffix/data/nodes
  vendor/golang.org/x/net/publicsuffix/data/text
  vendor/golang.org/x/net/publicsuffix/table.go
  vendor/knative.dev/pkg/tls/config.go
  vendor/knative.dev/pkg/webhook/env.go
  vendor/knative.dev/pkg/webhook/webhook.go
  vendor/modules.txt
Due: none

upgrade to latest dependencies (#16423)
  go.mod
  go.sum
  vendor/golang.org/x/net/http2/frame.go
  vendor/golang.org/x/net/publicsuffix/data/children
  vendor/golang.org/x/net/publicsuffix/data/nodes
  vendor/golang.org/x/net/publicsuffix/data/text
  vendor/golang.org/x/net/publicsuffix/table.go
  vendor/knative.dev/pkg/tls/config.go
  vendor/knative.dev/pkg/webhook/env.go
  vendor/knative.dev/pkg/webhook/webhook.go
  vendor/modules.txt
Due: none

Update net-contour nightly
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-gateway-api nightly
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main

Update net-kourier nightly
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-kourier nightly (#16429)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-contour nightly (#16427)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-gateway-api nightly (#16428)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main

Update net-istio nightly (#16426)
  third_party/istio-latest/net-istio.yaml
Due: none

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/pkg/tls/config.go
  vendor/knative.dev/pkg/webhook/env.go
  vendor/knative.dev/pkg/webhook/webhook.go
  vendor/modules.txt
Due: none

upgrade to latest dependencies (#16432)
  go.mod
  go.sum
  vendor/knative.dev/pkg/tls/config.go
  vendor/knative.dev/pkg/webhook/env.go
  vendor/knative.dev/pkg/webhook/webhook.go
  vendor/modules.txt
Due: none

feat: use knative.dev/pkg/tls for reconciler TLS configuration
  pkg/reconciler/revision/resolve.go
  pkg/reconciler/revision/resolve_test.go
Due: none

Path conditions:
  kourier-stable_serving_main: any of: ^third_party/kourier-latest/*
  kourier-stable-tls_serving_main: any of: ^third_party/kourier-latest/*
  contour-latest_serving_main: any of: ^third_party/contour-latest/*
  contour-tls_serving_main: any of: ^third_party/contour-latest/*
  gateway-api-latest_serving_main: any of: ^third_party/gateway-api-latest/*
  gateway-api-latest-and-contour_serving_main: any of: ^third_party/gateway-api-latest/*
  https_serving_main: any of: ^third_party/cert-manager-latest/*
