Repository knative/serving: changes, and which Prow jobs are due for each by the changed paths.
All: kourier-stable_serving_main, kourier-stable-tls_serving_main, contour-latest_serving_main, contour-tls_serving_main, gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main, https_serving_main

kourier-stable_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --kourier-version stable
      env:
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

kourier-stable-tls_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-external-domain-tls-tests.sh --kourier-version stable
      env:
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

contour-latest_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --contour-version latest
      env:
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

contour-tls_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-external-domain-tls-tests.sh --contour-version latest
      env:
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

gateway-api-latest_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --gateway-api-version latest
      env:
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

gateway-api-latest-and-contour_serving_main:
  decorate: true
  optional: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --gateway-api-version latest --gateway-api-implementation contour
      env:
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

https_serving_main:
  decorate: true
  optional: true
  spec:
    containers:
    - args:
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --https
      - --run-test
      - ./test/e2e-external-domain-tls-tests.sh --https
      command:
      - runner.sh
      env:
      - name: DOCKER_IN_DOCKER_ENABLED
  ...

Update net-gateway-api nightly (#16213)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main

address PR feedback
  pkg/reconciler/revision/reconcile_resources.go
Due: none

Suppress 'default value insecure' warning (#16218)
  pkg/apis/serving/k8s_validation.go
  pkg/apis/serving/k8s_validation_test.go
Due: none

Suppress 'default value insecure' warning
  pkg/apis/serving/k8s_validation.go
  pkg/apis/serving/k8s_validation_test.go
Due: none

Allow manual scaling of the Pod Autoscaler (#16186)
  pkg/reconciler/revision/reconcile_resources.go
  pkg/reconciler/revision/resources/deploy.go
  pkg/reconciler/revision/resources/deploy_test.go
  pkg/reconciler/revision/resources/imagecache.go
  pkg/reconciler/revision/resources/meta.go
  pkg/reconciler/revision/resources/meta_test.go
  pkg/reconciler/revision/resources/pa.go
  pkg/reconciler/revision/table_test.go
  pkg/testing/functional.go
  test/e2e/minscale_readiness_test.go
Due: none

Update net-contour nightly
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-contour nightly (#16214)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-istio nightly
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-istio nightly (#16221)
  third_party/istio-latest/net-istio.yaml
Due: none

Fix race condition in timeout handler causing activator crashes
  pkg/http/handler/timeout.go
  pkg/http/handler/timeout_test.go
Due: none

Fix data race in revision backend manager
  pkg/activator/net/revision_backends.go
Due: none

Update net-istio nightly (#16224)
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-contour nightly (#16229)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-istio nightly (#16228)
  third_party/istio-latest/net-istio.yaml
Due: none

Run HTTPS E2E tests only when HTTPS endpoint is ready
  test/e2e/autoscale.go
  test/v1/service.go
Due: none

Update community files
  OWNERS_ALIASES
Due: none

Update community files (#16235)
  OWNERS_ALIASES
Due: none

Run HTTPS E2E tests only when HTTPS endpoint is ready
  test/v1/service.go
Due: none

Update net-gateway-api nightly
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main

Update net-kourier nightly
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-kourier nightly (#16237)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Run HTTPS E2E tests only when HTTPS endpoint is ready (#16230)
  test/v1/service.go
Due: none

Update net-contour nightly (#16239)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

gofumpt test/prober.go
  test/prober.go
Due: none

disable lint checks since it doesn't seem like context is needed
  pkg/autoscaler/statserver/server.go
  pkg/queue/health/probe.go
Due: none

Update net-gateway-api nightly (#16236)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main

Update net-istio nightly (#16238)
  third_party/istio-latest/net-istio.yaml
Due: none

Fix data race in revision backend manager (#16225)
  pkg/activator/net/revision_backends.go
Due: none

Fix readiness check in E2E tests of cluster-local services
  test/v1/service.go
Due: none

Fix readiness check in E2E tests of cluster-local services (#16241)
  test/v1/service.go
Due: none

Fix error handling in request log template execution
  pkg/http/request_log.go
Due: none

Fix error handling in request log template execution (#16242)
  pkg/http/request_log.go
Due: none

Path conditions:
  kourier-stable_serving_main: any of: ^third_party/kourier-latest/*
  kourier-stable-tls_serving_main: any of: ^third_party/kourier-latest/*
  contour-latest_serving_main: any of: ^third_party/contour-latest/*
  contour-tls_serving_main: any of: ^third_party/contour-latest/*
  gateway-api-latest_serving_main: any of: ^third_party/gateway-api-latest/*
  gateway-api-latest-and-contour_serving_main: any of: ^third_party/gateway-api-latest/*
  https_serving_main: any of: ^third_party/cert-manager-latest/*
