Repository knative/serving: changes, and which Prow jobs are due for each by the changed paths.
All: kourier-stable_serving_main, kourier-stable-tls_serving_main, contour-latest_serving_main, contour-tls_serving_main, gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main, https_serving_main

Path conditions:
  kourier-stable_serving_main: any of: ^third_party/kourier-latest/*
  kourier-stable-tls_serving_main: any of: ^third_party/kourier-latest/*
  contour-latest_serving_main: any of: ^third_party/contour-latest/*
  contour-tls_serving_main: any of: ^third_party/contour-latest/*
  gateway-api-latest_serving_main: any of: ^third_party/gateway-api-latest/*
  gateway-api-latest-and-contour_serving_main: any of: ^third_party/gateway-api-latest/*
  https_serving_main: any of: ^third_party/cert-manager-latest/*

Update net-gateway-api nightly
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main

Update net-gateway-api nightly (#15916)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main

ignore v1.Endpoint.* deprecation
  .golangci.yaml
Due: none

Fix flakes in TestIdleTimeoutHandler
  pkg/http/handler/timeout_test.go
Due: none

Fix flakes in TestIdleTimeoutHandler (#15918)
  pkg/http/handler/timeout_test.go
Due: none

ignore v1.Endpoint.* deprecation (#15917)
  .golangci.yaml
Due: none

Update net-istio nightly
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-contour nightly
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-kourier nightly
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-istio nightly (#15919)
  third_party/istio-latest/net-istio.yaml
Due: none

fix fuzzing to use randfill
  pkg/apis/serving/v1/roundtrip_test.go
Due: none

run ./hack/update-deps.sh to drop gofuzz
  .golangci.yaml
  go.mod
  go.sum
  vendor/github.com/google/gofuzz/.travis.yml
  vendor/github.com/google/gofuzz/CONTRIBUTING.md
  vendor/github.com/google/gofuzz/LICENSE
  vendor/github.com/google/gofuzz/README.md
  vendor/github.com/google/gofuzz/bytesource/bytesource.go
  vendor/github.com/google/gofuzz/doc.go
  vendor/github.com/google/gofuzz/fuzz.go
  vendor/modules.txt
Due: none

Update net-kourier nightly (#15915)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-gateway-api nightly (#15920)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main

fix lint/nolint directives
  pkg/apis/serving/metadata_validation_test.go
  pkg/apis/serving/v1/configuration_conversion.go
  pkg/apis/serving/v1/revision_conversion.go
  pkg/apis/serving/v1/route_conversion.go
  pkg/apis/serving/v1/service_conversion.go
  pkg/reconciler/testing/v1/factory.go
Due: none

apply-linter-fixes
  pkg/activator/net/revision_backends.go
  pkg/apis/serving/v1/revision_helpers_test.go
  pkg/apis/serving/v1/route_lifecycle_test.go
  pkg/apis/serving/v1/service_lifecycle.go
  pkg/queue/health/probe_test.go
  test/conformance/runtime/header_test.go
  test/e2e/autoscale_hpa_test.go
  test/performance/benchmarks/reconciliation-delay/main.go
Due: none

address linter
  pkg/reconciler/revision/resources/queue_test.go
  pkg/reconciler/route/route.go
Due: none

Update net-contour nightly (#15921)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Check NotFound error when we get certificates
  pkg/reconciler/route/route.go
Due: none

Update net-contour nightly
  third_party/contour-latest/contour.yaml
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-contour nightly (#15925)
  third_party/contour-latest/contour.yaml
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-istio nightly (#15927)
  third_party/istio-latest/net-istio.yaml
Due: none

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/caching/pkg/client/clientset/versioned/fake/clientset_generated.go
  vendor/knative.dev/caching/pkg/client/clientset/versioned/typed/caching/v1alpha1/caching_client.go
  vendor/knative.dev/caching/pkg/client/informers/externalversions/caching/v1alpha1/image.go
  vendor/knative.dev/networking/pkg/certificates/constants.go
  vendor/knative.dev/networking/pkg/client/clientset/versioned/fake/clientset_generated.go
  vendor/knative.dev/networking/pkg/client/clientset/versioned/typed/networking/v1alpha1/networking_client.go
  vendor/knative.dev/networking/pkg/client/informers/externalversions/networking/v1alpha1/certificate.go
  vendor/knative.dev/networking/pkg/client/informers/externalversions/networking/v1alpha1/clusterdomainclaim.go
  vendor/knative.dev/networking/pkg/client/informers/externalversions/networking/v1alpha1/ingress.go
  vendor/knative.dev/networking/pkg/client/informers/externalversions/networking/v1alpha1/serverlessservice.go
  vendor/knative.dev/pkg/configmap/parse.go
  vendor/knative.dev/pkg/configmap/parser/parse.go
  vendor/modules.txt
Due: none

upgrade to latest dependencies (#15926)
  go.mod
  go.sum
  vendor/knative.dev/caching/pkg/client/clientset/versioned/fake/clientset_generated.go
  vendor/knative.dev/caching/pkg/client/clientset/versioned/typed/caching/v1alpha1/caching_client.go
  vendor/knative.dev/caching/pkg/client/informers/externalversions/caching/v1alpha1/image.go
  vendor/knative.dev/networking/pkg/certificates/constants.go
  vendor/knative.dev/networking/pkg/client/clientset/versioned/fake/clientset_generated.go
  vendor/knative.dev/networking/pkg/client/clientset/versioned/typed/networking/v1alpha1/networking_client.go
  vendor/knative.dev/networking/pkg/client/informers/externalversions/networking/v1alpha1/certificate.go
  vendor/knative.dev/networking/pkg/client/informers/externalversions/networking/v1alpha1/clusterdomainclaim.go
  vendor/knative.dev/networking/pkg/client/informers/externalversions/networking/v1alpha1/ingress.go
  vendor/knative.dev/networking/pkg/client/informers/externalversions/networking/v1alpha1/serverlessservice.go
  vendor/knative.dev/pkg/configmap/parse.go
  vendor/knative.dev/pkg/configmap/parser/parse.go
  vendor/modules.txt
Due: none

bump cert-manager, istio, contour
  test/e2e-networking-library.sh
  third_party/cert-manager-latest/download-cert-manager.sh
Due: https_serving_main

include cert manager files
  third_party/cert-manager-latest/cert-manager.yaml
Due: https_serving_main

retry on conflicats
  pkg/reconciler/revision/cruds.go
Due: none

POC: use libkpa autoscaler instead of the built-in implementation
  cmd/autoscaler/main.go
  docs/libkpa-integration.md
  go.mod
  go.sum
  pkg/autoscaler/scaling/libkpa_autoscaler.go
  pkg/autoscaler/scaling/libkpa_autoscaler_test.go
  vendor/github.com/Fedosin/libkpa/LICENSE
  vendor/github.com/Fedosin/libkpa/algorithm/panic_mode.go
  vendor/github.com/Fedosin/libkpa/algorithm/sliding_window.go
  vendor/github.com/Fedosin/libkpa/api/interfaces.go
  vendor/github.com/Fedosin/libkpa/api/types.go
  vendor/github.com/Fedosin/libkpa/maxtimewindow/timewindow.go
  vendor/github.com/Fedosin/libkpa/maxtimewindow/window.go
  vendor/github.com/Fedosin/libkpa/metrics/metrics_window.go
  vendor/modules.txt
Due: none

Workaround negative values from WindowAverage for linear algorithm
  pkg/autoscaler/scaling/libkpa_autoscaler.go
Due: none

Update net-gateway-api nightly (#15930)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main

Update net-istio nightly (#15931)
  third_party/istio-latest/net-istio.yaml
Due: none
