Repository knative/serving: changes, and which Prow jobs are due for each by the changed paths.
All: kourier-stable_serving_main, kourier-stable-tls_serving_main, contour-latest_serving_main, contour-tls_serving_main, gateway-api-latest_serving_main, https_serving_main

Path conditions:
  kourier-stable_serving_main: any of: ^third_party/kourier-latest/*
  kourier-stable-tls_serving_main: any of: ^third_party/kourier-latest/*
  contour-latest_serving_main: any of: ^third_party/contour-latest/*
  contour-tls_serving_main: any of: ^third_party/contour-latest/*
  gateway-api-latest_serving_main: any of: ^third_party/gateway-api-latest/*
  https_serving_main: any of: ^third_party/cert-manager-latest/*

Update net-gateway-api nightly (#15159)
  third_party/gateway-api-latest/contour-gateway.yaml
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

fix imports
  pkg/netcertmanager/certificate.go
  pkg/netcertmanager/certificate_test.go
  pkg/netcertmanager/controller.go
  pkg/netcertmanager/resources/cert_manager_certificate.go
  pkg/netcertmanager/resources/cert_manager_certificate_test.go
Due: none

add vendor networking test files
  vendor/knative.dev/networking/test/cleanup.go
  vendor/knative.dev/networking/test/clients.go
  vendor/knative.dev/networking/test/conformance/certificate/http01/certificate.go
  vendor/knative.dev/networking/test/conformance/certificate/http01/run.go
  vendor/knative.dev/networking/test/conformance/certificate/nonhttp01/certificate.go
  vendor/knative.dev/networking/test/conformance/certificate/nonhttp01/run.go
  vendor/knative.dev/networking/test/conformance/certificate/utils.go
  vendor/knative.dev/networking/test/defaultsystem/system.go
  vendor/knative.dev/networking/test/e2e_constants.go
  vendor/knative.dev/networking/test/e2e_flags.go
  vendor/knative.dev/networking/test/ingress.go
  vendor/knative.dev/networking/test/presubmit-tests.sh
  vendor/knative.dev/networking/test/prober.go
  vendor/knative.dev/networking/test/upload-test-images.sh
  vendor/knative.dev/networking/test/util.go
Due: none

add netcert conformance tests
  test/e2e/certmanager/config/100-serving-namespace.yaml
  test/e2e/certmanager/config/100-test-namespace.yaml
  test/e2e/certmanager/config/200-service-account.yaml
  test/e2e/certmanager/config/201-cluster-role.yaml
  test/e2e/certmanager/config/300-certificate.yaml
  test/e2e/certmanager/config/autotls/certmanager/caissuer/config-certmanager.yaml
  test/e2e/certmanager/config/autotls/certmanager/caissuer/generate.sh
  test/e2e/certmanager/config/autotls/certmanager/caissuer/issuer.yaml
  test/e2e/certmanager/config/autotls/certmanager/caissuer/secret.yaml
  test/e2e/certmanager/config/autotls/certmanager/http01/config-certmanager.yaml
  test/e2e/certmanager/config/autotls/certmanager/http01/issuer.yaml
  test/e2e/certmanager/config/autotls/certmanager/http01/mesh-issuer.yaml
  test/e2e/certmanager/config/autotls/certmanager/selfsigned/config-certmanager.yaml
  test/e2e/certmanager/config/autotls/certmanager/selfsigned/issuer.yaml
  test/e2e/certmanager/conformance/certificate_test.go
  test/e2e/certmanager/e2e-common.sh
  test/e2e/certmanager/e2e-tests.sh
  test/e2e/certmanager/presubmit-tests.sh
  test/e2e/certmanager/upload-test-images.sh
Due: none

sym link
  pkg/netcertmanager/config/testdata/config-certmanager.yaml
Due: none

add crd check
  cmd/controller/main.go
Due: none

fixes
  config/core/configmaps/certmanager.yaml
  test/e2e-common.sh
Due: none

fix vendor
  go.sum
  vendor/modules.txt
Due: none

fix vendor
  vendor/modules.txt
Due: none

Revert "disable kourier-tls (#15053)"
  .github/workflows/kind-e2e.yaml
Due: none

some fixes + rebase
  go.sum
  test/e2e/certmanager/presubmit-tests.sh
  third_party/VENDOR-LICENSE/github.com/cert-manager/cert-manager/pkg/apis/LICENSE
  third_party/VENDOR-LICENSE/github.com/ghodss/yaml/LICENSE
  third_party/VENDOR-LICENSE/github.com/grpc-ecosystem/grpc-gateway/v2/LICENSE.txt
  third_party/VENDOR-LICENSE/github.com/jmespath/go-jmespath/LICENSE
  third_party/VENDOR-LICENSE/github.com/jmespath/go-jmespath/NOTICE
  third_party/VENDOR-LICENSE/sigs.k8s.io/gateway-api/apis/v1beta1/LICENSE
  vendor/knative.dev/networking/test/conformance/certificate/nonhttp01/certificate.go
  vendor/knative.dev/networking/test/conformance/certificate/utils.go
  vendor/knative.dev/networking/test/e2e_flags.go
  vendor/knative.dev/networking/test/ingress.go
  vendor/modules.txt
Due: none

move reconciler
  cmd/controller/main.go
  cmd/webhook/main.go
  pkg/netcertmanager/config/testdata/config-certmanager.yaml
  pkg/netcertmanager/doc.go
  pkg/reconciler/certificate/certificate.go
  pkg/reconciler/certificate/certificate_test.go
  pkg/reconciler/certificate/config/cert_manager.go
  pkg/reconciler/certificate/config/cert_manager_test.go
  pkg/reconciler/certificate/config/doc.go
  pkg/reconciler/certificate/config/store.go
  pkg/reconciler/certificate/config/store_test.go
  pkg/reconciler/certificate/config/testdata/config-certmanager.yaml
  pkg/reconciler/certificate/config/zz_generated.deepcopy.go
  pkg/reconciler/certificate/controller.go
  pkg/reconciler/certificate/resources/cert_manager_certificate.go
  pkg/reconciler/certificate/resources/cert_manager_certificate_test.go
Due: none

fix style
  cmd/webhook/main.go
  pkg/reconciler/certificate/certificate.go
  pkg/reconciler/certificate/certificate_test.go
  pkg/reconciler/certificate/controller.go
  pkg/reconciler/certificate/resources/cert_manager_certificate.go
  pkg/reconciler/certificate/resources/cert_manager_certificate_test.go
Due: none

if revision is inactive, scale to zero instead of checking last pod retention
  pkg/reconciler/autoscaling/kpa/scaler.go
  pkg/reconciler/autoscaling/kpa/scaler_test.go
Due: none

Update net-gateway-api nightly
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Don't downgrade to http
  pkg/reconciler/route/route.go
  vendor/knative.dev/pkg/test/request.go
Due: none

Revert "Scale the ingress gateway"
  test/config/ytt/ingress/istio/istio-ingressgateway-replicas.yaml
Due: none

Update net-gateway-api nightly (#15160)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Hack cert status for cluster-local services only
  pkg/reconciler/route/route.go
Due: none

Update community files
  OWNERS_ALIASES
Due: none

Update community files (#15162)
  OWNERS_ALIASES
Due: none

Update net-contour nightly
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-istio nightly
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-certmanager nightly
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-kourier nightly
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-istio nightly (#15165)
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-contour nightly (#15164)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-kourier nightly (#15167)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Cleanup net-certmanager integration
  config/core/configmaps/logging.yaml
  test/config/ytt/certmanager/net-certmanager-config.yaml
  test/config/ytt/core/overlay-config-logging.yaml
  test/config/ytt/ingress/istio/istio-certmanager-webhook.yaml
  test/e2e-common.sh
  test/e2e/certmanager/e2e-common.sh
  test/e2e/externaldomaintls/README.md
Due: none

Update net-gateway-api nightly (#15163)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Remove additional /
  test/e2e-common.sh
Due: none

Cleanup net-certmanager integration (#15168)
  config/core/configmaps/logging.yaml
  test/config/ytt/certmanager/net-certmanager-config.yaml
  test/config/ytt/core/overlay-config-logging.yaml
  test/config/ytt/ingress/istio/istio-certmanager-webhook.yaml
  test/e2e-common.sh
  test/e2e/certmanager/e2e-common.sh
  test/e2e/externaldomaintls/README.md
Due: none

Update net-kourier nightly (#15169)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

change private K8s service to be a headless service
  pkg/reconciler/serverlessservice/resources/services.go
  pkg/reconciler/serverlessservice/resources/services_test.go
Due: none
