Repository knative/serving: changes, and which Prow jobs are due for each by the changed paths.
All: kourier-stable_serving_main, kourier-stable-tls_serving_main, contour-latest_serving_main, contour-tls_serving_main, gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main, https_serving_main

Path conditions:
  kourier-stable_serving_main: any of: ^third_party/kourier-latest/*
  kourier-stable-tls_serving_main: any of: ^third_party/kourier-latest/*
  contour-latest_serving_main: any of: ^third_party/contour-latest/*
  contour-tls_serving_main: any of: ^third_party/contour-latest/*
  gateway-api-latest_serving_main: any of: ^third_party/gateway-api-latest/*
  gateway-api-latest-and-contour_serving_main: any of: ^third_party/gateway-api-latest/*
  https_serving_main: any of: ^third_party/cert-manager-latest/*

Keep queue-proxy admin server on HTTP for PreStop hooks
  pkg/queue/sharedmain/main.go
  test/e2e/systeminternaltls/system_internal_tls_test.go
Due: none

Fix flaky TestDestroyPodInflight test
  test/e2e/destroypod_test.go
Due: none

istio e2e mesh tests are timing out (#16165)
  test/e2e-tests.sh
Due: none

Keep queue-proxy admin server on HTTP for PreStop hooks (#16163)
  pkg/queue/sharedmain/main.go
  test/e2e/systeminternaltls/system_internal_tls_test.go
Due: none

[release-1.18] Fix min-scale transition (#16100)
  pkg/apis/serving/v1/revision_lifecycle.go
  pkg/apis/serving/v1/revision_lifecycle_test.go
  pkg/reconciler/revision/table_test.go
  pkg/testing/v1/configuration.go
  test/conformance.go
  test/e2e/minscale_readiness_test.go
  test/test_images/configmimic/configmimic.go
  test/test_images/configmimic/service.yaml
  test/test_images/revisionfailure/revisionfailure.go
  test/test_images/revisionfailure/service.yaml
Due: none

[release-1.19] Fix min-scale transition (#16101)
  pkg/apis/serving/v1/revision_lifecycle.go
  pkg/apis/serving/v1/revision_lifecycle_test.go
  pkg/reconciler/revision/table_test.go
  pkg/testing/v1/configuration.go
  test/conformance.go
  test/e2e/minscale_readiness_test.go
  test/test_images/configmimic/configmimic.go
  test/test_images/configmimic/service.yaml
  test/test_images/revisionfailure/revisionfailure.go
  test/test_images/revisionfailure/service.yaml
Due: none

Added OpenTelemetry W3C Trace Context support while maintaining full backward compatibility with Zipkin B3 format.
  config/core/configmaps/observability.yaml
  pkg/http/request_log.go
  pkg/http/request_log_test.go
  pkg/http/trace.go
  pkg/http/trace_integration_test.go
  pkg/http/trace_test.go
  pkg/observability/config.go
  test/config/ytt/core/overlay-config-observability.yaml
  test/conformance/runtime/header_test.go
  test/e2e/logging_test.go
Due: none

If connection is Hijack()ed, suspend first byte timeout
  pkg/http/handler/timeout.go
  pkg/http/handler/timeout_test.go
Due: none

Update net-contour nightly
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-gateway-api nightly
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main

Update net-istio nightly
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-kourier nightly
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-contour nightly (#16172)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-gateway-api nightly (#16173)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main

Update net-istio nightly (#16174)
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-kourier nightly (#16175)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update community files
  OWNERS_ALIASES
Due: none

use stern for capturing logs
  test/e2e-common.sh
  test/e2e-external-domain-tls-tests.sh
  test/e2e-tests.sh
  test/e2e-upgrade-tests.sh
  test/presubmit-tests.sh
Due: none

Update community files (#16178)
  OWNERS_ALIASES
Due: none

Update net-gateway-api nightly (#16179)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main

bump e2e timeout more for e2e tests
  test/e2e-tests.sh
Due: none

Update net-contour nightly (#16180)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-istio nightly (#16181)
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-kourier nightly (#16182)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

bump e2e timeout more for e2e tests (#16184)
  test/e2e-tests.sh
Due: none

Update test/e2e-common.sh
  test/e2e-common.sh
Due: none

don't mkdir -p on every logline
  test/e2e-common.sh
Due: none

Exclude autoscaling annotations from everything but the KPA
  pkg/reconciler/revision/resources/deploy.go
  pkg/reconciler/revision/resources/deploy_test.go
  pkg/reconciler/revision/resources/imagecache.go
  pkg/reconciler/revision/resources/meta.go
  pkg/reconciler/revision/resources/meta_test.go
  pkg/reconciler/revision/resources/pa.go
Due: none

propagate annotation updates to the Pod Autoscaler
  pkg/reconciler/revision/reconcile_resources.go
  pkg/reconciler/revision/table_test.go
  pkg/testing/functional.go
Due: none

Update net-gateway-api nightly
  third_party/gateway-api-latest/gateway-api.yaml
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main

switch to stern for log collection. Also tar.gz the file (#16167)
  test/e2e-common.sh
  test/e2e-external-domain-tls-tests.sh
  test/e2e-tests.sh
  test/e2e-upgrade-tests.sh
  test/presubmit-tests.sh
Due: none
