Repository knative/serving: changes, and which Prow jobs are due for each by the changed paths.
All: kourier-stable_serving_main, kourier-stable-tls_serving_main, contour-latest_serving_main, contour-tls_serving_main, gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main, https_serving_main

kourier-stable_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --kourier-version stable
      env:
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

kourier-stable-tls_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-external-domain-tls-tests.sh --kourier-version stable
      env:
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

contour-latest_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --contour-version latest
      env:
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

contour-tls_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-external-domain-tls-tests.sh --contour-version latest
      env:
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

gateway-api-latest_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --gateway-api-version latest
      env:
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

gateway-api-latest-and-contour_serving_main:
  decorate: true
  optional: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --gateway-api-version latest --gateway-api-implementation contour
      env:
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

https_serving_main:
  decorate: true
  optional: true
  spec:
    containers:
    - args:
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --https
      - --run-test
      - ./test/e2e-external-domain-tls-tests.sh --https
      command:
      - runner.sh
      env:
      - name: DOCKER_IN_DOCKER_ENABLED
  ...

debug
  test/e2e_flags.go
Due: none

include change that enables http2
  go.mod
  go.sum
  vendor/knative.dev/pkg/network/server.go
  vendor/modules.txt
Due: none

add contour tls testing in github actions
  .github/workflows/kind-e2e.yaml
Due: none

Update net-kourier nightly
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-kourier nightly (#16281)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Fallback to http1 after failed http2 probe
  go.mod
  pkg/queue/health/probe.go
  pkg/queue/health/probe_test.go
Due: none

Rewrite hellohttp2 test service to use stdlib
  test/e2e/http2_test.go
  test/test_images/hellohttp2/hellohttp2.go
  test/test_images/hellohttp2/service.yaml
Due: none

change when pause and resume happens
  pkg/autoscaler/scaling/autoscaler.go
Due: none

Setup e2e runtime tests to use outgoing OTel trace headers
  test/conformance/runtime/header_test.go
  test/conformance/runtime/main_test.go
Due: none

Tweak logging
  test/conformance/runtime/header_test.go
Due: none

Re-enable TestShouldHaveHeadersSet conformance test (#16284)
  test/conformance/runtime/header_test.go
  test/conformance/runtime/main_test.go
Due: none

Update net-gateway-api nightly
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main

Update net-istio nightly
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-contour nightly
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-istio nightly (#16285)
  third_party/istio-latest/net-istio.yaml
Due: none

fix metric names
  pkg/queue/request_metric.go
  pkg/queue/request_metric_test.go
Due: none

Update net-gateway-api nightly (#16287)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main

Preserve deployment and template metadata during reconcile (#16199)
  pkg/reconciler/revision/cruds.go
  pkg/reconciler/revision/cruds_test.go
  pkg/reconciler/revision/table_test.go
Due: none

Update net-contour nightly (#16286)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-kourier nightly (#16288)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

add unit test for autoscaler
  pkg/autoscaler/scaling/autoscaler_test.go
Due: none

whitespace linting fixes
  pkg/autoscaler/scaling/autoscaler_test.go
Due: none

Update net-kourier nightly (#16291)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

fix metric names (#16290)
  pkg/queue/request_metric.go
  pkg/queue/request_metric_test.go
Due: none

Fix duplicate ACME challenge paths across ingress rules (#16259)
  pkg/http/trace.go
  pkg/http/trace_integration_test.go
  pkg/reconciler/domainmapping/resources/ingress.go
  pkg/reconciler/domainmapping/resources/ingress_test.go
  pkg/reconciler/route/resources/ingress.go
  pkg/reconciler/route/resources/ingress_test.go
Due: none

Prevent cross-service revision traffic routing
  pkg/apis/serving/v1/route_lifecycle.go
  pkg/apis/serving/v1/route_lifecycle_test.go
  pkg/reconciler/route/traffic/errors.go
  pkg/reconciler/route/traffic/errors_test.go
  pkg/reconciler/route/traffic/traffic.go
  pkg/reconciler/route/traffic/traffic_test.go
Due: none

Fix linting errors: use canonical HTTP header casing
  pkg/http/trace.go
  pkg/http/trace_integration_test.go
Due: none

Validate networking annotations on RevisionTemplateSpec
  pkg/apis/serving/v1/revision_validation.go
  pkg/apis/serving/v1/revision_validation_test.go
Due: none

Fix linting errors: use canonical HTTP header casing (#16295)
  pkg/http/trace.go
  pkg/http/trace_integration_test.go
Due: none

Update net-kourier nightly (#16299)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

switch autoscaler metrics to be async - allowing removal
  pkg/autoscaler/metrics/stats_scraper.go
  pkg/autoscaler/scaling/autoscaler.go
  pkg/autoscaler/scaling/autoscaler_test.go
  pkg/autoscaler/scaling/metrics.go
  pkg/autoscaler/scaling/multiscaler.go
  pkg/autoscaler/scaling/multiscaler_test.go
Due: none

allow removing kpa metrics when a revision goes away
  pkg/reconciler/autoscaling/kpa/controller.go
  pkg/reconciler/autoscaling/kpa/kpa.go
  pkg/reconciler/autoscaling/kpa/kpa_test.go
  pkg/reconciler/autoscaling/kpa/metrics.go
Due: none

Make autoscaler instrument async so we can remove metric attributes when revisions go away (#16300)
  pkg/autoscaler/metrics/stats_scraper.go
  pkg/autoscaler/scaling/autoscaler.go
  pkg/autoscaler/scaling/autoscaler_test.go
  pkg/autoscaler/scaling/metrics.go
  pkg/autoscaler/scaling/multiscaler.go
  pkg/autoscaler/scaling/multiscaler_test.go
  pkg/reconciler/autoscaling/kpa/controller.go
  pkg/reconciler/autoscaling/kpa/kpa.go
  pkg/reconciler/autoscaling/kpa/kpa_test.go
  pkg/reconciler/autoscaling/kpa/metrics.go
Due: none

Path conditions:
  kourier-stable_serving_main: any of: ^third_party/kourier-latest/*
  kourier-stable-tls_serving_main: any of: ^third_party/kourier-latest/*
  contour-latest_serving_main: any of: ^third_party/contour-latest/*
  contour-tls_serving_main: any of: ^third_party/contour-latest/*
  gateway-api-latest_serving_main: any of: ^third_party/gateway-api-latest/*
  gateway-api-latest-and-contour_serving_main: any of: ^third_party/gateway-api-latest/*
  https_serving_main: any of: ^third_party/cert-manager-latest/*
