Repository knative/serving: changes, and which Prow jobs are due for each by the changed paths.
All: kourier-stable_serving_main, kourier-stable-tls_serving_main, contour-latest_serving_main, contour-tls_serving_main, gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main, https_serving_main

Path conditions:
  kourier-stable_serving_main: any of: ^third_party/kourier-latest/*
  kourier-stable-tls_serving_main: any of: ^third_party/kourier-latest/*
  contour-latest_serving_main: any of: ^third_party/contour-latest/*
  contour-tls_serving_main: any of: ^third_party/contour-latest/*
  gateway-api-latest_serving_main: any of: ^third_party/gateway-api-latest/*
  gateway-api-latest-and-contour_serving_main: any of: ^third_party/gateway-api-latest/*
  https_serving_main: any of: ^third_party/cert-manager-latest/*

Update net-kourier nightly (#16149)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Loosen cgroupv2 cpu.weight check in test (#16147)
  test/conformance/runtime/cgroup_test.go
Due: none

Run E2E tests against K8s 1.34 as well (#16144)
  .github/workflows/kind-e2e.yaml
Due: none

use constant for autoscaling.knative.dev/class
  pkg/reconciler/revision/cruds.go
Due: none

Fix: PodAutoscaler not reconciled due to missing class annotation (#16141)
  pkg/reconciler/revision/cruds.go
Due: none

chore: run goimports
  pkg/activator/net/throttler_race_test.go
  pkg/activator/net/throttler_test.go
Due: none

test: add race tests for cross-revision pod contamination defenses
  pkg/activator/net/throttler_race_test.go
Due: none

fix: resolve race test revision ID mismatches and nil breaker panics
  pkg/activator/net/throttler_race_test.go
Due: none

feat: add endpoint source tracking for cross-revision debugging
  pkg/activator/net/revision_backends.go
Due: none

chore: goimports
  pkg/autoscaler/metrics/stat.pb.go
  test/test_images/grpc-ping/proto/ping.pb.go
Due: none

fix: simplify race tests to avoid hanging on pending pods
  pkg/activator/net/throttler_race_test.go
Due: none

test: add race tests for capacity update lag and stale backendCount
  pkg/activator/net/throttler_race_test.go
Due: none

fix: update ProbeHandler test to match new signature with revision name/namespace
  pkg/queue/health/handler_test.go
Due: none

feat: add backwards compatibility for queue-proxy revision validation
  pkg/activator/net/throttler.go
  pkg/activator/net/throttler_race_test.go
Due: none

fix: address golangci-lint issues
  pkg/activator/net/throttler.go
  pkg/activator/net/throttler_race_test.go
Due: none

feat: add diagnostic logging for capacity lag investigation
  pkg/activator/net/throttler.go
Due: none

feat: add comprehensive diagnostic logging for cross-revision pod contamination
  pkg/activator/net/throttler.go
Due: none

Update net-istio nightly
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-kourier nightly
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-gateway-api nightly
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main

Update net-contour nightly
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-kourier nightly (#16154)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/hack/go.work
  vendor/knative.dev/hack/go.work.sum
  vendor/knative.dev/hack/library.sh
  vendor/modules.txt
Due: none

Update net-istio nightly (#16153)
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-gateway-api nightly (#16155)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main

feat: track informer metrics
  cmd/activator/main.go
  pkg/activator/clientmetrics.go
Due: none

Update net-contour nightly (#16156)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

upgrade to latest dependencies (#16157)
  go.mod
  go.sum
  vendor/knative.dev/hack/go.work
  vendor/knative.dev/hack/go.work.sum
  vendor/knative.dev/hack/library.sh
  vendor/modules.txt
Due: none

Update net-gateway-api nightly (#16161)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main

Update net-contour nightly (#16159)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-kourier nightly (#16160)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Istio now handles prestop hooks correctly so we can drop our workaround
  pkg/reconciler/revision/resources/queue.go
  pkg/reconciler/serverlessservice/resources/services.go
  pkg/reconciler/serverlessservice/resources/services_test.go
  pkg/reconciler/serverlessservice/serverlessservice_test.go
Due: none

istio e2e mesh tests are timing out
  test/e2e-tests.sh
Due: none
