Repository knative/serving: changes, and which Prow jobs are due for each by the changed paths.
All: kourier-stable_serving_main, kourier-stable-tls_serving_main, contour-latest_serving_main, contour-tls_serving_main, gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main, https_serving_main

kourier-stable_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --kourier-version stable
      env:
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

kourier-stable-tls_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-external-domain-tls-tests.sh --kourier-version stable
      env:
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

contour-latest_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --contour-version latest
      env:
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

contour-tls_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-external-domain-tls-tests.sh --contour-version latest
      env:
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

gateway-api-latest_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --gateway-api-version latest
      env:
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

gateway-api-latest-and-contour_serving_main:
  decorate: true
  optional: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --gateway-api-version latest --gateway-api-implementation contour
      env:
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

https_serving_main:
  decorate: true
  optional: true
  spec:
    containers:
    - args:
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --https
      - --run-test
      - ./test/e2e-external-domain-tls-tests.sh --https
      command:
      - runner.sh
      env:
      - name: DOCKER_IN_DOCKER_ENABLED
  ...

activator: honor only spec.loadBalancingPolicy; remove annotation handling and keep dynamic revision updates
  pkg/activator/net/throttler.go
  pkg/activator/net/throttler_test.go
Due: none

ci(workflows): include controller image in build matrix for release and dev
  .github/workflows/ci_release.yml
  .github/workflows/ci_update_dev.yml
Due: none

fix: store atomic int
  pkg/activator/net/throttler.go
Due: none

fix: resolve race condition in revisionThrottler containerConcurrency field
  pkg/activator/net/throttler.go
  pkg/activator/net/throttler_test.go
Due: none

Update net-kourier nightly
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-kourier nightly (#16012)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/pkg/hack/update-codegen.sh
  vendor/knative.dev/pkg/hack/verify-codegen.sh
  vendor/knative.dev/pkg/network/transports.go
  vendor/modules.txt
Due: none

upgrade to latest dependencies (#16013)
  go.mod
  go.sum
  vendor/knative.dev/pkg/hack/update-codegen.sh
  vendor/knative.dev/pkg/hack/verify-codegen.sh
  vendor/knative.dev/pkg/network/transports.go
  vendor/modules.txt
Due: none

Update net-contour nightly
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-gateway-api nightly
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main

Update net-istio nightly
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-istio nightly (#16011)
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-contour nightly (#16014)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-gateway-api nightly (#16010)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main

fix a tracing protocol comment
  config/core/configmaps/observability.yaml
Due: none

fix a tracing protocol comment (#16015)
  config/core/configmaps/observability.yaml
Due: none

fix a tracing protocol comment (#16016)
  config/core/configmaps/observability.yaml
Due: none

fix queue proxy user metrics porpt
  pkg/queue/sharedmain/otel.go
Due: none

drop unused metrics domain env var
  config/core/deployments/activator.yaml
  config/core/deployments/autoscaler.yaml
  config/core/deployments/controller.yaml
  config/core/deployments/webhook.yaml
  config/hpa-autoscaling/controller.yaml
Due: none

only set the port if it's not set by the operator
  pkg/queue/sharedmain/otel.go
Due: none

fix spelling typo
  pkg/queue/sharedmain/otel.go
Due: none

Fix queue proxy user metrics port (#16018)
  pkg/queue/sharedmain/otel.go
Due: none

drop unused metrics domain env var (#16019)
  config/core/deployments/activator.yaml
  config/core/deployments/autoscaler.yaml
  config/core/deployments/controller.yaml
  config/core/deployments/webhook.yaml
  config/hpa-autoscaling/controller.yaml
Due: none

[release-1.19] Fix queue proxy user metrics port (#16021)
  pkg/queue/sharedmain/otel.go
Due: none

Update net-kourier nightly (#16020)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

fix: log when proxy starts
  pkg/activator/handler/handler.go
Due: none

fix: Change healthy target 502 to a guage
  pkg/activator/handler/metrics.go
Due: none

feat: create breaker_pending_requests metric
  pkg/activator/handler/metrics.go
  pkg/activator/net/throttler.go
Due: none

feat: add detailed 502 error message
  pkg/activator/handler/handler.go
  pkg/activator/handler/metric_handler_test.go
  pkg/activator/handler/metrics.go
  pkg/activator/net/throttler.go
Due: none

fix: make queue-proxy probes more aggressive
  pkg/reconciler/revision/resources/queue.go
Due: none

add tests for skip create case
  pkg/webhook/validate_unstructured_test.go
Due: none

cleanup code
  pkg/webhook/validate_unstructured_test.go
Due: none

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/pkg/observability/metrics/prometheus_enabled.go
  vendor/modules.txt
Due: none

Path conditions:
  kourier-stable_serving_main: any of: ^third_party/kourier-latest/*
  kourier-stable-tls_serving_main: any of: ^third_party/kourier-latest/*
  contour-latest_serving_main: any of: ^third_party/contour-latest/*
  contour-tls_serving_main: any of: ^third_party/contour-latest/*
  gateway-api-latest_serving_main: any of: ^third_party/gateway-api-latest/*
  gateway-api-latest-and-contour_serving_main: any of: ^third_party/gateway-api-latest/*
  https_serving_main: any of: ^third_party/cert-manager-latest/*
