Repository knative/serving: changes, and which Prow jobs are due for each by the changed paths.
All: kourier-stable_serving_main, kourier-stable-tls_serving_main, contour-latest_serving_main, contour-tls_serving_main, gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main, https_serving_main

Path conditions:
  kourier-stable_serving_main: any of: ^third_party/kourier-latest/*
  kourier-stable-tls_serving_main: any of: ^third_party/kourier-latest/*
  contour-latest_serving_main: any of: ^third_party/contour-latest/*
  contour-tls_serving_main: any of: ^third_party/contour-latest/*
  gateway-api-latest_serving_main: any of: ^third_party/gateway-api-latest/*
  gateway-api-latest-and-contour_serving_main: any of: ^third_party/gateway-api-latest/*
  https_serving_main: any of: ^third_party/cert-manager-latest/*

Update net-gateway-api nightly (#16263)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main

Update community files
  OWNERS_ALIASES
Due: none

Update community files (#16265)
  OWNERS_ALIASES
Due: none

Update net-contour nightly
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-istio nightly
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-gateway-api nightly
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main

Update net-kourier nightly
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-istio nightly (#16269)
  third_party/istio-latest/net-istio.yaml
Due: none

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/go.uber.org/zap/.golangci.yml
  vendor/go.uber.org/zap/CHANGELOG.md
  vendor/go.uber.org/zap/CODE_OF_CONDUCT.md
  vendor/go.uber.org/zap/LICENSE
  vendor/go.uber.org/zap/Makefile
  vendor/go.uber.org/zap/field.go
  vendor/go.uber.org/zap/http_handler.go
  vendor/go.uber.org/zap/logger.go
  vendor/go.uber.org/zap/options.go
  vendor/go.uber.org/zap/sink.go
  vendor/go.uber.org/zap/zapcore/buffered_write_syncer.go
  vendor/go.uber.org/zap/zapcore/console_encoder.go
  vendor/go.uber.org/zap/zapcore/entry.go
  vendor/go.uber.org/zap/zapcore/lazy_with.go
  vendor/go.uber.org/zap/zapcore/level.go
  vendor/knative.dev/pkg/webhook/webhook.go
  vendor/modules.txt
Due: none

Update net-contour nightly (#16267)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

upgrade to latest dependencies (#16266)
  go.mod
  go.sum
  vendor/go.uber.org/zap/.golangci.yml
  vendor/go.uber.org/zap/CHANGELOG.md
  vendor/go.uber.org/zap/CODE_OF_CONDUCT.md
  vendor/go.uber.org/zap/LICENSE
  vendor/go.uber.org/zap/Makefile
  vendor/go.uber.org/zap/field.go
  vendor/go.uber.org/zap/http_handler.go
  vendor/go.uber.org/zap/logger.go
  vendor/go.uber.org/zap/options.go
  vendor/go.uber.org/zap/sink.go
  vendor/go.uber.org/zap/zapcore/buffered_write_syncer.go
  vendor/go.uber.org/zap/zapcore/console_encoder.go
  vendor/go.uber.org/zap/zapcore/entry.go
  vendor/go.uber.org/zap/zapcore/lazy_with.go
  vendor/go.uber.org/zap/zapcore/level.go
  vendor/knative.dev/pkg/webhook/webhook.go
  vendor/modules.txt
Due: none

bump istio to v1.28.0
  test/e2e-networking-library.sh
Due: none

drop use of deprecated knative.dev/networking/pkg
  cmd/activator/main.go
  cmd/default-domain/main.go
  cmd/webhook/main.go
  pkg/reconciler/autoscaling/config/store.go
  pkg/reconciler/autoscaling/config/store_test.go
  pkg/reconciler/domainmapping/config/store.go
  pkg/reconciler/domainmapping/config/store_test.go
  pkg/reconciler/nscert/config/store.go
  pkg/reconciler/revision/config/store.go
  pkg/reconciler/revision/config/store_test.go
  pkg/reconciler/route/config/store.go
Due: none

Update net-kourier nightly (#16270)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-gateway-api nightly (#16268)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/networking/pkg/client/injection/reconciler/networking/v1alpha1/certificate/controller.go
  vendor/knative.dev/networking/pkg/client/injection/reconciler/networking/v1alpha1/certificate/reconciler.go
  vendor/knative.dev/networking/pkg/client/injection/reconciler/networking/v1alpha1/serverlessservice/controller.go
  vendor/knative.dev/networking/pkg/client/injection/reconciler/networking/v1alpha1/serverlessservice/reconciler.go
  vendor/modules.txt
Due: none

run ./hack/update-codegen.sh
  vendor/knative.dev/networking/pkg/deprecated_config.go
  vendor/knative.dev/networking/pkg/deprecated_header.go
  vendor/knative.dev/networking/pkg/deprecated_http.go
  vendor/knative.dev/networking/pkg/deprecated_labels.go
  vendor/knative.dev/networking/pkg/deprecated_port.go
  vendor/knative.dev/networking/pkg/k8s/ports.go
  vendor/modules.txt
Due: none

upgrade to latest dependencies (#16273)
  go.mod
  go.sum
  vendor/knative.dev/networking/pkg/client/injection/reconciler/networking/v1alpha1/certificate/controller.go
  vendor/knative.dev/networking/pkg/client/injection/reconciler/networking/v1alpha1/certificate/reconciler.go
  vendor/knative.dev/networking/pkg/client/injection/reconciler/networking/v1alpha1/serverlessservice/controller.go
  vendor/knative.dev/networking/pkg/client/injection/reconciler/networking/v1alpha1/serverlessservice/reconciler.go
  vendor/modules.txt
Due: none

Istio now handles prestop hooks correctly so we can drop our workaround (#16164)
  pkg/reconciler/revision/resources/queue.go
  pkg/reconciler/serverlessservice/resources/services.go
  pkg/reconciler/serverlessservice/resources/services_test.go
  pkg/reconciler/serverlessservice/serverlessservice_test.go
Due: none

drop use of deprecated knative.dev/networking/pkg (#16272)
  cmd/activator/main.go
  cmd/default-domain/main.go
  cmd/webhook/main.go
  pkg/reconciler/autoscaling/config/store.go
  pkg/reconciler/autoscaling/config/store_test.go
  pkg/reconciler/domainmapping/config/store.go
  pkg/reconciler/domainmapping/config/store_test.go
  pkg/reconciler/nscert/config/store.go
  pkg/reconciler/revision/config/store.go
  pkg/reconciler/revision/config/store_test.go
  pkg/reconciler/route/config/store.go
  vendor/knative.dev/networking/pkg/deprecated_config.go
  vendor/knative.dev/networking/pkg/deprecated_header.go
  vendor/knative.dev/networking/pkg/deprecated_http.go
  vendor/knative.dev/networking/pkg/deprecated_labels.go
  vendor/knative.dev/networking/pkg/deprecated_port.go
  vendor/knative.dev/networking/pkg/k8s/ports.go
  vendor/modules.txt
Due: none

Update net-istio nightly (#16275)
  third_party/istio-latest/net-istio.yaml
Due: none

bump istio to v1.28.0 (#16271)
  test/e2e-networking-library.sh
Due: none

Update net-contour nightly (#16274)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Allow overwriting queue-proxy image via ksvc annotation
  pkg/apis/serving/register.go
  pkg/apis/serving/v1/revision_validation.go
  pkg/apis/serving/v1/revision_validation_test.go
  pkg/reconciler/revision/resources/queue.go
  pkg/reconciler/revision/resources/queue_test.go
Due: none

Fallback to http1 after failed http2 probe
  go.mod
  pkg/queue/health/probe.go
  pkg/queue/health/probe_test.go
Due: none

Rewrite hellohttp2 test service to use stdlib
  test/e2e/http2_test.go
  test/test_images/hellohttp2/hellohttp2.go
  test/test_images/hellohttp2/service.yaml
Due: none

Update net-istio nightly (#16278)
  third_party/istio-latest/net-istio.yaml
Due: none

Allow serve mode when system-internal-tls is enabled
  pkg/reconciler/autoscaling/kpa/kpa.go
  pkg/reconciler/autoscaling/kpa/kpa_test.go
  test/e2e/systeminternaltls/system_internal_tls_test.go
Due: none

Preserve deployment and template metadata during reconcile
  pkg/reconciler/revision/cruds.go
  pkg/reconciler/revision/cruds_test.go
  pkg/reconciler/revision/table_test.go
Due: none

Update net-gateway-api nightly (#16276)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main

Update net-kourier nightly (#16279)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-contour nightly (#16277)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Allow serve mode when system-internal-tls is enabled (#16183)
  pkg/reconciler/autoscaling/kpa/kpa.go
  pkg/reconciler/autoscaling/kpa/kpa_test.go
  test/e2e/systeminternaltls/system_internal_tls_test.go
Due: none

update deps to drop h2c lib
  go.mod
  go.sum
  vendor/knative.dev/pkg/network/h2c.go
  vendor/knative.dev/pkg/network/server.go
  vendor/knative.dev/pkg/network/transports.go
  vendor/modules.txt
Due: none
