Repository knative/serving: changes, and which Prow jobs are due for each by the changed paths.
All: kourier-stable_serving_main, kourier-stable-tls_serving_main, contour-latest_serving_main, contour-tls_serving_main, gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main, https_serving_main

Path conditions:
  kourier-stable_serving_main: any of: ^third_party/kourier-latest/*
  kourier-stable-tls_serving_main: any of: ^third_party/kourier-latest/*
  contour-latest_serving_main: any of: ^third_party/contour-latest/*
  contour-tls_serving_main: any of: ^third_party/contour-latest/*
  gateway-api-latest_serving_main: any of: ^third_party/gateway-api-latest/*
  gateway-api-latest-and-contour_serving_main: any of: ^third_party/gateway-api-latest/*
  https_serving_main: any of: ^third_party/cert-manager-latest/*

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/hack/library.sh
  vendor/modules.txt
Due: none

Revert generated reconciler files and update features.yaml checksum
  config/core/configmaps/features.yaml
  pkg/client/injection/reconciler/autoscaling/v1alpha1/metric/reconciler.go
  pkg/client/injection/reconciler/autoscaling/v1alpha1/podautoscaler/reconciler.go
  pkg/client/injection/reconciler/serving/v1/configuration/reconciler.go
  pkg/client/injection/reconciler/serving/v1/revision/reconciler.go
  pkg/client/injection/reconciler/serving/v1/route/reconciler.go
  pkg/client/injection/reconciler/serving/v1/service/reconciler.go
  pkg/client/injection/reconciler/serving/v1beta1/domainmapping/reconciler.go
  test/e2e_flags.go
Due: none

Fix spelling mistakes in comments, docs, and error strings
  config/core/configmaps/features.yaml
  pkg/activator/net/lb_policy_test.go
  pkg/apis/config/features.go
  pkg/apis/serving/v1/route_lifecycle.go
  pkg/autoscaler/aggregation/bucketing_test.go
  pkg/autoscaler/bucket/bucket_test.go
  pkg/autoscaler/metrics/stats_scraper_test.go
  pkg/autoscaler/scaling/autoscaler_test.go
  pkg/autoscaler/scaling/metrics.go
  pkg/client/injection/reconciler/autoscaling/v1alpha1/metric/reconciler.go
  pkg/client/injection/reconciler/autoscaling/v1alpha1/podautoscaler/reconciler.go
  pkg/client/injection/reconciler/serving/v1/configuration/reconciler.go
  pkg/client/injection/reconciler/serving/v1/revision/reconciler.go
  pkg/client/injection/reconciler/serving/v1/route/reconciler.go
  pkg/client/injection/reconciler/serving/v1/service/reconciler.go
  pkg/client/injection/reconciler/serving/v1beta1/domainmapping/reconciler.go
  pkg/http/handler/hijack_test.go
  pkg/queue/sharedmain/main.go
  pkg/reconciler/certificate/resources/cert_manager_certificate_test.go
  pkg/reconciler/domainmapping/table_test.go
  pkg/reconciler/revision/reconcile_resources.go
  pkg/reconciler/route/resources/certificate.go
  pkg/reconciler/route/traffic/rollout.go
  pkg/reconciler/route/traffic/rollout_test.go
  pkg/reconciler/serverlessservice/serverlessservice_test.go
  support/TRIAGE.md
  test/conformance.go
  test/conformance/api/v1/errorcondition_test.go
  test/conformance/api/v1/resources_test.go
  test/conformance/api/v1/util.go
  test/conformance/runtime/cgroup_test.go
  test/conformance/runtime/readiness_probe_test.go
  test/e2e-tests.sh
  test/e2e/logging_test.go
  test/e2e/websocket_test.go
  test/e2e_flags.go
  test/ha/workload_test.go
Due: none

Update net-contour nightly
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-gateway-api nightly
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main

Update net-kourier nightly
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

docs: update HTTP links to HTTPS in comments and docs
  DEVELOPMENT.md
  config/core/300-resources/revision.yaml
  config/core/configmaps/autoscaler.yaml
  docs/serving-api.md
  pkg/apis/serving/v1/revision_types.go
  pkg/autoscaler/aggregation/max/window.go
Due: none

running codegen
  config/core/configmaps/autoscaler.yaml
  core.md
  issue.md
Due: none

upgrade to latest dependencies (#16546)
  go.mod
  go.sum
  vendor/knative.dev/hack/library.sh
  vendor/modules.txt
Due: none

removing wrong file
  issue.md
Due: none

Remove core.md from PR tracking (keep file locally)
  core.md
Due: none

Update net-gateway-api nightly (#16543)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main

Update net-kourier nightly (#16550)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Stabilize performance test SLAs with tolerance thresholds (#16371)
  test/performance/benchmarks/dataplane-probe/main.go
  test/performance/benchmarks/dataplane-probe/main_test.go
  test/performance/benchmarks/rollout-probe/main.go
  test/performance/benchmarks/scale-from-zero/main.go
  test/performance/benchmarks/scale-from-zero/main_test.go
Due: none

Rename serving container helpers without breaking compatibility
  docs/scaling/README.md
  pkg/apis/config/defaults.go
  pkg/apis/config/defaults_test.go
  pkg/apis/serving/k8s_validation.go
  pkg/apis/serving/k8s_validation_test.go
  pkg/apis/serving/v1/revision_defaults.go
  pkg/reconciler/revision/resources/deploy.go
  pkg/webhook/podspec_dryrun.go
  test/conformance/runtime/liveness_probe_test.go
  test/e2e/readiness_test.go
  test/util.go
Due: none

docs: update HTTP links to HTTPS in comments and docs (#16551)
  DEVELOPMENT.md
  config/core/300-resources/revision.yaml
  config/core/configmaps/autoscaler.yaml
  docs/serving-api.md
  pkg/apis/serving/v1/revision_types.go
  pkg/autoscaler/aggregation/max/window.go
Due: none

Fix spelling mistakes in comments, docs, and error strings (#16547)
  config/core/configmaps/features.yaml
  pkg/activator/net/lb_policy_test.go
  pkg/apis/config/features.go
  pkg/apis/serving/v1/route_lifecycle.go
  pkg/autoscaler/aggregation/bucketing_test.go
  pkg/autoscaler/bucket/bucket_test.go
  pkg/autoscaler/metrics/stats_scraper_test.go
  pkg/autoscaler/scaling/autoscaler_test.go
  pkg/autoscaler/scaling/metrics.go
  pkg/http/handler/hijack_test.go
  pkg/queue/sharedmain/main.go
  pkg/reconciler/certificate/resources/cert_manager_certificate_test.go
  pkg/reconciler/domainmapping/table_test.go
  pkg/reconciler/revision/reconcile_resources.go
  pkg/reconciler/route/resources/certificate.go
  pkg/reconciler/route/traffic/rollout.go
  pkg/reconciler/route/traffic/rollout_test.go
  pkg/reconciler/serverlessservice/serverlessservice_test.go
  support/TRIAGE.md
  test/conformance.go
  test/conformance/api/v1/errorcondition_test.go
  test/conformance/api/v1/resources_test.go
  test/conformance/api/v1/util.go
  test/conformance/runtime/cgroup_test.go
  test/conformance/runtime/readiness_probe_test.go
  test/e2e-tests.sh
  test/e2e/logging_test.go
  test/e2e/websocket_test.go
  test/e2e_flags.go
  test/ha/workload_test.go
Due: none

Only update the deployment if desired labels, annotations or spec changes
  go.mod
  go.sum
  pkg/apis/serving/register.go
  pkg/reconciler/revision/cruds.go
  pkg/reconciler/revision/resources/deploy.go
  pkg/reconciler/revision/resources/deploy_test.go
  pkg/reconciler/revision/resources/meta.go
  pkg/reconciler/revision/table_test.go
  vendor/github.com/opencontainers/image-spec/specs-go/version.go
  vendor/k8s.io/apimachinery/pkg/util/rand/rand.go
  vendor/modules.txt
Due: none

fix: adding required permissions to top level and jobs in the workflow
  .github/workflows/kind-e2e.yaml
Due: none

tweak hash to use base 36 (alpha numeric chars alpha (base 36))
  pkg/reconciler/revision/resources/meta.go
Due: none

ignore prealloc in test files
  .golangci.yaml
Due: none

drop unused nolint directive
  pkg/autoscaler/scaling/autoscaler.go
Due: none

address linter issues
  .golangci.yaml
  cmd/webhook/main.go
  pkg/apis/serving/register.go
  pkg/apis/serving/v1/revision_validation_test.go
  pkg/autoscaler/metrics/http_scrape_client.go
  pkg/queue/health/probe.go
  pkg/queue/protobuf_stats_reporter.go
  pkg/queue/readiness/probe.go
  pkg/reconciler/domainmapping/reconciler.go
  pkg/reconciler/revision/resources/queue_test.go
  test/e2e/helloworld_test.go
Due: none

run update-deps
  vendor/k8s.io/apimachinery/pkg/util/rand/rand.go
  vendor/modules.txt
Due: none

fix: adding required permissions to top level and jobs in the workflow (#16556)
  .github/workflows/kind-e2e.yaml
Due: none

Update net-contour nightly (#16549)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Address linter warnings now that we've bumped to go1.26 (#16557)
  .golangci.yaml
  cmd/webhook/main.go
  pkg/apis/serving/register.go
  pkg/apis/serving/v1/revision_validation_test.go
  pkg/autoscaler/metrics/http_scrape_client.go
  pkg/autoscaler/scaling/autoscaler.go
  pkg/queue/health/probe.go
  pkg/queue/protobuf_stats_reporter.go
  pkg/queue/readiness/probe.go
  pkg/reconciler/domainmapping/reconciler.go
  pkg/reconciler/revision/resources/queue_test.go
  test/e2e/helloworld_test.go
Due: none

Update net-istio nightly
  third_party/istio-latest/net-istio.yaml
Due: none

address PR feedback
  pkg/reconciler/revision/resources/deploy.go
  pkg/reconciler/revision/resources/meta.go
  pkg/reconciler/revision/table_test.go
Due: none

Update net-istio nightly (#16558)
  third_party/istio-latest/net-istio.yaml
Due: none

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/k8s.io/apimachinery/pkg/api/validate/union.go
  vendor/k8s.io/code-generator/cmd/validation-gen/validators/union.go
  vendor/modules.txt
Due: none

upgrade to latest dependencies (#16559)
  go.mod
  go.sum
  vendor/k8s.io/apimachinery/pkg/api/validate/union.go
  vendor/k8s.io/code-generator/cmd/validation-gen/validators/union.go
  vendor/modules.txt
Due: none

only update the deployment if desired labels, annotations or spec changes (#16554)
  go.mod
  go.sum
  pkg/apis/serving/register.go
  pkg/reconciler/revision/cruds.go
  pkg/reconciler/revision/resources/deploy.go
  pkg/reconciler/revision/resources/deploy_test.go
  pkg/reconciler/revision/resources/meta.go
  pkg/reconciler/revision/table_test.go
  vendor/github.com/opencontainers/image-spec/specs-go/version.go
  vendor/modules.txt
Due: none

Update net-gateway-api nightly (#16563)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main

Update net-kourier nightly (#16560)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-contour nightly (#16561)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main
