Repository knative/serving: changes, and which Prow jobs are due for each by the changed paths.
All: kourier-stable_serving_main, kourier-stable-tls_serving_main, contour-latest_serving_main, contour-tls_serving_main, gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main, https_serving_main

Path conditions:
  kourier-stable_serving_main: any of: ^third_party/kourier-latest/*
  kourier-stable-tls_serving_main: any of: ^third_party/kourier-latest/*
  contour-latest_serving_main: any of: ^third_party/contour-latest/*
  contour-tls_serving_main: any of: ^third_party/contour-latest/*
  gateway-api-latest_serving_main: any of: ^third_party/gateway-api-latest/*
  gateway-api-latest-and-contour_serving_main: any of: ^third_party/gateway-api-latest/*
  https_serving_main: any of: ^third_party/cert-manager-latest/*

Update net-istio nightly
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-contour nightly
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-gateway-api nightly
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main

Update net-kourier nightly
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-istio nightly (#16132)
  third_party/istio-latest/net-istio.yaml
Due: none

use knative semconv package
  pkg/autoscaler/metrics/stats_scraper.go
  pkg/queue/request_metric.go
  pkg/queue/request_metric_test.go
  pkg/queue/sharedmain/otel.go
  vendor/go.opentelemetry.io/otel/semconv/v1.34.0/MIGRATION.md
  vendor/go.opentelemetry.io/otel/semconv/v1.34.0/README.md
  vendor/go.opentelemetry.io/otel/semconv/v1.34.0/attribute_group.go
  vendor/go.opentelemetry.io/otel/semconv/v1.34.0/doc.go
  vendor/go.opentelemetry.io/otel/semconv/v1.34.0/error_type.go
  vendor/go.opentelemetry.io/otel/semconv/v1.34.0/exception.go
  vendor/go.opentelemetry.io/otel/semconv/v1.34.0/schema.go
  vendor/modules.txt
Due: none

Update net-kourier nightly (#16135)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-gateway-api nightly (#16134)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main

Update net-contour nightly (#16133)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Change SecurePodDefaults default from Disabled to Enabled (#16042)
  config/core/configmaps/features.yaml
  pkg/apis/config/features.go
  pkg/apis/config/features_test.go
  pkg/apis/serving/fieldmask.go
  pkg/apis/serving/fieldmask_test.go
  pkg/apis/serving/k8s_validation.go
  pkg/apis/serving/k8s_validation_test.go
  pkg/apis/serving/v1/revision_defaults.go
  pkg/apis/serving/v1/revision_defaults_test.go
  pkg/testing/v1/revision.go
Due: none

Update net-kourier nightly (#16140)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-contour nightly (#16139)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Fix: PodAutoscaler not reconciled due to missing class annotation race condition
  pkg/reconciler/revision/cruds.go
Due: none

fix: prevent pods from getting stuck in pending state with aggressive backoff
  pkg/activator/net/throttler_test.go
Due: none

docs: add comprehensive pod state machine documentation
  CLAUDE.md
Due: none

fix: increase podReady timeout
  pkg/activator/net/throttler.go
Due: none

fix: increase ready timeout to 5s
  pkg/activator/net/throttler.go
Due: none

feat: add detailed timing instrumentation for slow routing diagnosis
  pkg/activator/net/throttler.go
Due: none

feat: add zero capacity diagnostics to identify revision throttling issues
  pkg/activator/net/throttler.go
Due: none

feat: add end-to-end pipeline instrumentation for endpoint update delays
  pkg/activator/net/revision_backends.go
  pkg/activator/net/throttler.go
Due: none

Run E2E tests against K8s 1.34 as well
  .github/workflows/kind-e2e.yaml
Due: none

Update net-gateway-api nightly (#16142)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/hack/library.sh
  vendor/knative.dev/hack/presubmit-tests.sh
  vendor/modules.txt
Due: none

Update net-istio nightly (#16143)
  third_party/istio-latest/net-istio.yaml
Due: none

upgrade to latest dependencies (#16145)
  go.mod
  go.sum
  vendor/knative.dev/hack/library.sh
  vendor/knative.dev/hack/presubmit-tests.sh
  vendor/modules.txt
Due: none

Add feature flag treat-pod-as-always-schedulable
  config/core/configmaps/features.yaml
  pkg/apis/config/features.go
  pkg/apis/config/features_test.go
  pkg/reconciler/revision/reconcile_resources.go
  pkg/reconciler/revision/table_test.go
Due: none

Loosen cgroupv2 cpu.weight check in test
  test/conformance/runtime/cgroup_test.go
Due: none

Update net-istio nightly (#16150)
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-contour nightly (#16148)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-gateway-api nightly (#16151)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main
