Repository knative/serving: changes, and which Prow jobs are due for each by the changed paths.
All: kourier-stable_serving_main, kourier-stable-tls_serving_main, contour-latest_serving_main, contour-tls_serving_main, gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main, https_serving_main

Path conditions:
  kourier-stable_serving_main: any of: ^third_party/kourier-latest/*
  kourier-stable-tls_serving_main: any of: ^third_party/kourier-latest/*
  contour-latest_serving_main: any of: ^third_party/contour-latest/*
  contour-tls_serving_main: any of: ^third_party/contour-latest/*
  gateway-api-latest_serving_main: any of: ^third_party/gateway-api-latest/*
  gateway-api-latest-and-contour_serving_main: any of: ^third_party/gateway-api-latest/*
  https_serving_main: any of: ^third_party/cert-manager-latest/*

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/golang.org/x/sync/errgroup/errgroup.go
  vendor/golang.org/x/sys/cpu/cpu.go
  vendor/golang.org/x/sys/cpu/cpu_linux_riscv64.go
  vendor/golang.org/x/sys/cpu/cpu_riscv64.go
  vendor/golang.org/x/sys/windows/security_windows.go
  vendor/golang.org/x/sys/windows/syscall_windows.go
  vendor/golang.org/x/sys/windows/types_windows.go
  vendor/golang.org/x/sys/windows/zsyscall_windows.go
  vendor/golang.org/x/term/terminal.go
  vendor/golang.org/x/tools/go/packages/golist.go
  vendor/golang.org/x/tools/go/packages/packages.go
  vendor/golang.org/x/tools/go/types/typeutil/callee.go
  vendor/golang.org/x/tools/internal/packagesinternal/packages.go
  vendor/golang.org/x/tools/internal/stdlib/deps.go
  vendor/golang.org/x/tools/internal/stdlib/manifest.go
  vendor/golang.org/x/tools/internal/stdlib/stdlib.go
  vendor/knative.dev/hack/infra-library.sh
  vendor/modules.txt
Due: none

upgrade to latest dependencies (#15881)
  go.mod
  go.sum
  vendor/golang.org/x/sync/errgroup/errgroup.go
  vendor/golang.org/x/sys/cpu/cpu.go
  vendor/golang.org/x/sys/cpu/cpu_linux_riscv64.go
  vendor/golang.org/x/sys/cpu/cpu_riscv64.go
  vendor/golang.org/x/sys/windows/security_windows.go
  vendor/golang.org/x/sys/windows/syscall_windows.go
  vendor/golang.org/x/sys/windows/types_windows.go
  vendor/golang.org/x/sys/windows/zsyscall_windows.go
  vendor/golang.org/x/term/terminal.go
  vendor/golang.org/x/tools/go/packages/golist.go
  vendor/golang.org/x/tools/go/packages/packages.go
  vendor/golang.org/x/tools/go/types/typeutil/callee.go
  vendor/golang.org/x/tools/internal/packagesinternal/packages.go
  vendor/golang.org/x/tools/internal/stdlib/deps.go
  vendor/golang.org/x/tools/internal/stdlib/manifest.go
  vendor/golang.org/x/tools/internal/stdlib/stdlib.go
  vendor/knative.dev/hack/infra-library.sh
  vendor/modules.txt
Due: none

Added the e2e test verification to make sure pod number reaches minScale
  test/e2e/minscale_readiness_test.go
  test/v1/revision.go
Due: none

Used the correct name for the revision
  test/e2e/minscale_readiness_test.go
  test/v1/revision.go
Due: none

Removed the unused function IsRevisionContainerHealthy
  test/v1/revision.go
Due: none

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/google.golang.org/grpc/internal/resolver/delegatingresolver/delegatingresolver.go
  vendor/google.golang.org/grpc/internal/transport/http2_client.go
  vendor/google.golang.org/grpc/internal/transport/http_util.go
  vendor/google.golang.org/grpc/version.go
  vendor/modules.txt
Due: none

upgrade to latest dependencies (#15894)
  go.mod
  go.sum
  vendor/google.golang.org/grpc/internal/resolver/delegatingresolver/delegatingresolver.go
  vendor/google.golang.org/grpc/internal/transport/http2_client.go
  vendor/google.golang.org/grpc/internal/transport/http_util.go
  vendor/google.golang.org/grpc/version.go
  vendor/modules.txt
Due: none

TestSystemInternalTLS set min-scale to not lose logs
  test/e2e/systeminternaltls/system_internal_tls_test.go
Due: none

Fix unit test
  pkg/reconciler/route/table_test.go
Due: none

Preserver any existing labels on annotations on k8s service
  pkg/reconciler/route/reconcile_resources.go
Due: none

Fix import formatting
  pkg/reconciler/route/reconcile_resources.go
Due: none

Update net-kourier nightly
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-kourier nightly (#15897)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

TestSystemInternalTLS set min-scale to not lose logs (#15895)
  test/e2e/systeminternaltls/system_internal_tls_test.go
Due: none

Add support for Kubernetes “image” volume type (#15878)
  cmd/schema-tweak/overrides.go
  config/core/300-resources/configuration.yaml
  config/core/300-resources/revision.yaml
  config/core/300-resources/service.yaml
  config/core/configmaps/features.yaml
  pkg/apis/config/features.go
  pkg/apis/config/features_test.go
  pkg/apis/serving/fieldmask.go
  pkg/apis/serving/k8s_validation.go
  pkg/apis/serving/k8s_validation_test.go
Due: none

Fix request hanging after response start timeout expires
  pkg/http/handler/timeout.go
  pkg/http/handler/timeout_test.go
Due: none

Correct tryTimeoutAndWriteError to write timeout regardless of prior writes
  pkg/http/handler/timeout.go
  pkg/http/handler/timeout_test.go
Due: none

Fix labels and annotations propagation to k8s service on update
  pkg/reconciler/route/reconcile_resources.go
  pkg/reconciler/route/table_test.go
  pkg/testing/v1/service.go
  test/conformance/api/v1/service_test.go
  test/conformance/api/v1/util.go
Due: none

Fix labels and annotations propagation to k8s service on update (#15892)
  pkg/reconciler/route/reconcile_resources.go
  pkg/reconciler/route/table_test.go
  pkg/testing/v1/service.go
  test/conformance/api/v1/service_test.go
  test/conformance/api/v1/util.go
Due: none

Update net-istio nightly
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-istio nightly (#15902)
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-kourier nightly (#15901)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Fix labels and annotations propagation to k8s service on update (#15908)
  pkg/reconciler/route/reconcile_resources.go
  pkg/reconciler/route/table_test.go
  pkg/testing/v1/service.go
  test/conformance/api/v1/service_test.go
  test/conformance/api/v1/util.go
Due: none

Fix labels and annotations propagation to k8s service on update (#15907)
  pkg/reconciler/route/reconcile_resources.go
  pkg/reconciler/route/table_test.go
  pkg/testing/v1/service.go
  test/conformance/api/v1/service_test.go
  test/conformance/api/v1/util.go
Due: none

Update net-gateway-api nightly
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main

Update net-contour nightly
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-gateway-api nightly (#15910)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/google.golang.org/grpc/internal/resolver/delegatingresolver/delegatingresolver.go
  vendor/google.golang.org/grpc/version.go
  vendor/modules.txt
Due: none

Update net-kourier nightly (#15909)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-contour nightly (#15911)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

upgrade to latest dependencies (#15906)
  go.mod
  go.sum
  vendor/google.golang.org/grpc/internal/resolver/delegatingresolver/delegatingresolver.go
  vendor/google.golang.org/grpc/version.go
  vendor/modules.txt
Due: none

Update net-kourier nightly (#15912)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Correct tryTimeoutAndWriteError to write timeout regardless of prior writes (#15900)
  pkg/http/handler/timeout.go
  pkg/http/handler/timeout_test.go
Due: none

Fix request hanging after response start timeout expires (#15899)
  pkg/http/handler/timeout.go
  pkg/http/handler/timeout_test.go
Due: none
