Repository knative/serving: changes, and which Prow jobs are due for each by the changed paths.
All: kourier-stable_serving_main, kourier-stable-tls_serving_main, contour-latest_serving_main, contour-tls_serving_main, gateway-api-latest_serving_main, https_serving_main

kourier-stable_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --kourier-version stable
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

kourier-stable-tls_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-external-domain-tls-tests.sh --kourier-version stable
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: DOCKER_IN_DOCKER_ENABLED
  ...

contour-latest_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --contour-version latest
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

contour-tls_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-external-domain-tls-tests.sh --contour-version latest
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: DOCKER_IN_DOCKER_ENABLED
  ...

gateway-api-latest_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --gateway-api-version latest
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

https_serving_main:
  decorate: true
  optional: true
  spec:
    containers:
    - args:
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --https
      - --run-test
      - ./test/e2e-external-domain-tls-tests.sh --https
      command:
      - runner.sh
      env:
      - name: E2E_CLUSTER_REGION
  ...

Cleanup resources from DeploymentFailure upgrade test (#15227)
  test/upgrade/deployment_failure.go
Due: none

Update net-istio nightly (#15230)
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-contour nightly
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-kourier nightly
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-kourier nightly (#15229)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Fix e2e script to disable cors policy for Contour tests (#15235)
  test/e2e-tests.sh
Due: none

update github actions automatically (#15225)
  .github/dependabot.yaml
Due: none

fix cluster-local routes being stalled when external-domain-tls is enabled (#15234)
  pkg/apis/serving/v1/route_lifecycle.go
  pkg/reconciler/route/route.go
  pkg/reconciler/route/table_test.go
  pkg/testing/v1/route.go
Due: none

fix cluster-local routes being stalled when external-domain-tls is enabled
  pkg/apis/serving/v1/route_lifecycle.go
  pkg/reconciler/route/route.go
  pkg/reconciler/route/table_test.go
  pkg/testing/v1/route.go
Due: none

add pod anti affinity rules to activator component
  config/core/deployments/activator.yaml
Due: none

fix cluster-local routes being stalled when external-domain-tls is enabled (#15243)
  pkg/apis/serving/v1/route_lifecycle.go
  pkg/reconciler/route/route.go
  pkg/reconciler/route/table_test.go
  pkg/testing/v1/route.go
Due: none

update upload-artifact
  .github/workflows/kind-e2e.yaml
Due: none

add pod anti affinity rules to activator component (#15244)
  config/core/deployments/activator.yaml
Due: none

Update net-contour nightly (#15204)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-gateway-api nightly
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-gateway-api nightly (#15245)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

add affinity-rules to config-deployment configmap
  config/core/configmaps/deployment.yaml
  pkg/deployment/config.go
  pkg/deployment/config_test.go
Due: none

delete CORS tests from serving
  test/e2e-tests.sh
  test/e2e/corspolicy/cors_policy_test.go
Due: none

delete CORS tests from serving (#15249)
  test/e2e-tests.sh
  test/e2e/corspolicy/cors_policy_test.go
Due: none

restrict namespace by env
  cmd/activator/main.go
  cmd/autoscaler/main.go
  cmd/controller/main.go
  pkg/client/informers/externalversions/factory.go
  pkg/reconciler/autoscaling/kpa/controller.go
  pkg/reconciler/serverlessservice/controller.go
  pkg/reconciler/serverlessservice/serverlessservice.go
Due: none

Test lease holder with empty string
  vendor/knative.dev/pkg/test/ha/ha.go
Due: none

Update net-contour nightly
  third_party/contour-latest/contour.yaml
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-contour nightly (#15246)
  third_party/contour-latest/contour.yaml
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

run ./hack/update-codegen.sh
  config/core/configmaps/deployment.yaml
  pkg/deployment/zz_generated.deepcopy.go
Due: none

fix: Fixed liveness periodseconds to 10 so that crashloopback off doesn't happen which causesexpired lease to get stuck.
  config/core/deployments/webhook.yaml
Due: none

change affinity rules property to be a flag
  config/core/configmaps/deployment.yaml
  pkg/deployment/config.go
  pkg/deployment/config_test.go
Due: none

fix: Fixed liveness periodseconds to 10 so that crashloopback off doesn't happen which causesexpired lease to get stuck. (#15256)
  config/core/deployments/webhook.yaml
Due: none

run codegen to format config
  config/core/300-resources/configuration.yaml
  config/core/300-resources/domain-mapping.yaml
  config/core/300-resources/metric.yaml
  config/core/300-resources/podautoscaler.yaml
  config/core/300-resources/revision.yaml
  config/core/300-resources/route.yaml
  config/core/300-resources/service.yaml
Due: none

Drop the k8s service name from kubectl get revision output
  config/core/300-resources/revision.yaml
Due: none

fix: Fixed liveness periodseconds to 10 so that crashloopback off doesn't happen which causesexpired lease to get stuck. (#15257)
  config/core/deployments/webhook.yaml
Due: none

[release-1.13] fix: Fixed liveness periodseconds to 10 so that crashloopback off doe… (#15258)
  config/core/300-resources/configuration.yaml
  config/core/300-resources/domain-mapping.yaml
  config/core/300-resources/metric.yaml
  config/core/300-resources/podautoscaler.yaml
  config/core/300-resources/revision.yaml
  config/core/300-resources/route.yaml
  config/core/300-resources/service.yaml
  config/core/deployments/webhook.yaml
Due: none

Drop the k8s service name from kubectl get revision output (#15260)
  config/core/300-resources/revision.yaml
Due: none

add default pod anti-affinity rules to PodSpec
  pkg/reconciler/revision/resources/deploy.go
  pkg/reconciler/revision/resources/deploy_test.go
Due: none

Drop the k8s service name from kubectl get revision output (#15263)
  config/core/300-resources/revision.yaml
Due: none

Path conditions:
  kourier-stable_serving_main: any of: ^third_party/kourier-latest/*
  kourier-stable-tls_serving_main: any of: ^third_party/kourier-latest/*
  contour-latest_serving_main: any of: ^third_party/contour-latest/*
  contour-tls_serving_main: any of: ^third_party/contour-latest/*
  gateway-api-latest_serving_main: any of: ^third_party/gateway-api-latest/*
  https_serving_main: any of: ^third_party/cert-manager-latest/*
