Repository knative/serving: changes, and which Prow jobs are due for each by the changed paths.
All: kourier-stable_serving_main, kourier-stable-tls_serving_main, contour-latest_serving_main, contour-tls_serving_main, gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main, https_serving_main

Path conditions:
  kourier-stable_serving_main: any of: ^third_party/kourier-latest/*
  kourier-stable-tls_serving_main: any of: ^third_party/kourier-latest/*
  contour-latest_serving_main: any of: ^third_party/contour-latest/*
  contour-tls_serving_main: any of: ^third_party/contour-latest/*
  gateway-api-latest_serving_main: any of: ^third_party/gateway-api-latest/*
  gateway-api-latest-and-contour_serving_main: any of: ^third_party/gateway-api-latest/*
  https_serving_main: any of: ^third_party/cert-manager-latest/*

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/pkg/webhook/README.md
  vendor/knative.dev/pkg/webhook/webhook.go
  vendor/modules.txt
Due: none

upgrade to latest dependencies (#16313)
  go.mod
  go.sum
  vendor/knative.dev/pkg/webhook/README.md
  vendor/knative.dev/pkg/webhook/webhook.go
  vendor/modules.txt
Due: none

Update net-istio nightly
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-contour nightly
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-kourier nightly
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-gateway-api nightly
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main

Update net-kourier nightly (#16316)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-istio nightly (#16314)
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-gateway-api nightly (#16317)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main

Update net-contour nightly (#16315)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Add unpause to any error cases in KPA reconcile
  pkg/reconciler/autoscaling/kpa/kpa.go
Due: none

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/pkg/webhook/webhook.go
  vendor/modules.txt
Due: none

Add metric and logging for activator-autoscaler connectivity
  cmd/activator/main.go
  pkg/activator/metrics.go
  pkg/activator/stat_reporter.go
  pkg/activator/stat_reporter_test.go
Due: none

upgrade to latest dependencies (#16319)
  go.mod
  go.sum
  vendor/knative.dev/pkg/webhook/webhook.go
  vendor/modules.txt
Due: none

refactor: probe settings to use duration strings - pkg level variables
  cmd/activator/main.go
  pkg/activator/net/revision_backends.go
  pkg/activator/net/revision_backends_test.go
  pkg/activator/net/throttler.go
Due: none

Update net-contour nightly
  third_party/contour-latest/contour.yaml
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-contour nightly (#16320)
  third_party/contour-latest/contour.yaml
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Correcting the metric name inline with knative standards
  pkg/activator/metrics.go
Due: none

Increasing the code coverage
  pkg/activator/stat_reporter_test.go
Due: none

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/pkg/configmap/hash-gen/main.go
  vendor/modules.txt
Due: none

upgrade to latest dependencies (#16326)
  go.mod
  go.sum
  vendor/knative.dev/pkg/configmap/hash-gen/main.go
  vendor/modules.txt
Due: none

Fix #16260: Allow unreachable revisions with initialScale > 1 to scale to 0
  pkg/reconciler/autoscaling/kpa/scaler.go
  pkg/reconciler/autoscaling/kpa/scaler_test.go
Due: none

added docs for airgapped-installation
  docs/airgapped-installation-guide.md
Due: none

feat: implement rate limiting retry mechanism for stat forwarder
  pkg/autoscaler/statforwarder/forwarder.go
Due: none

Update net-contour nightly (#16333)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/pkg/configmap/informer/informed_watcher.go
  vendor/modules.txt
Due: none

Update net-istio nightly (#16332)
  third_party/istio-latest/net-istio.yaml
Due: none

upgrade to latest dependencies (#16331)
  go.mod
  go.sum
  vendor/knative.dev/pkg/configmap/informer/informed_watcher.go
  vendor/modules.txt
Due: none

Addressing review comments
  pkg/activator/metrics.go
  pkg/activator/stat_reporter.go
  pkg/activator/stat_reporter_test.go
Due: none

Update net-kourier nightly (#16335)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update community files
  OWNERS_ALIASES
Due: none

Update community files (#16336)
  OWNERS_ALIASES
Due: none
