Repository knative/serving: changes, and which Prow jobs are due for each by the changed paths.
All: kourier-stable_serving_main, kourier-stable-tls_serving_main, contour-latest_serving_main, contour-tls_serving_main, gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main, https_serving_main

Path conditions:
  kourier-stable_serving_main: any of: ^third_party/kourier-latest/*
  kourier-stable-tls_serving_main: any of: ^third_party/kourier-latest/*
  contour-latest_serving_main: any of: ^third_party/contour-latest/*
  contour-tls_serving_main: any of: ^third_party/contour-latest/*
  gateway-api-latest_serving_main: any of: ^third_party/gateway-api-latest/*
  gateway-api-latest-and-contour_serving_main: any of: ^third_party/gateway-api-latest/*
  https_serving_main: any of: ^third_party/cert-manager-latest/*

Update net-gateway-api nightly (#16452)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main

refactor: address per-tag ingress
  pkg/reconciler/route/reconcile_resources.go
  pkg/reconciler/route/resources/ingress.go
  pkg/reconciler/route/resources/ingress_test.go
  pkg/reconciler/route/route.go
  pkg/reconciler/route/table_test.go
Due: none

switch autoscaler stat forwarder to use endpoint slices
  pkg/autoscaler/statforwarder/forwarder_test.go
  pkg/autoscaler/statforwarder/leases.go
  vendor/knative.dev/pkg/client/injection/kube/informers/discovery/v1/endpointslice/endpointslice.go
  vendor/knative.dev/pkg/client/injection/kube/informers/discovery/v1/endpointslice/fake/fake.go
  vendor/modules.txt
Due: none

include RBAC to access endpointslices
  config/core/200-roles/clusterrole.yaml
Due: none

Cleanup older autoscaler endpoints
  pkg/autoscaler/bucket/bucket.go
  pkg/cleanup/cmd/cleanup/cleanup.go
Due: none

switch testing assertions to use endpointslices
  test/common.go
  test/e2e/autoscale_test.go
  test/e2e/e2e.go
  test/e2e/minscale_readiness_test.go
  test/e2e/multicontainerprobing/multicontainer_readiness_test.go
  test/ha/activator_test.go
  test/ha/ha.go
Due: none

fix build
  test/common.go
  test/ha/ha.go
Due: none

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/networking/pkg/apis/networking/register.go
  vendor/modules.txt
Due: none

upgrade to latest dependencies (#16456)
  go.mod
  go.sum
  vendor/knative.dev/networking/pkg/apis/networking/register.go
  vendor/modules.txt
Due: none

Update TLS import path to knative.dev/pkg/network/tls
  cmd/activator/main.go
  pkg/queue/sharedmain/main.go
  pkg/reconciler/revision/resolve.go
  vendor/knative.dev/pkg/tls/config.go
  vendor/modules.txt
Due: none

Update net-istio nightly
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-contour nightly
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update TLS import path to knative.dev/pkg/network/tls (#16458)
  cmd/activator/main.go
  pkg/queue/sharedmain/main.go
  pkg/reconciler/revision/resolve.go
  vendor/knative.dev/pkg/tls/config.go
  vendor/modules.txt
Due: none

Fix performance SLA edge cases
  test/performance/benchmarks/dataplane-probe/main.go
  test/performance/benchmarks/dataplane-probe/main_test.go
  test/performance/benchmarks/scale-from-zero/main.go
  test/performance/benchmarks/scale-from-zero/main_test.go
Due: none

Fix style check failures
  test/performance/benchmarks/dataplane-probe/main.go
  test/performance/benchmarks/dataplane-probe/main_test.go
  test/performance/benchmarks/scale-from-zero/main_test.go
Due: none

Update net-istio nightly (#16459)
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-contour nightly (#16460)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

include service label on endpointslice
  pkg/autoscaler/statforwarder/leases.go
Due: none

address PR feedback
  pkg/autoscaler/statforwarder/forwarder_test.go
  pkg/autoscaler/statforwarder/leases.go
Due: none

Ready == nil is ready for endpoint slice
  test/common.go
Due: none

address PR feedback
  test/common.go
  test/e2e/e2e.go
Due: none

Add endpointslices/restricted permission to ClusterRole
  config/core/200-roles/clusterrole.yaml
Due: none

Migrate autoscaler stat forwarder to use EndpointSlices (#16448)
  config/core/200-roles/clusterrole.yaml
  pkg/autoscaler/bucket/bucket.go
  pkg/autoscaler/statforwarder/forwarder_test.go
  pkg/autoscaler/statforwarder/leases.go
  pkg/cleanup/cmd/cleanup/cleanup.go
  vendor/knative.dev/pkg/client/injection/kube/informers/discovery/v1/endpointslice/endpointslice.go
  vendor/knative.dev/pkg/client/injection/kube/informers/discovery/v1/endpointslice/fake/fake.go
  vendor/modules.txt
Due: none

Switch e2e testing assertions to use EndpointSlices (#16454)
  test/common.go
  test/e2e/autoscale_test.go
  test/e2e/e2e.go
  test/e2e/minscale_readiness_test.go
  test/e2e/multicontainerprobing/multicontainer_readiness_test.go
  test/ha/activator_test.go
  test/ha/ha.go
Due: none

Update net-kourier nightly
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-gateway-api nightly
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main

Update net-kourier nightly (#16466)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

add an annotation to the kingress mapping tags to hostnames
  pkg/reconciler/route/resources/ingress.go
  pkg/reconciler/route/resources/ingress_test.go
Due: none

rebase
  pkg/reconciler/route/resources/ingress.go
  pkg/reconciler/route/resources/ingress_test.go
Due: none

return a structured response when getting a list of domains
  pkg/reconciler/route/domains/domains.go
  pkg/reconciler/route/domains/domains_test.go
  pkg/reconciler/route/resources/ingress.go
  pkg/reconciler/route/route.go
Due: none

Update net-gateway-api nightly (#16461)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main

Add endpointslices/restricted permission to ClusterRole (#16465)
  config/core/200-roles/clusterrole.yaml
Due: none

add an annotation to the kingress mapping tags to hostnames (#16455)
  pkg/reconciler/route/domains/domains.go
  pkg/reconciler/route/domains/domains_test.go
  pkg/reconciler/route/resources/ingress.go
  pkg/reconciler/route/resources/ingress_test.go
  pkg/reconciler/route/route.go
Due: none

Update net-istio nightly (#16467)
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-contour nightly (#16468)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/golang.org/x/net/http2/http2.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/http2/writesched.go
  vendor/golang.org/x/net/http2/writesched_priority_rfc7540.go
  vendor/golang.org/x/net/http2/writesched_random.go
  vendor/golang.org/x/sys/cpu/asm_darwin_arm64_gc.s
  vendor/golang.org/x/sys/cpu/cpu_arm64.go
  vendor/golang.org/x/sys/cpu/cpu_darwin_arm64.go
  vendor/golang.org/x/sys/cpu/cpu_darwin_arm64_other.go
  vendor/golang.org/x/sys/cpu/cpu_gccgo_arm64.go
  vendor/golang.org/x/sys/cpu/cpu_other_arm64.go
  vendor/golang.org/x/sys/cpu/syscall_darwin_arm64_gc.go
  vendor/golang.org/x/sys/plan9/syscall_plan9.go
  vendor/golang.org/x/sys/unix/ztypes_linux.go
  vendor/golang.org/x/sys/windows/aliases.go
  vendor/golang.org/x/sys/windows/registry/key.go
  vendor/golang.org/x/sys/windows/syscall_windows.go
  vendor/golang.org/x/tools/go/packages/golist.go
  vendor/golang.org/x/tools/go/packages/packages.go
  vendor/knative.dev/pkg/observability/metrics/prometheus/server.go
  vendor/knative.dev/pkg/observability/metrics/prometheus_enabled.go
  vendor/modules.txt
Due: none
