Repository knative/serving: changes, and which Prow jobs are due for each by the changed paths.
All: kourier-stable_serving_main, kourier-stable-tls_serving_main, contour-latest_serving_main, contour-tls_serving_main, gateway-api-latest_serving_main, https_serving_main

Path conditions:
  kourier-stable_serving_main: any of: ^third_party/kourier-latest/*
  kourier-stable-tls_serving_main: any of: ^third_party/kourier-latest/*
  contour-latest_serving_main: any of: ^third_party/contour-latest/*
  contour-tls_serving_main: any of: ^third_party/contour-latest/*
  gateway-api-latest_serving_main: any of: ^third_party/gateway-api-latest/*
  https_serving_main: any of: ^third_party/cert-manager-latest/*

fixes
  cmd/controller/main.go
  config/core/200-roles/clusterrole.yaml
  test/config/externaldomaintls/certmanager/selfsigned/config-certmanager.yaml
  test/ha/ha.go
Due: none

fix ca-issuer
  test/config/externaldomaintls/certmanager/caissuer/config-certmanager.yaml
Due: none

fix license header
  pkg/net-certmanager/reconciler/certificate/certificate.go
  pkg/net-certmanager/reconciler/certificate/certificate_test.go
  pkg/net-certmanager/reconciler/certificate/config/cert_manager.go
  pkg/net-certmanager/reconciler/certificate/config/cert_manager_test.go
  pkg/net-certmanager/reconciler/certificate/config/store.go
  pkg/net-certmanager/reconciler/certificate/config/store_test.go
  pkg/net-certmanager/reconciler/certificate/controller.go
  pkg/net-certmanager/reconciler/testing/factory.go
  pkg/net-certmanager/reconciler/testing/listers.go
Due: none

fix vendor
  go.sum
  vendor/modules.txt
Due: none

Update net-certmanager nightly
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-gateway-api nightly
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-certmanager nightly (#14991)
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-gateway-api nightly (#14986)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-kourier nightly
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

add upstream TLS trust from CM bundles (#14717)
  pkg/activator/certificate/cache.go
  pkg/activator/certificate/cache_test.go
  vendor/knative.dev/pkg/injection/clients/namespacedkube/informers/core/v1/configmap/configmap.go
  vendor/modules.txt
Due: none

Update net-kourier nightly (#14993)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

revert changes to net-contour.yaml <cjhetz@gmail.com>
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Updating reference call to StatusCodeExpectation in http_redirect_test.go
  test/e2e/externaldomaintls/http_redirect_test.go
Due: none

Replace deprecated uses of sets.Int (#14973)
  test/e2e/externaldomaintls/http_redirect_test.go
  test/e2e/externaldomaintls/util_test.go
Due: none

Revert deactivated istio tls tests
  .github/workflows/kind-e2e.yaml
  test/e2e/systeminternaltls/system_internal_tls_test.go
Due: none

Check for nil before calling deep-equal
  pkg/activator/certificate/cache_test.go
Due: none

Check for nil before calling deep-equal (#14996)
  pkg/activator/certificate/cache_test.go
Due: none

Check all container's status when calculate rev status
  pkg/reconciler/revision/reconcile_resources.go
Due: none

Move break
  pkg/reconciler/revision/reconcile_resources.go
Due: none

Update resUnavailable to true when containerHealthy condition is false
  pkg/apis/serving/v1/revision_lifecycle.go
Due: none

add contour-gateway.yaml to third_party folder
  third_party/gateway-api-latest/contour-gateway.yaml
Due: gateway-api-latest_serving_main

Revert deactivated istio tls tests (#14995)
  .github/workflows/kind-e2e.yaml
  test/e2e/systeminternaltls/system_internal_tls_test.go
Due: none

list gateway api related files that work with istio to avoid conflict with contour-gateway.yaml
  test/e2e-common.sh
Due: none

add contour-gateway.yaml to third_party folder (#14998)
  test/e2e-common.sh
  third_party/gateway-api-latest/contour-gateway.yaml
Due: gateway-api-latest_serving_main

set e2e scripts to test Gateway API and Contour
  test/e2e-common.sh
  test/e2e-networking-library.sh
Due: none

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/github.com/prometheus/common/expfmt/openmetrics_create.go
  vendor/github.com/prometheus/common/model/metric.go
  vendor/modules.txt
Due: none

upgrade to latest dependencies (#15001)
  go.mod
  go.sum
  vendor/github.com/prometheus/common/expfmt/openmetrics_create.go
  vendor/github.com/prometheus/common/model/metric.go
  vendor/modules.txt
Due: none

Update net-istio nightly
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-certmanager nightly (#15002)
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-gateway-api nightly (#15005)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-istio nightly (#15003)
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-kourier nightly (#15004)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

small changes to comments only
  test/e2e-common.sh
  test/e2e-tests.sh
Due: none

override existing values for GATEWAY_OVERRIDE and GATEWAY_NAMESPACE_OVERRIDE
  test/e2e-networking-library.sh
Due: none

Add multi-container probing (#14853)
  config/core/configmaps/features.yaml
  pkg/apis/config/features.go
  pkg/apis/config/features_test.go
  pkg/apis/serving/k8s_validation.go
  pkg/apis/serving/k8s_validation_test.go
  pkg/apis/serving/v1/revision_defaults.go
  pkg/apis/serving/v1/revision_defaults_test.go
  pkg/apis/serving/v1/revision_helpers.go
  pkg/apis/serving/v1/revision_helpers_test.go
  pkg/queue/readiness/probe.go
  pkg/queue/readiness/probe_encoding.go
  pkg/queue/readiness/probe_encoding_test.go
  pkg/queue/readiness/probe_test.go
  pkg/queue/sharedmain/main.go
  pkg/reconciler/revision/resources/deploy.go
  pkg/reconciler/revision/resources/deploy_test.go
  pkg/reconciler/revision/resources/queue.go
  pkg/reconciler/revision/resources/queue_test.go
  test/e2e-tests.sh
  test/e2e/multicontainerprobing/multicontainer_readiness_test.go
Due: none
