Repository knative/serving: changes, and which Prow jobs are due for each by the changed paths.
All: kourier-stable_serving_main, kourier-stable-tls_serving_main, contour-latest_serving_main, contour-tls_serving_main, gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main, https_serving_main

Path conditions:
  kourier-stable_serving_main: any of: ^third_party/kourier-latest/*
  kourier-stable-tls_serving_main: any of: ^third_party/kourier-latest/*
  contour-latest_serving_main: any of: ^third_party/contour-latest/*
  contour-tls_serving_main: any of: ^third_party/contour-latest/*
  gateway-api-latest_serving_main: any of: ^third_party/gateway-api-latest/*
  gateway-api-latest-and-contour_serving_main: any of: ^third_party/gateway-api-latest/*
  https_serving_main: any of: ^third_party/cert-manager-latest/*

Update net-contour nightly (#15975)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

fix: change requestReceived logging from debug to info
  pkg/queue/handler.go
Due: none

fix: add "source", "cerebrium", to requestReceived log
  pkg/queue/handler.go
Due: none

fix: pass startTime from the main.go file
  pkg/queue/handler.go
  pkg/queue/handler_test.go
  pkg/queue/sharedmain/handlers.go
  pkg/queue/sharedmain/main.go
  pkg/queue/sharedmain/main_test.go
Due: none

drop old usage of knative.dev/pkg/tracing
  cmd/webhook/main.go
  vendor/knative.dev/pkg/tracing/config/doc.go
  vendor/knative.dev/pkg/tracing/config/tracing.go
  vendor/knative.dev/pkg/tracing/config/zz_generated.deepcopy.go
  vendor/modules.txt
Due: none

Update net-istio nightly
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-gateway-api nightly
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main

Update net-kourier nightly
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-contour nightly
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-istio nightly (#15983)
  third_party/istio-latest/net-istio.yaml
Due: none

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/github.com/prometheus/client_golang/prometheus/internal/difflib.go
  vendor/github.com/prometheus/client_golang/prometheus/metric.go
  vendor/github.com/prometheus/client_golang/prometheus/process_collector_darwin.go
  vendor/github.com/prometheus/client_golang/prometheus/process_collector_mem_nocgo_darwin.go
  vendor/github.com/prometheus/client_golang/prometheus/process_collector_procfsenabled.go
  vendor/github.com/prometheus/client_golang/prometheus/promhttp/instrument_server.go
  vendor/github.com/prometheus/client_golang/prometheus/vec.go
  vendor/github.com/prometheus/client_golang/prometheus/wrap.go
  vendor/golang.org/x/sync/errgroup/errgroup.go
  vendor/golang.org/x/tools/go/packages/golist.go
  vendor/golang.org/x/tools/go/packages/golist_overlay.go
  vendor/golang.org/x/tools/internal/modindex/lookup.go
  vendor/golang.org/x/tools/internal/packagesinternal/packages.go
  vendor/modules.txt
Due: none

Update net-kourier nightly (#15985)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-contour nightly (#15986)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

drop old usage of knative.dev/pkg/tracing (#15982)
  cmd/webhook/main.go
  vendor/knative.dev/pkg/tracing/config/doc.go
  vendor/knative.dev/pkg/tracing/config/tracing.go
  vendor/knative.dev/pkg/tracing/config/zz_generated.deepcopy.go
  vendor/modules.txt
Due: none

Update net-gateway-api nightly (#15984)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main

upgrade to latest dependencies (#15980)
  go.mod
  go.sum
  vendor/github.com/prometheus/client_golang/prometheus/internal/difflib.go
  vendor/github.com/prometheus/client_golang/prometheus/metric.go
  vendor/github.com/prometheus/client_golang/prometheus/process_collector_darwin.go
  vendor/github.com/prometheus/client_golang/prometheus/process_collector_mem_nocgo_darwin.go
  vendor/github.com/prometheus/client_golang/prometheus/process_collector_procfsenabled.go
  vendor/github.com/prometheus/client_golang/prometheus/promhttp/instrument_server.go
  vendor/github.com/prometheus/client_golang/prometheus/vec.go
  vendor/github.com/prometheus/client_golang/prometheus/wrap.go
  vendor/golang.org/x/sync/errgroup/errgroup.go
  vendor/golang.org/x/tools/go/packages/golist.go
  vendor/golang.org/x/tools/go/packages/golist_overlay.go
  vendor/golang.org/x/tools/internal/modindex/lookup.go
  vendor/golang.org/x/tools/internal/packagesinternal/packages.go
  vendor/modules.txt
Due: none

Update net-gateway-api nightly (#15988)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main

Update net-contour nightly (#15987)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-kourier nightly (#15989)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-istio nightly (#15991)
  third_party/istio-latest/net-istio.yaml
Due: none

Update community files
  OWNERS_ALIASES
Due: none

Update community files (#16002)
  OWNERS_ALIASES
Due: none

Update net-istio nightly (#16003)
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-kourier nightly (#16004)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

optimize dryrun
  pkg/webhook/validate_unstructured.go
Due: none

Update net-gateway-api nightly (#16005)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main, gateway-api-latest-and-contour_serving_main

activator(metrics): expose quarantine/connection observability metrics
  cmd/activator/main.go
  pkg/activator/handler/context.go
  pkg/activator/handler/handler.go
  pkg/activator/handler/metric_handler.go
  pkg/activator/handler/metric_handler_test.go
  pkg/activator/handler/metrics.go
  pkg/activator/handler/metrics_roundtripper.go
Due: none

Add a failing test (revision name starting with a digit doesn't work)
  pkg/apis/serving/v1/revision_validation_test.go
Due: none

Use NameIsDNSLabel for validation (RFC 1123) instead of NameIsDNS1035Label
  pkg/apis/serving/v1/configuration_validation_test.go
  pkg/apis/serving/v1/revision_validation.go
  pkg/apis/serving/v1/revision_validation_test.go
Due: none

Update net-contour nightly (#16006)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main
