Repository knative/infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, pull-knative-infra-prow-tests-image-build, post-knative-infra-prow-tests-image-push, post-infra-update-testgrid-proto

Path conditions:
  pull-infra-validate-prow-yaml: any of: ^prow/((config|plugins)\.yaml$|jobs/)
  pull-infra-validate-own-testgrid-yaml: any of: (^config/prow/k8s-testgrid/.*.yaml$|^prow/jobs/.*.yaml$)
  pull-knative-infra-prow-tests-image-build: any of: ^(images/prow-tests/.*|tools/.*|pkg/.*|go.mod)$
  post-knative-infra-prow-tests-image-push: any of: ^(images/prow-tests/.*|tools/kntest/.*|pkg/.*|go.mod)$
  post-infra-update-testgrid-proto: any of: ^(config/prow/k8s-testgrid/|prow/jobs/).*.yaml

[Auto] Update prow jobs for release branches
  prow/jobs/generated/knative-extensions/kn-plugin-operator-release-1.13.gen.yaml
  prow/jobs_config/knative-extensions/kn-plugin-operator-release-1.13.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches (#333)
  prow/jobs/generated/knative-extensions/kn-plugin-operator-release-1.13.gen.yaml
  prow/jobs_config/knative-extensions/kn-plugin-operator-release-1.13.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches
  prow/jobs/generated/knative-extensions/eventing-istio-release-1.13.gen.yaml
  prow/jobs_config/knative-extensions/eventing-istio-release-1.13.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches (#336)
  prow/jobs/generated/knative-extensions/eventing-istio-release-1.13.gen.yaml
  prow/jobs_config/knative-extensions/eventing-istio-release-1.13.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

[s390x]: add s390x specific prow job config for release-1.13
  prow/jobs/generated/knative-extensions/eventing-kafka-broker-release-1.13.gen.yaml
  prow/jobs/generated/knative-extensions/eventing-kafka-release-1.13.gen.yaml
  prow/jobs/generated/knative-extensions/kn-plugin-event-release-1.13.gen.yaml
  prow/jobs/generated/knative/client-release-1.13.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.13.gen.yaml
  prow/jobs/generated/knative/operator-release-1.13.gen.yaml
  prow/jobs/generated/knative/serving-release-1.13.gen.yaml
  prow/jobs_config/knative-extensions/eventing-kafka-broker-release-1.13.yaml
  prow/jobs_config/knative-extensions/eventing-kafka-release-1.13.yaml
  prow/jobs_config/knative-extensions/kn-plugin-event-release-1.13.yaml
  prow/jobs_config/knative/client-release-1.13.yaml
  prow/jobs_config/knative/eventing-release-1.13.yaml
  prow/jobs_config/knative/operator-release-1.13.yaml
  prow/jobs_config/knative/serving-release-1.13.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

[s390x] add s390x specific prow job config for release-1.13 (#337)
  prow/jobs/generated/knative-extensions/eventing-kafka-broker-release-1.13.gen.yaml
  prow/jobs/generated/knative-extensions/eventing-kafka-release-1.13.gen.yaml
  prow/jobs/generated/knative-extensions/kn-plugin-event-release-1.13.gen.yaml
  prow/jobs/generated/knative/client-release-1.13.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.13.gen.yaml
  prow/jobs/generated/knative/operator-release-1.13.gen.yaml
  prow/jobs/generated/knative/serving-release-1.13.gen.yaml
  prow/jobs_config/knative-extensions/eventing-kafka-broker-release-1.13.yaml
  prow/jobs_config/knative-extensions/eventing-kafka-release-1.13.yaml
  prow/jobs_config/knative-extensions/kn-plugin-event-release-1.13.yaml
  prow/jobs_config/knative/client-release-1.13.yaml
  prow/jobs_config/knative/eventing-release-1.13.yaml
  prow/jobs_config/knative/operator-release-1.13.yaml
  prow/jobs_config/knative/serving-release-1.13.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

Bumping Prow and Boskos
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/cluster/trusted/ghproxy.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/infra.yaml
  prow/jobs/custom/label-sync.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/run_job.sh
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

Bumping Prow and Boskos (#339)
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/cluster/trusted/ghproxy.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/infra.yaml
  prow/jobs/custom/label-sync.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/run_job.sh
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

Update community files
  OWNERS_ALIASES
Due: none

Update community files (#341)
  OWNERS_ALIASES
Due: none

Bumping Prow and Boskos (#342)
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/cluster/trusted/ghproxy.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/infra.yaml
  prow/jobs/custom/label-sync.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/run_job.sh
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches
  prow/jobs/generated/knative-extensions/serving-progressive-rollout-release-1.13.gen.yaml
  prow/jobs_config/knative-extensions/serving-progressive-rollout-release-1.13.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches (#343)
  prow/jobs/generated/knative-extensions/serving-progressive-rollout-release-1.13.gen.yaml
  prow/jobs_config/knative-extensions/serving-progressive-rollout-release-1.13.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

Remove eventing-kafka continuous job
  prow/jobs/generated/knative-extensions/eventing-kafka-main.gen.yaml
  prow/jobs_config/knative-extensions/eventing-kafka.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

Remove eventing-kafka continuous job (#345)
  prow/jobs/generated/knative-extensions/eventing-kafka-main.gen.yaml
  prow/jobs_config/knative-extensions/eventing-kafka.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

drop http01
  prow/jobs/generated/knative-extensions/net-http01-main.gen.yaml
  prow/jobs_config/knative-extensions/net-http01.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

Bumping Prow and Boskos
  prow/cluster/build/boskos-deployment.yaml
  prow/cluster/build/boskos-janitor.yaml
  prow/cluster/build/boskos-reaper.yaml
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/cluster/trusted/ghproxy.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/infra.yaml
  prow/jobs/custom/label-sync.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/run_job.sh
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

drop http01 (#347)
  prow/jobs/generated/knative-extensions/net-http01-main.gen.yaml
  prow/jobs_config/knative-extensions/net-http01.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

Bumping Prow and Boskos (#348)
  prow/cluster/build/boskos-deployment.yaml
  prow/cluster/build/boskos-janitor.yaml
  prow/cluster/build/boskos-reaper.yaml
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/cluster/trusted/ghproxy.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/infra.yaml
  prow/jobs/custom/label-sync.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/run_job.sh
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

drop archived repos
  config/prow/k8s-testgrid/k8s-testgrid.yaml
  prow/autobump-config/knative-prow-tests.yaml
  prow/config.yaml
  prow/jobs/generated/knative-extensions/async-component-main.gen.yaml
  prow/jobs/generated/knative-extensions/scaling-group-main.gen.yaml
  prow/jobs_config/knative-extensions/async-component.yaml
  prow/jobs_config/knative-extensions/scaling-group.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

drop archived repos (#349)
  config/prow/k8s-testgrid/k8s-testgrid.yaml
  prow/autobump-config/knative-prow-tests.yaml
  prow/config.yaml
  prow/jobs/generated/knative-extensions/async-component-main.gen.yaml
  prow/jobs/generated/knative-extensions/scaling-group-main.gen.yaml
  prow/jobs_config/knative-extensions/async-component.yaml
  prow/jobs_config/knative-extensions/scaling-group.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

Update community files (#350)
  OWNERS_ALIASES
Due: none

moving to secure image registry. Removing the KO Flag
  prow/jobs_config/.base.yaml
Due: none

[s390x]: Move to secure KO_DOCKER_REPO
  prow/jobs/generated/knative-extensions/eventing-kafka-broker-main.gen.yaml
  prow/jobs/generated/knative-extensions/eventing-kafka-broker-release-1.11.gen.yaml
  prow/jobs/generated/knative-extensions/eventing-kafka-broker-release-1.12.gen.yaml
  prow/jobs/generated/knative-extensions/eventing-kafka-broker-release-1.13.gen.yaml
  prow/jobs/generated/knative-extensions/eventing-kafka-release-1.11.gen.yaml
  prow/jobs/generated/knative-extensions/eventing-kafka-release-1.12.gen.yaml
  prow/jobs/generated/knative-extensions/eventing-kafka-release-1.13.gen.yaml
  prow/jobs/generated/knative-extensions/kn-plugin-event-main.gen.yaml
  prow/jobs/generated/knative-extensions/kn-plugin-event-release-1.11.gen.yaml
  prow/jobs/generated/knative-extensions/kn-plugin-event-release-1.12.gen.yaml
  prow/jobs/generated/knative-extensions/kn-plugin-event-release-1.13.gen.yaml
  prow/jobs/generated/knative/client-main.gen.yaml
  prow/jobs/generated/knative/client-release-1.11.gen.yaml
  prow/jobs/generated/knative/client-release-1.12.gen.yaml
  prow/jobs/generated/knative/client-release-1.13.gen.yaml
  prow/jobs/generated/knative/eventing-main.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.11.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.12.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.13.gen.yaml
  prow/jobs/generated/knative/operator-main.gen.yaml
  prow/jobs/generated/knative/operator-release-1.11.gen.yaml
  prow/jobs/generated/knative/operator-release-1.12.gen.yaml
  prow/jobs/generated/knative/operator-release-1.13.gen.yaml
  prow/jobs/generated/knative/serving-main.gen.yaml
  prow/jobs/generated/knative/serving-release-1.11.gen.yaml
  prow/jobs/generated/knative/serving-release-1.12.gen.yaml
  prow/jobs/generated/knative/serving-release-1.13.gen.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

[s390x]: Moving to secure KO_DOCKRE_REPO for s390x arch (#351)
  prow/jobs/generated/knative-extensions/eventing-kafka-broker-main.gen.yaml
  prow/jobs/generated/knative-extensions/eventing-kafka-broker-release-1.11.gen.yaml
  prow/jobs/generated/knative-extensions/eventing-kafka-broker-release-1.12.gen.yaml
  prow/jobs/generated/knative-extensions/eventing-kafka-broker-release-1.13.gen.yaml
  prow/jobs/generated/knative-extensions/eventing-kafka-release-1.11.gen.yaml
  prow/jobs/generated/knative-extensions/eventing-kafka-release-1.12.gen.yaml
  prow/jobs/generated/knative-extensions/eventing-kafka-release-1.13.gen.yaml
  prow/jobs/generated/knative-extensions/kn-plugin-event-main.gen.yaml
  prow/jobs/generated/knative-extensions/kn-plugin-event-release-1.11.gen.yaml
  prow/jobs/generated/knative-extensions/kn-plugin-event-release-1.12.gen.yaml
  prow/jobs/generated/knative-extensions/kn-plugin-event-release-1.13.gen.yaml
  prow/jobs/generated/knative/client-main.gen.yaml
  prow/jobs/generated/knative/client-release-1.11.gen.yaml
  prow/jobs/generated/knative/client-release-1.12.gen.yaml
  prow/jobs/generated/knative/client-release-1.13.gen.yaml
  prow/jobs/generated/knative/eventing-main.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.11.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.12.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.13.gen.yaml
  prow/jobs/generated/knative/operator-main.gen.yaml
  prow/jobs/generated/knative/operator-release-1.11.gen.yaml
  prow/jobs/generated/knative/operator-release-1.12.gen.yaml
  prow/jobs/generated/knative/operator-release-1.13.gen.yaml
  prow/jobs/generated/knative/serving-main.gen.yaml
  prow/jobs/generated/knative/serving-release-1.11.gen.yaml
  prow/jobs/generated/knative/serving-release-1.12.gen.yaml
  prow/jobs/generated/knative/serving-release-1.13.gen.yaml
  prow/jobs_config/.base.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

bump toolbox to latest commit
  images/prow-tests/Dockerfile
Due: pull-knative-infra-prow-tests-image-build, post-knative-infra-prow-tests-image-push

bump toolbox to latest commit (#353)
  images/prow-tests/Dockerfile
Due: pull-knative-infra-prow-tests-image-build, post-knative-infra-prow-tests-image-push

drop s390x/ppc CI jobs from main branches
  prow/jobs/generated/knative-extensions/eventing-kafka-broker-main.gen.yaml
  prow/jobs/generated/knative-extensions/kn-plugin-event-main.gen.yaml
  prow/jobs/generated/knative/client-main.gen.yaml
  prow/jobs/generated/knative/eventing-main.gen.yaml
  prow/jobs/generated/knative/operator-main.gen.yaml
  prow/jobs/generated/knative/serving-main.gen.yaml
  prow/jobs_config/knative-extensions/eventing-kafka-broker.yaml
  prow/jobs_config/knative-extensions/kn-plugin-event.yaml
  prow/jobs_config/knative/client.yaml
  prow/jobs_config/knative/eventing.yaml
  prow/jobs_config/knative/operator.yaml
  prow/jobs_config/knative/serving.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

drop s390x/ppc CI jobs from release branches
  prow/jobs/generated/knative-extensions/eventing-kafka-broker-release-1.12.gen.yaml
  prow/jobs/generated/knative-extensions/eventing-kafka-broker-release-1.13.gen.yaml
  prow/jobs/generated/knative-extensions/eventing-kafka-release-1.12.gen.yaml
  prow/jobs/generated/knative-extensions/eventing-kafka-release-1.13.gen.yaml
  prow/jobs/generated/knative-extensions/kn-plugin-event-release-1.12.gen.yaml
  prow/jobs/generated/knative-extensions/kn-plugin-event-release-1.13.gen.yaml
  prow/jobs/generated/knative/client-release-1.12.gen.yaml
  prow/jobs/generated/knative/client-release-1.13.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.12.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.13.gen.yaml
  prow/jobs/generated/knative/operator-release-1.12.gen.yaml
  prow/jobs/generated/knative/operator-release-1.13.gen.yaml
  prow/jobs/generated/knative/serving-release-1.12.gen.yaml
  prow/jobs/generated/knative/serving-release-1.13.gen.yaml
  prow/jobs_config/knative-extensions/eventing-kafka-broker-release-1.12.yaml
  prow/jobs_config/knative-extensions/eventing-kafka-broker-release-1.13.yaml
  prow/jobs_config/knative-extensions/eventing-kafka-release-1.12.yaml
  prow/jobs_config/knative-extensions/eventing-kafka-release-1.13.yaml
  prow/jobs_config/knative-extensions/kn-plugin-event-release-1.12.yaml
  prow/jobs_config/knative-extensions/kn-plugin-event-release-1.13.yaml
  prow/jobs_config/knative/client-release-1.12.yaml
  prow/jobs_config/knative/client-release-1.13.yaml
  prow/jobs_config/knative/eventing-release-1.12.yaml
  prow/jobs_config/knative/eventing-release-1.13.yaml
  prow/jobs_config/knative/operator-release-1.12.yaml
  prow/jobs_config/knative/operator-release-1.13.yaml
  prow/jobs_config/knative/serving-release-1.12.yaml
  prow/jobs_config/knative/serving-release-1.13.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto
