Repository knative/infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, pull-knative-infra-prow-tests-image-build, post-knative-infra-prow-tests-image-push, post-infra-update-testgrid-proto

pull-infra-validate-prow-yaml:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20230630-9eecc0f38f
      command:
      - checkconfig
      args:
      - --config-path=./prow/config.yaml
      - --job-config-path=./prow/jobs
      - --plugin-config=./prow/plugins.yaml
      - --strict
  ...

pull-infra-validate-own-testgrid-yaml:
  decorate: true
  optional: false
  spec:
    containers:
    - image: gcr.io/k8s-prow/configurator:v20230630-9eecc0f38f
      command:
      - configurator
      args:
      - --prow-config=prow/config.yaml
      - --prow-job-config=prow/jobs
      - --default=config/prow/k8s-testgrid/testgrid-common-settings.yaml
  ...

pull-knative-infra-prow-tests-image-build:
  optional: false
  decorate: true
  spec:
    serviceAccountName: test-runner
    containers:
    - image: us-docker.pkg.dev/knative-tests/images/prow-tests:v20230616-086ddd644
      imagePullPolicy: Always
      command:
      - runner.sh
      args:
      - make
      - -C
      - images/prow-tests
      - build-ci-test

post-knative-infra-prow-tests-image-push:
  decorate: true
  spec:
    serviceAccountName: test-runner
    containers:
    - image: us-docker.pkg.dev/knative-tests/images/prow-tests:v20230616-086ddd644
      imagePullPolicy: Always
      command:
      - runner.sh
      args:
      - make
      - -C
      - images/prow-tests
      - push

post-infra-update-testgrid-proto:
  decorate: true
  spec:
    serviceAccountName: testgrid-updater
    containers:
    - image: gcr.io/k8s-prow/configurator:v20230630-9eecc0f38f
      command:
      - configurator
      args:
      - --prow-config=prow/config.yaml
      - --prow-job-config=prow/jobs
  ...

Drop prow jobs for archived repos (#446)
  config/prow/k8s-testgrid/k8s-testgrid.yaml
  prow/jobs/generated/knative-extensions/eventing-awssqs-main.gen.yaml
  prow/jobs/generated/knative-extensions/eventing-awssqs-release-1.1.gen.yaml
  prow/jobs/generated/knative-extensions/eventing-awssqs-release-1.2.gen.yaml
  prow/jobs/generated/knative-extensions/eventing-couchdb-main.gen.yaml
  prow/jobs/generated/knative-extensions/eventing-couchdb-release-1.0.gen.yaml
  prow/jobs/generated/knative-extensions/eventing-couchdb-release-1.1.gen.yaml
  prow/jobs/generated/knative-extensions/eventing-kafka-main.gen.yaml
  prow/jobs/generated/knative-extensions/eventing-kafka-release-1.12.gen.yaml
  prow/jobs/generated/knative-extensions/eventing-kafka-release-1.13.gen.yaml
  prow/jobs/generated/knative-extensions/eventing-natss-release-1.10.gen.yaml
  prow/jobs_config/knative-extensions/eventing-awssqs-release-1.1.yaml
  prow/jobs_config/knative-extensions/eventing-awssqs-release-1.2.yaml
  prow/jobs_config/knative-extensions/eventing-awssqs.yaml
  prow/jobs_config/knative-extensions/eventing-couchdb-release-1.0.yaml
  prow/jobs_config/knative-extensions/eventing-couchdb-release-1.1.yaml
  prow/jobs_config/knative-extensions/eventing-couchdb.yaml
  prow/jobs_config/knative-extensions/eventing-kafka-release-1.12.yaml
  prow/jobs_config/knative-extensions/eventing-kafka-release-1.13.yaml
  prow/jobs_config/knative-extensions/eventing-kafka.yaml
  prow/jobs_config/knative-extensions/eventing-natss-release-1.10.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

Remove cert manager tests
  prow/jobs/generated/knative/serving-main.gen.yaml
  prow/jobs_config/knative/serving.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

Remove cert manager tests (#447)
  prow/jobs/generated/knative/serving-main.gen.yaml
  prow/jobs_config/knative/serving.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

Update community files
  OWNERS_ALIASES
Due: none

Update community files (#449)
  OWNERS_ALIASES
Due: none

Fix istio no-mesh build command
  prow/jobs/generated/knative/serving-main.gen.yaml
  prow/jobs_config/knative/serving.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

Fix istio no-mesh build command (#450)
  prow/jobs/generated/knative/serving-main.gen.yaml
  prow/jobs_config/knative/serving.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

add envoy gateway presubmits
  prow/jobs/generated/knative-extensions/net-gateway-api-main.gen.yaml
  prow/jobs_config/knative-extensions/net-gateway-api.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

add a temporary test to exercise knative conformance
  prow/jobs/generated/knative-extensions/net-gateway-api-main.gen.yaml
  prow/jobs_config/knative-extensions/net-gateway-api.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

[net-gateway-api] add envoy gateway presubmits (#451)
  prow/jobs/generated/knative-extensions/net-gateway-api-main.gen.yaml
  prow/jobs_config/knative-extensions/net-gateway-api.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

Bumping Prow and Boskos
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/cluster/trusted/ghproxy.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/infra.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/run_job.sh
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

Bumping Prow and Boskos (#452)
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/cluster/trusted/ghproxy.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/infra.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/run_job.sh
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

Update community files (#455)
  OWNERS_ALIASES
Due: none

Bumping Prow and Boskos (#460)
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/cluster/trusted/ghproxy.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/infra.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/run_job.sh
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

Bumping Prow and Boskos (#463)
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/cluster/trusted/ghproxy.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/infra.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/run_job.sh
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

Bumping Prow and Boskos (#464)
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/cluster/trusted/ghproxy.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/infra.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/run_job.sh
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

Update community files (#467)
  OWNERS_ALIASES
Due: none

tweak envoy gateway jobs
  prow/jobs_config/knative-extensions/net-gateway-api.yaml
Due: none

run codegen
  prow/jobs/generated/knative-extensions/net-gateway-api-main.gen.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

net-gateway-api - tweak envoy gateway jobs (#468)
  prow/jobs/generated/knative-extensions/net-gateway-api-main.gen.yaml
  prow/jobs_config/knative-extensions/net-gateway-api.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

Bumping Prow and Boskos (#470)
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/cluster/trusted/ghproxy.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/infra.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/run_job.sh
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

Set GOTOOLCHAIN=local
  images/prow-tests/Dockerfile
Due: pull-knative-infra-prow-tests-image-build, post-knative-infra-prow-tests-image-push

Set GOTOOLCHAIN=local (#471)
  images/prow-tests/Dockerfile
Due: pull-knative-infra-prow-tests-image-build, post-knative-infra-prow-tests-image-push

[Auto] Update prow jobs for release branches
  config/prow/k8s-testgrid/k8s-testgrid.yaml
  prow/jobs/generated/knative-extensions/net-gateway-api-release-1.15.gen.yaml
  prow/jobs/generated/knative-extensions/net-istio-release-1.15.gen.yaml
  prow/jobs/generated/knative-extensions/net-kourier-release-1.15.gen.yaml
  prow/jobs/generated/knative-extensions/sample-controller-release-1.15.gen.yaml
  prow/jobs_config/knative-extensions/net-gateway-api-release-1.15.yaml
  prow/jobs_config/knative-extensions/net-istio-release-1.15.yaml
  prow/jobs_config/knative-extensions/net-kourier-release-1.15.yaml
  prow/jobs_config/knative-extensions/sample-controller-release-1.15.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

Path conditions:
  pull-infra-validate-prow-yaml: any of: ^prow/((config|plugins)\.yaml$|jobs/)
  pull-infra-validate-own-testgrid-yaml: any of: (^config/prow/k8s-testgrid/.*.yaml$|^prow/jobs/.*.yaml$)
  pull-knative-infra-prow-tests-image-build: any of: ^(images/prow-tests/.*|tools/.*|pkg/.*|go.mod)$
  post-knative-infra-prow-tests-image-push: any of: ^(images/prow-tests/.*|tools/kntest/.*|pkg/.*|go.mod)$
  post-infra-update-testgrid-proto: any of: ^(config/prow/k8s-testgrid/|prow/jobs/).*.yaml
