Repository knative/infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, pull-knative-infra-prow-tests-image-build, post-knative-infra-prow-tests-image-push, post-infra-update-testgrid-proto

Path conditions:
  pull-infra-validate-prow-yaml: any of: ^prow/((config|plugins)\.yaml$|jobs/)
  pull-infra-validate-own-testgrid-yaml: any of: (^config/prow/k8s-testgrid/.*.yaml$|^prow/jobs/.*.yaml$)
  pull-knative-infra-prow-tests-image-build: any of: ^(images/prow-tests/.*|tools/.*|pkg/.*|go.mod)$
  post-knative-infra-prow-tests-image-push: any of: ^(images/prow-tests/.*|tools/kntest/.*|pkg/.*|go.mod)$
  post-infra-update-testgrid-proto: any of: ^(config/prow/k8s-testgrid/|prow/jobs/).*.yaml

Remove Loom jobs and add periodic rekt tests for EKB (#399)
  prow/jobs/generated/knative-extensions/eventing-kafka-broker-main.gen.yaml
  prow/jobs_config/knative-extensions/eventing-kafka-broker.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

Bumping Prow and Boskos
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/cluster/trusted/ghproxy.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/infra.yaml
  prow/jobs/custom/label-sync.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/run_job.sh
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

Bumping Prow and Boskos (#400)
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/cluster/trusted/ghproxy.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/infra.yaml
  prow/jobs/custom/label-sync.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/run_job.sh
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

make tests for contour in net-gateway-api mandatory
  prow/jobs_config/knative-extensions/net-gateway-api.yaml
Due: none

run ./hack/update-codegen.sh
  prow/jobs/generated/knative-extensions/net-gateway-api-main.gen.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

Make tests for contour in net-gateway-api mandatory (#402)
  prow/jobs/generated/knative-extensions/net-gateway-api-main.gen.yaml
  prow/jobs_config/knative-extensions/net-gateway-api.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

temporarily bump all releases images to fix cosign issues
  hack/verify-codegen.sh
  prow/autobump-config/knative-prow-tests.yaml
Due: none

temporarily bump all releases images to fix cosign issues (#403)
  hack/verify-codegen.sh
  prow/autobump-config/knative-prow-tests.yaml
Due: none

Update community files
  OWNERS_ALIASES
Due: none

Update community files (#407)
  OWNERS_ALIASES
Due: none

Possible workaround for tide issues
  prow/config.yaml
Due: pull-infra-validate-prow-yaml

fix consistentimageexceptions
  prow/autobump-config/knative.yaml
Due: none

fix consistentimageexceptions (#412)
  prow/autobump-config/knative.yaml
Due: none

Bumping Prow and Boskos
  prow/cluster/build/boskos-deployment.yaml
  prow/cluster/build/boskos-janitor.yaml
  prow/cluster/build/boskos-reaper.yaml
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/cluster/trusted/ghproxy.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/infra.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/run_job.sh
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

Bumping Prow and Boskos (#413)
  prow/cluster/build/boskos-deployment.yaml
  prow/cluster/build/boskos-janitor.yaml
  prow/cluster/build/boskos-reaper.yaml
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/cluster/trusted/ghproxy.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/infra.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/run_job.sh
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches
  config/prow/k8s-testgrid/k8s-testgrid.yaml
  prow/jobs/generated/knative-extensions/net-certmanager-release-1.14.gen.yaml
  prow/jobs/generated/knative-extensions/net-contour-release-1.14.gen.yaml
  prow/jobs/generated/knative-extensions/net-gateway-api-release-1.14.gen.yaml
  prow/jobs/generated/knative-extensions/net-istio-release-1.14.gen.yaml
  prow/jobs/generated/knative-extensions/net-kourier-release-1.14.gen.yaml
  prow/jobs/generated/knative-extensions/sample-controller-release-1.14.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.12.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.14.gen.yaml
  prow/jobs/generated/knative/serving-release-1.14.gen.yaml
  prow/jobs_config/knative-extensions/net-certmanager-release-1.14.yaml
  prow/jobs_config/knative-extensions/net-contour-release-1.14.yaml
  prow/jobs_config/knative-extensions/net-gateway-api-release-1.14.yaml
  prow/jobs_config/knative-extensions/net-istio-release-1.14.yaml
  prow/jobs_config/knative-extensions/net-kourier-release-1.14.yaml
  prow/jobs_config/knative-extensions/sample-controller-release-1.14.yaml
  prow/jobs_config/knative/eventing-release-1.12.yaml
  prow/jobs_config/knative/eventing-release-1.14.yaml
  prow/jobs_config/knative/serving-release-1.14.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches (#414)
  config/prow/k8s-testgrid/k8s-testgrid.yaml
  prow/jobs/generated/knative-extensions/net-certmanager-release-1.14.gen.yaml
  prow/jobs/generated/knative-extensions/net-contour-release-1.14.gen.yaml
  prow/jobs/generated/knative-extensions/net-gateway-api-release-1.14.gen.yaml
  prow/jobs/generated/knative-extensions/net-istio-release-1.14.gen.yaml
  prow/jobs/generated/knative-extensions/net-kourier-release-1.14.gen.yaml
  prow/jobs/generated/knative-extensions/sample-controller-release-1.14.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.12.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.14.gen.yaml
  prow/jobs/generated/knative/serving-release-1.14.gen.yaml
  prow/jobs_config/knative-extensions/net-certmanager-release-1.14.yaml
  prow/jobs_config/knative-extensions/net-contour-release-1.14.yaml
  prow/jobs_config/knative-extensions/net-gateway-api-release-1.14.yaml
  prow/jobs_config/knative-extensions/net-istio-release-1.14.yaml
  prow/jobs_config/knative-extensions/net-kourier-release-1.14.yaml
  prow/jobs_config/knative-extensions/sample-controller-release-1.14.yaml
  prow/jobs_config/knative/eventing-release-1.12.yaml
  prow/jobs_config/knative/eventing-release-1.14.yaml
  prow/jobs_config/knative/serving-release-1.14.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches
  prow/jobs/generated/knative-extensions/eventing-ceph-release-1.14.gen.yaml
  prow/jobs_config/knative-extensions/eventing-ceph-release-1.14.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches (#415)
  prow/jobs/generated/knative-extensions/eventing-ceph-release-1.14.gen.yaml
  prow/jobs_config/knative-extensions/eventing-ceph-release-1.14.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches
  prow/jobs/generated/knative-extensions/eventing-kogito-release-1.14.gen.yaml
  prow/jobs/generated/knative-extensions/sample-source-release-1.14.gen.yaml
  prow/jobs_config/knative-extensions/eventing-kogito-release-1.14.yaml
  prow/jobs_config/knative-extensions/sample-source-release-1.14.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches (#416)
  prow/jobs/generated/knative-extensions/eventing-kogito-release-1.14.gen.yaml
  prow/jobs/generated/knative-extensions/sample-source-release-1.14.gen.yaml
  prow/jobs_config/knative-extensions/eventing-kogito-release-1.14.yaml
  prow/jobs_config/knative-extensions/sample-source-release-1.14.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches
  prow/jobs/generated/knative-extensions/eventing-github-release-1.14.gen.yaml
  prow/jobs/generated/knative-extensions/eventing-gitlab-release-1.14.gen.yaml
  prow/jobs/generated/knative-extensions/eventing-rabbitmq-release-1.14.gen.yaml
  prow/jobs/generated/knative-extensions/eventing-redis-release-1.14.gen.yaml
  prow/jobs/generated/knative/client-release-1.14.gen.yaml
  prow/jobs_config/knative-extensions/eventing-github-release-1.14.yaml
  prow/jobs_config/knative-extensions/eventing-gitlab-release-1.14.yaml
  prow/jobs_config/knative-extensions/eventing-rabbitmq-release-1.14.yaml
  prow/jobs_config/knative-extensions/eventing-redis-release-1.14.yaml
  prow/jobs_config/knative/client-release-1.14.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches (#417)
  prow/jobs/generated/knative-extensions/eventing-github-release-1.14.gen.yaml
  prow/jobs/generated/knative-extensions/eventing-gitlab-release-1.14.gen.yaml
  prow/jobs/generated/knative-extensions/eventing-rabbitmq-release-1.14.gen.yaml
  prow/jobs/generated/knative-extensions/eventing-redis-release-1.14.gen.yaml
  prow/jobs/generated/knative/client-release-1.14.gen.yaml
  prow/jobs_config/knative-extensions/eventing-github-release-1.14.yaml
  prow/jobs_config/knative-extensions/eventing-gitlab-release-1.14.yaml
  prow/jobs_config/knative-extensions/eventing-rabbitmq-release-1.14.yaml
  prow/jobs_config/knative-extensions/eventing-redis-release-1.14.yaml
  prow/jobs_config/knative/client-release-1.14.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches
  config/prow/k8s-testgrid/k8s-testgrid.yaml
  prow/jobs/generated/knative-extensions/eventing-natss-release-1.14.gen.yaml
  prow/jobs/generated/knative-extensions/kn-plugin-admin-release-1.14.gen.yaml
  prow/jobs/generated/knative-extensions/kn-plugin-quickstart-release-1.14.gen.yaml
  prow/jobs/generated/knative-extensions/kn-plugin-source-kamelet-release-1.14.gen.yaml
  prow/jobs_config/knative-extensions/eventing-natss-release-1.14.yaml
  prow/jobs_config/knative-extensions/kn-plugin-admin-release-1.14.yaml
  prow/jobs_config/knative-extensions/kn-plugin-quickstart-release-1.14.yaml
  prow/jobs_config/knative-extensions/kn-plugin-source-kamelet-release-1.14.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches (#418)
  config/prow/k8s-testgrid/k8s-testgrid.yaml
  prow/jobs/generated/knative-extensions/eventing-natss-release-1.14.gen.yaml
  prow/jobs/generated/knative-extensions/kn-plugin-admin-release-1.14.gen.yaml
  prow/jobs/generated/knative-extensions/kn-plugin-quickstart-release-1.14.gen.yaml
  prow/jobs/generated/knative-extensions/kn-plugin-source-kamelet-release-1.14.gen.yaml
  prow/jobs_config/knative-extensions/eventing-natss-release-1.14.yaml
  prow/jobs_config/knative-extensions/kn-plugin-admin-release-1.14.yaml
  prow/jobs_config/knative-extensions/kn-plugin-quickstart-release-1.14.yaml
  prow/jobs_config/knative-extensions/kn-plugin-source-kamelet-release-1.14.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches
  prow/jobs/generated/knative-extensions/kn-plugin-event-release-1.14.gen.yaml
  prow/jobs_config/knative-extensions/kn-plugin-event-release-1.14.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches (#419)
  prow/jobs/generated/knative-extensions/kn-plugin-event-release-1.14.gen.yaml
  prow/jobs_config/knative-extensions/kn-plugin-event-release-1.14.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

Update community files (#421)
  OWNERS_ALIASES
Due: none

Drop CI config for knative-extensions/net-certmanager
  config/prow/k8s-testgrid/k8s-testgrid.yaml
  prow/autobump-config/knative-prow-tests.yaml
  prow/jobs/generated/knative-extensions/net-certmanager-main.gen.yaml
  prow/jobs/generated/knative-extensions/net-certmanager-release-1.13.gen.yaml
  prow/jobs/generated/knative-extensions/net-certmanager-release-1.14.gen.yaml
  prow/jobs_config/knative-extensions/net-certmanager-release-1.13.yaml
  prow/jobs_config/knative-extensions/net-certmanager-release-1.14.yaml
  prow/jobs_config/knative-extensions/net-certmanager.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

Bumping Prow and Boskos
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/cluster/trusted/ghproxy.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/infra.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/run_job.sh
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

Bumping Prow and Boskos (#423)
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/cluster/trusted/ghproxy.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/infra.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/run_job.sh
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto
