Repository knative/infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, pull-knative-infra-prow-tests-image-build, post-knative-infra-prow-tests-image-push, post-infra-update-testgrid-proto

pull-infra-validate-prow-yaml:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20230630-9eecc0f38f
      command:
      - checkconfig
      args:
      - --config-path=./prow/config.yaml
      - --job-config-path=./prow/jobs
      - --plugin-config=./prow/plugins.yaml
      - --strict
  ...

pull-infra-validate-own-testgrid-yaml:
  decorate: true
  optional: false
  spec:
    containers:
    - image: gcr.io/k8s-prow/configurator:v20230630-9eecc0f38f
      command:
      - configurator
      args:
      - --prow-config=prow/config.yaml
      - --prow-job-config=prow/jobs
      - --default=config/prow/k8s-testgrid/testgrid-common-settings.yaml
  ...

pull-knative-infra-prow-tests-image-build:
  optional: false
  decorate: true
  spec:
    serviceAccountName: test-runner
    containers:
    - image: us-docker.pkg.dev/knative-tests/images/prow-tests:v20230616-086ddd644
      imagePullPolicy: Always
      command:
      - runner.sh
      args:
      - make
      - -C
      - images/prow-tests
      - build-ci-test

post-knative-infra-prow-tests-image-push:
  decorate: true
  spec:
    serviceAccountName: test-runner
    containers:
    - image: us-docker.pkg.dev/knative-tests/images/prow-tests:v20230616-086ddd644
      imagePullPolicy: Always
      command:
      - runner.sh
      args:
      - make
      - -C
      - images/prow-tests
      - push

post-infra-update-testgrid-proto:
  decorate: true
  spec:
    serviceAccountName: testgrid-updater
    containers:
    - image: gcr.io/k8s-prow/configurator:v20230630-9eecc0f38f
      command:
      - configurator
      args:
      - --prow-config=prow/config.yaml
      - --prow-job-config=prow/jobs
  ...

Bumping Prow and Boskos
  prow/cluster/build/boskos-deployment.yaml
  prow/cluster/build/boskos-janitor.yaml
  prow/cluster/build/boskos-reaper.yaml
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/cluster/trusted/ghproxy.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/infra.yaml
  prow/jobs/custom/label-sync.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/run_job.sh
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

Bumping Prow and Boskos (#380)
  prow/cluster/build/boskos-deployment.yaml
  prow/cluster/build/boskos-janitor.yaml
  prow/cluster/build/boskos-reaper.yaml
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/cluster/trusted/ghproxy.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/infra.yaml
  prow/jobs/custom/label-sync.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/run_job.sh
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

add prow job to test gateway api and contour
  prow/jobs_config/knative/serving.yaml
Due: none

ran /hack/update-codegen.sh
  prow/jobs/generated/knative/serving-main.gen.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

add prow job to test gateway api and contour (#381)
  prow/jobs/generated/knative/serving-main.gen.yaml
  prow/jobs_config/knative/serving.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

Update community files
  OWNERS_ALIASES
Due: none

Update community files (#383)
  OWNERS_ALIASES
Due: none

Bumping Prow and Boskos
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/cluster/trusted/ghproxy.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/infra.yaml
  prow/jobs/custom/label-sync.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/run_job.sh
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

Bumping Prow and Boskos (#385)
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/cluster/trusted/ghproxy.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/infra.yaml
  prow/jobs/custom/label-sync.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/run_job.sh
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

fix: bumped cosign to v1.13.6
  images/prow-tests/Dockerfile
Due: pull-knative-infra-prow-tests-image-build, post-knative-infra-prow-tests-image-push

fix: bumped cosign to v1.13.6 (#387)
  images/prow-tests/Dockerfile
Due: pull-knative-infra-prow-tests-image-build, post-knative-infra-prow-tests-image-push

Bumping Prow and Boskos (#389)
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/cluster/trusted/ghproxy.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/infra.yaml
  prow/jobs/custom/label-sync.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/run_job.sh
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

Update community files (#390)
  OWNERS_ALIASES
Due: none

bump: ekb release-1.13 now uses updated base image
  prow/jobs/generated/knative-extensions/eventing-kafka-broker-release-1.13.gen.yaml
  prow/jobs_config/knative-extensions/eventing-kafka-broker-release-1.13.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

bump: ekb release-1.13 now uses updated base image (#391)
  prow/jobs/generated/knative-extensions/eventing-kafka-broker-release-1.13.gen.yaml
  prow/jobs_config/knative-extensions/eventing-kafka-broker-release-1.13.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

rename prow job for serving/gateway-api
  prow/jobs_config/knative/serving.yaml
Due: none

add contour continuous job to prow
  prow/jobs_config/knative/serving.yaml
Due: none

run hack/update-codegen.sh
  prow/jobs/generated/knative/serving-main.gen.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

rename periodic prow job for serving/gateway-api
  prow/jobs_config/knative/serving.yaml
Due: none

add contour/gateway-api periodic job to prow
  prow/jobs_config/knative/serving.yaml
Due: none

remove timeout and regex from continuous job
  prow/jobs_config/knative/serving.yaml
Due: none

add periodic prow job for testing serving + contour + gateway-api (#392)
  prow/jobs/generated/knative/serving-main.gen.yaml
  prow/jobs_config/knative/serving.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

Bumping Prow and Boskos (#394)
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/cluster/trusted/ghproxy.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/infra.yaml
  prow/jobs/custom/label-sync.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/run_job.sh
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

temporarily remove the serving kourier jobs for ppc64le
  prow/jobs/generated/knative/serving-main.gen.yaml
  prow/jobs/generated/knative/serving-release-1.12.gen.yaml
  prow/jobs/generated/knative/serving-release-1.13.gen.yaml
  prow/jobs_config/knative/serving-release-1.12.yaml
  prow/jobs_config/knative/serving-release-1.13.yaml
  prow/jobs_config/knative/serving.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

Update community files (#397)
  OWNERS_ALIASES
Due: none

move tests from net-certmanager to serving
  prow/jobs_config/knative/serving.yaml
Due: none

codegen
  prow/jobs/generated/knative/serving-main.gen.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

Remove Loom jobs and add periodic rekt tests for EKB
  prow/jobs/generated/knative-extensions/eventing-kafka-broker-main.gen.yaml
  prow/jobs_config/knative-extensions/eventing-kafka-broker.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

Path conditions:
  pull-infra-validate-prow-yaml: any of: ^prow/((config|plugins)\.yaml$|jobs/)
  pull-infra-validate-own-testgrid-yaml: any of: (^config/prow/k8s-testgrid/.*.yaml$|^prow/jobs/.*.yaml$)
  pull-knative-infra-prow-tests-image-build: any of: ^(images/prow-tests/.*|tools/.*|pkg/.*|go.mod)$
  post-knative-infra-prow-tests-image-push: any of: ^(images/prow-tests/.*|tools/kntest/.*|pkg/.*|go.mod)$
  post-infra-update-testgrid-proto: any of: ^(config/prow/k8s-testgrid/|prow/jobs/).*.yaml
