Repository knative/infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, pull-knative-infra-prow-tests-image-build, post-knative-infra-prow-tests-image-push, post-infra-update-testgrid-proto

Path conditions:
  pull-infra-validate-prow-yaml: any of: ^prow/((config|plugins)\.yaml$|jobs/)
  pull-infra-validate-own-testgrid-yaml: any of: (^config/prow/k8s-testgrid/.*.yaml$|^prow/jobs/.*.yaml$)
  pull-knative-infra-prow-tests-image-build: any of: ^(images/prow-tests/.*|tools/.*|pkg/.*|go.mod)$
  post-knative-infra-prow-tests-image-push: any of: ^(images/prow-tests/.*|tools/kntest/.*|pkg/.*|go.mod)$
  post-infra-update-testgrid-proto: any of: ^(config/prow/k8s-testgrid/|prow/jobs/).*.yaml

Bumping Prow and Boskos
  prow/cluster/build/boskos-deployment.yaml
  prow/cluster/build/boskos-janitor.yaml
  prow/cluster/build/boskos-reaper.yaml
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/cluster/trusted/ghproxy.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/infra.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/run_job.sh
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

Bumping Prow and Boskos (#714)
  prow/cluster/build/boskos-deployment.yaml
  prow/cluster/build/boskos-janitor.yaml
  prow/cluster/build/boskos-reaper.yaml
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/cluster/trusted/ghproxy.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/infra.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/run_job.sh
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

allow tests to access pod logs
  prow/cluster/control-plane/rbac.yaml
Due: none

allow tests to access pod logs (#715)
  prow/cluster/control-plane/rbac.yaml
Due: none

automatically merge dependabot changes
  prow/config.yaml
Due: pull-infra-validate-prow-yaml

automatically merge dependabot changes (#716)
  prow/config.yaml
Due: pull-infra-validate-prow-yaml

Bumping Prow and Boskos (#718)
  prow/cluster/build/boskos-deployment.yaml
  prow/cluster/build/boskos-janitor.yaml
  prow/cluster/build/boskos-reaper.yaml
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/cluster/trusted/ghproxy.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/infra.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/run_job.sh
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

Bumping Prow and Boskos
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/cluster/trusted/ghproxy.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/infra.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/run_job.sh
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

Bumping Prow and Boskos (#723)
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/cluster/trusted/ghproxy.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/infra.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/run_job.sh
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

bump go version to 1.25.x and bump other stuff
  images/prow-tests/Dockerfile
Due: pull-knative-infra-prow-tests-image-build, post-knative-infra-prow-tests-image-push

bump go version to 1.25.x and bump other stuff (#726)
  images/prow-tests/Dockerfile
Due: pull-knative-infra-prow-tests-image-build, post-knative-infra-prow-tests-image-push

install stern
  images/prow-tests/Dockerfile
Due: pull-knative-infra-prow-tests-image-build, post-knative-infra-prow-tests-image-push

Bumping Prow and Boskos (#729)
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/cluster/trusted/ghproxy.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/infra.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/run_job.sh
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

Update community files
  OWNERS_ALIASES
Due: none

Update community files (#730)
  OWNERS_ALIASES
Due: none

increase peribolos timeout to 3h
  prow/jobs/custom/peribolos.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

increase peribolos timeout to 3h (#733)
  prow/jobs/custom/peribolos.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

install stern (#728)
  images/prow-tests/Dockerfile
Due: pull-knative-infra-prow-tests-image-build, post-knative-infra-prow-tests-image-push

Bumping Prow and Boskos (#736)
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/cluster/trusted/ghproxy.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/infra.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/run_job.sh
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches
  config/prow/k8s-testgrid/k8s-testgrid.yaml
  prow/jobs/generated/knative-extensions/eventing-integrations-release-1.20.gen.yaml
  prow/jobs_config/knative-extensions/eventing-integrations-release-1.20.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches (#737)
  config/prow/k8s-testgrid/k8s-testgrid.yaml
  prow/jobs/generated/knative-extensions/eventing-integrations-release-1.20.gen.yaml
  prow/jobs_config/knative-extensions/eventing-integrations-release-1.20.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches
  config/prow/k8s-testgrid/k8s-testgrid.yaml
  prow/jobs/generated/knative-extensions/net-contour-release-1.20.gen.yaml
  prow/jobs/generated/knative-extensions/net-gateway-api-release-1.20.gen.yaml
  prow/jobs/generated/knative-extensions/net-istio-release-1.20.gen.yaml
  prow/jobs/generated/knative-extensions/net-kourier-release-1.20.gen.yaml
  prow/jobs/generated/knative-extensions/sample-controller-release-1.20.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.20.gen.yaml
  prow/jobs/generated/knative/serving-release-1.20.gen.yaml
  prow/jobs_config/knative-extensions/net-contour-release-1.20.yaml
  prow/jobs_config/knative-extensions/net-gateway-api-release-1.20.yaml
  prow/jobs_config/knative-extensions/net-istio-release-1.20.yaml
  prow/jobs_config/knative-extensions/net-kourier-release-1.20.yaml
  prow/jobs_config/knative-extensions/sample-controller-release-1.20.yaml
  prow/jobs_config/knative/eventing-release-1.20.yaml
  prow/jobs_config/knative/serving-release-1.20.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches (#738)
  config/prow/k8s-testgrid/k8s-testgrid.yaml
  prow/jobs/generated/knative-extensions/net-contour-release-1.20.gen.yaml
  prow/jobs/generated/knative-extensions/net-gateway-api-release-1.20.gen.yaml
  prow/jobs/generated/knative-extensions/net-istio-release-1.20.gen.yaml
  prow/jobs/generated/knative-extensions/net-kourier-release-1.20.gen.yaml
  prow/jobs/generated/knative-extensions/sample-controller-release-1.20.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.20.gen.yaml
  prow/jobs/generated/knative/serving-release-1.20.gen.yaml
  prow/jobs_config/knative-extensions/net-contour-release-1.20.yaml
  prow/jobs_config/knative-extensions/net-gateway-api-release-1.20.yaml
  prow/jobs_config/knative-extensions/net-istio-release-1.20.yaml
  prow/jobs_config/knative-extensions/net-kourier-release-1.20.yaml
  prow/jobs_config/knative-extensions/sample-controller-release-1.20.yaml
  prow/jobs_config/knative/eventing-release-1.20.yaml
  prow/jobs_config/knative/serving-release-1.20.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto
