Repository knative/infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, pull-knative-infra-prow-tests-image-build, post-knative-infra-prow-tests-image-push, post-infra-update-testgrid-proto

Path conditions:
  pull-infra-validate-prow-yaml: any of: ^prow/((config|plugins)\.yaml$|jobs/)
  pull-infra-validate-own-testgrid-yaml: any of: (^config/prow/k8s-testgrid/.*.yaml$|^prow/jobs/.*.yaml$)
  pull-knative-infra-prow-tests-image-build: any of: ^(images/prow-tests/.*|tools/.*|pkg/.*|go.mod)$
  post-knative-infra-prow-tests-image-push: any of: ^(images/prow-tests/.*|tools/kntest/.*|pkg/.*|go.mod)$
  post-infra-update-testgrid-proto: any of: ^(config/prow/k8s-testgrid/|prow/jobs/).*.yaml

Bumping Prow and Boskos
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/cluster/trusted/ghproxy.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/infra.yaml
  prow/jobs/custom/label-sync.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/run_job.sh
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

Bumping Prow and Boskos (#137)
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/cluster/trusted/ghproxy.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/infra.yaml
  prow/jobs/custom/label-sync.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/run_job.sh
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

add cr and helm cli tools
  images/prow-tests/Dockerfile
Due: pull-knative-infra-prow-tests-image-build, post-knative-infra-prow-tests-image-push

fix typo
  images/prow-tests/Dockerfile
Due: pull-knative-infra-prow-tests-image-build, post-knative-infra-prow-tests-image-push

[Auto] Update prow jobs for release branches
  config/prow/k8s-testgrid/k8s-testgrid.yaml
  prow/jobs/generated/knative-sandbox/net-certmanager-release-1.11.gen.yaml
  prow/jobs/generated/knative-sandbox/net-contour-release-1.11.gen.yaml
  prow/jobs/generated/knative-sandbox/net-gateway-api-release-1.11.gen.yaml
  prow/jobs/generated/knative-sandbox/net-http01-release-1.11.gen.yaml
  prow/jobs/generated/knative-sandbox/net-istio-release-1.11.gen.yaml
  prow/jobs/generated/knative-sandbox/net-kourier-release-1.11.gen.yaml
  prow/jobs/generated/knative-sandbox/sample-controller-release-1.11.gen.yaml
  prow/jobs/generated/knative/serving-release-1.11.gen.yaml
  prow/jobs_config/knative-sandbox/net-certmanager-release-1.11.yaml
  prow/jobs_config/knative-sandbox/net-contour-release-1.11.yaml
  prow/jobs_config/knative-sandbox/net-gateway-api-release-1.11.yaml
  prow/jobs_config/knative-sandbox/net-http01-release-1.11.yaml
  prow/jobs_config/knative-sandbox/net-istio-release-1.11.yaml
  prow/jobs_config/knative-sandbox/net-kourier-release-1.11.yaml
  prow/jobs_config/knative-sandbox/sample-controller-release-1.11.yaml
  prow/jobs_config/knative/serving-release-1.11.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches (#139)
  config/prow/k8s-testgrid/k8s-testgrid.yaml
  prow/jobs/generated/knative-sandbox/net-certmanager-release-1.11.gen.yaml
  prow/jobs/generated/knative-sandbox/net-contour-release-1.11.gen.yaml
  prow/jobs/generated/knative-sandbox/net-gateway-api-release-1.11.gen.yaml
  prow/jobs/generated/knative-sandbox/net-http01-release-1.11.gen.yaml
  prow/jobs/generated/knative-sandbox/net-istio-release-1.11.gen.yaml
  prow/jobs/generated/knative-sandbox/net-kourier-release-1.11.gen.yaml
  prow/jobs/generated/knative-sandbox/sample-controller-release-1.11.gen.yaml
  prow/jobs/generated/knative/serving-release-1.11.gen.yaml
  prow/jobs_config/knative-sandbox/net-certmanager-release-1.11.yaml
  prow/jobs_config/knative-sandbox/net-contour-release-1.11.yaml
  prow/jobs_config/knative-sandbox/net-gateway-api-release-1.11.yaml
  prow/jobs_config/knative-sandbox/net-http01-release-1.11.yaml
  prow/jobs_config/knative-sandbox/net-istio-release-1.11.yaml
  prow/jobs_config/knative-sandbox/net-kourier-release-1.11.yaml
  prow/jobs_config/knative-sandbox/sample-controller-release-1.11.yaml
  prow/jobs_config/knative/serving-release-1.11.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches
  prow/jobs/generated/knative/eventing-release-1.11.gen.yaml
  prow/jobs_config/knative/eventing-release-1.11.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches (#140)
  prow/jobs/generated/knative/eventing-release-1.11.gen.yaml
  prow/jobs_config/knative/eventing-release-1.11.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches
  prow/jobs/generated/knative-sandbox/eventing-ceph-release-1.11.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-kogito-release-1.11.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-rabbitmq-release-1.11.gen.yaml
  prow/jobs/generated/knative-sandbox/sample-source-release-1.11.gen.yaml
  prow/jobs_config/knative-sandbox/eventing-ceph-release-1.11.yaml
  prow/jobs_config/knative-sandbox/eventing-kogito-release-1.11.yaml
  prow/jobs_config/knative-sandbox/eventing-rabbitmq-release-1.11.yaml
  prow/jobs_config/knative-sandbox/sample-source-release-1.11.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches (#141)
  prow/jobs/generated/knative-sandbox/eventing-ceph-release-1.11.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-kogito-release-1.11.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-rabbitmq-release-1.11.gen.yaml
  prow/jobs/generated/knative-sandbox/sample-source-release-1.11.gen.yaml
  prow/jobs_config/knative-sandbox/eventing-ceph-release-1.11.yaml
  prow/jobs_config/knative-sandbox/eventing-kogito-release-1.11.yaml
  prow/jobs_config/knative-sandbox/eventing-rabbitmq-release-1.11.yaml
  prow/jobs_config/knative-sandbox/sample-source-release-1.11.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

Update community files
  OWNERS_ALIASES
Due: none

Update community files (#142)
  OWNERS_ALIASES
Due: none

[Auto] Update prow jobs for release branches
  prow/jobs/generated/knative-sandbox/eventing-github-release-1.11.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-gitlab-release-1.11.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-kafka-release-1.11.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-redis-release-1.11.gen.yaml
  prow/jobs/generated/knative/client-release-1.11.gen.yaml
  prow/jobs_config/knative-sandbox/eventing-github-release-1.11.yaml
  prow/jobs_config/knative-sandbox/eventing-gitlab-release-1.11.yaml
  prow/jobs_config/knative-sandbox/eventing-kafka-release-1.11.yaml
  prow/jobs_config/knative-sandbox/eventing-redis-release-1.11.yaml
  prow/jobs_config/knative/client-release-1.11.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches (#143)
  prow/jobs/generated/knative-sandbox/eventing-github-release-1.11.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-gitlab-release-1.11.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-kafka-release-1.11.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-redis-release-1.11.gen.yaml
  prow/jobs/generated/knative/client-release-1.11.gen.yaml
  prow/jobs_config/knative-sandbox/eventing-github-release-1.11.yaml
  prow/jobs_config/knative-sandbox/eventing-gitlab-release-1.11.yaml
  prow/jobs_config/knative-sandbox/eventing-kafka-release-1.11.yaml
  prow/jobs_config/knative-sandbox/eventing-redis-release-1.11.yaml
  prow/jobs_config/knative/client-release-1.11.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches
  prow/jobs/generated/knative-sandbox/eventing-autoscaler-keda-release-1.11.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-admin-release-1.11.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-event-release-1.11.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-quickstart-release-1.11.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-source-kafka-release-1.11.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-source-kamelet-release-1.11.gen.yaml
  prow/jobs/generated/knative/func-release-1.11.gen.yaml
  prow/jobs_config/knative-sandbox/eventing-autoscaler-keda-release-1.11.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-admin-release-1.11.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-event-release-1.11.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-quickstart-release-1.11.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-source-kafka-release-1.11.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-source-kamelet-release-1.11.yaml
  prow/jobs_config/knative/func-release-1.11.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches (#144)
  prow/jobs/generated/knative-sandbox/eventing-autoscaler-keda-release-1.11.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-admin-release-1.11.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-event-release-1.11.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-quickstart-release-1.11.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-source-kafka-release-1.11.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-source-kamelet-release-1.11.gen.yaml
  prow/jobs/generated/knative/func-release-1.11.gen.yaml
  prow/jobs_config/knative-sandbox/eventing-autoscaler-keda-release-1.11.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-admin-release-1.11.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-event-release-1.11.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-quickstart-release-1.11.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-source-kafka-release-1.11.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-source-kamelet-release-1.11.yaml
  prow/jobs_config/knative/func-release-1.11.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches
  prow/jobs/generated/knative-sandbox/eventing-kafka-broker-release-1.11.gen.yaml
  prow/jobs_config/knative-sandbox/eventing-kafka-broker-release-1.11.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches (#145)
  prow/jobs/generated/knative-sandbox/eventing-kafka-broker-release-1.11.gen.yaml
  prow/jobs_config/knative-sandbox/eventing-kafka-broker-release-1.11.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches
  prow/jobs/generated/knative-sandbox/eventing-istio-release-1.11.gen.yaml
  prow/jobs_config/knative-sandbox/eventing-istio-release-1.11.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches (#147)
  prow/jobs/generated/knative-sandbox/eventing-istio-release-1.11.gen.yaml
  prow/jobs_config/knative-sandbox/eventing-istio-release-1.11.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

[s390x] adding support for release 1.11
  prow/jobs/generated/knative-sandbox/eventing-kafka-broker-release-1.11.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-kafka-release-1.11.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-event-release-1.11.gen.yaml
  prow/jobs/generated/knative/client-release-1.11.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.11.gen.yaml
  prow/jobs/generated/knative/serving-release-1.11.gen.yaml
  prow/jobs_config/knative-sandbox/eventing-kafka-broker-release-1.11.yaml
  prow/jobs_config/knative-sandbox/eventing-kafka-release-1.11.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-event-release-1.11.yaml
  prow/jobs_config/knative/client-release-1.11.yaml
  prow/jobs_config/knative/eventing-release-1.11.yaml
  prow/jobs_config/knative/serving-release-1.11.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches
  prow/jobs/generated/knative/operator-release-1.11.gen.yaml
  prow/jobs_config/knative/operator-release-1.11.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

[s390x] adding support for release 1.11 (#148)
  prow/jobs/generated/knative-sandbox/eventing-kafka-broker-release-1.11.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-kafka-release-1.11.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-event-release-1.11.gen.yaml
  prow/jobs/generated/knative/client-release-1.11.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.11.gen.yaml
  prow/jobs/generated/knative/serving-release-1.11.gen.yaml
  prow/jobs_config/knative-sandbox/eventing-kafka-broker-release-1.11.yaml
  prow/jobs_config/knative-sandbox/eventing-kafka-release-1.11.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-event-release-1.11.yaml
  prow/jobs_config/knative/client-release-1.11.yaml
  prow/jobs_config/knative/eventing-release-1.11.yaml
  prow/jobs_config/knative/serving-release-1.11.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches (#149)
  prow/jobs/generated/knative/operator-release-1.11.gen.yaml
  prow/jobs_config/knative/operator-release-1.11.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

ppc64le cron job timings modified
  prow/jobs/generated/knative-sandbox/kn-plugin-event-main.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-event-release-1.10.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-event-release-1.11.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-event-release-1.9.gen.yaml
  prow/jobs/generated/knative/client-main.gen.yaml
  prow/jobs/generated/knative/client-release-1.10.gen.yaml
  prow/jobs/generated/knative/client-release-1.11.gen.yaml
  prow/jobs/generated/knative/client-release-1.9.gen.yaml
  prow/jobs/generated/knative/eventing-main.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.10.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.11.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.9.gen.yaml
  prow/jobs/generated/knative/operator-main.gen.yaml
  prow/jobs/generated/knative/operator-release-1.10.gen.yaml
  prow/jobs/generated/knative/operator-release-1.11.gen.yaml
  prow/jobs/generated/knative/operator-release-1.9.gen.yaml
  prow/jobs/generated/knative/serving-main.gen.yaml
  prow/jobs/generated/knative/serving-release-1.10.gen.yaml
  prow/jobs/generated/knative/serving-release-1.11.gen.yaml
  prow/jobs/generated/knative/serving-release-1.9.gen.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-event-release-1.10.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-event-release-1.11.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-event-release-1.9.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-event.yaml
  prow/jobs_config/knative/client-release-1.10.yaml
  prow/jobs_config/knative/client-release-1.11.yaml
  prow/jobs_config/knative/client-release-1.9.yaml
  prow/jobs_config/knative/client.yaml
  prow/jobs_config/knative/eventing-release-1.10.yaml
  prow/jobs_config/knative/eventing-release-1.11.yaml
  prow/jobs_config/knative/eventing-release-1.9.yaml
  prow/jobs_config/knative/eventing.yaml
  prow/jobs_config/knative/operator-release-1.10.yaml
  prow/jobs_config/knative/operator-release-1.11.yaml
  prow/jobs_config/knative/operator-release-1.9.yaml
  prow/jobs_config/knative/operator.yaml
  prow/jobs_config/knative/serving-release-1.10.yaml
  prow/jobs_config/knative/serving-release-1.11.yaml
  prow/jobs_config/knative/serving-release-1.9.yaml
  prow/jobs_config/knative/serving.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

[s390x]: adding support for operartor release 1.11
  prow/jobs/generated/knative/operator-release-1.11.gen.yaml
  prow/jobs/generated/knative/serving-release-1.11.gen.yaml
  prow/jobs_config/knative/operator-release-1.11.yaml
  prow/jobs_config/knative/serving-release-1.11.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

ppc64le cron job timings modified (#150)
  prow/jobs/generated/knative-sandbox/kn-plugin-event-main.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-event-release-1.10.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-event-release-1.11.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-event-release-1.9.gen.yaml
  prow/jobs/generated/knative/client-main.gen.yaml
  prow/jobs/generated/knative/client-release-1.10.gen.yaml
  prow/jobs/generated/knative/client-release-1.11.gen.yaml
  prow/jobs/generated/knative/client-release-1.9.gen.yaml
  prow/jobs/generated/knative/eventing-main.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.10.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.11.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.9.gen.yaml
  prow/jobs/generated/knative/operator-main.gen.yaml
  prow/jobs/generated/knative/operator-release-1.10.gen.yaml
  prow/jobs/generated/knative/operator-release-1.11.gen.yaml
  prow/jobs/generated/knative/operator-release-1.9.gen.yaml
  prow/jobs/generated/knative/serving-main.gen.yaml
  prow/jobs/generated/knative/serving-release-1.10.gen.yaml
  prow/jobs/generated/knative/serving-release-1.11.gen.yaml
  prow/jobs/generated/knative/serving-release-1.9.gen.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-event-release-1.10.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-event-release-1.11.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-event-release-1.9.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-event.yaml
  prow/jobs_config/knative/client-release-1.10.yaml
  prow/jobs_config/knative/client-release-1.11.yaml
  prow/jobs_config/knative/client-release-1.9.yaml
  prow/jobs_config/knative/client.yaml
  prow/jobs_config/knative/eventing-release-1.10.yaml
  prow/jobs_config/knative/eventing-release-1.11.yaml
  prow/jobs_config/knative/eventing-release-1.9.yaml
  prow/jobs_config/knative/eventing.yaml
  prow/jobs_config/knative/operator-release-1.10.yaml
  prow/jobs_config/knative/operator-release-1.11.yaml
  prow/jobs_config/knative/operator-release-1.9.yaml
  prow/jobs_config/knative/operator.yaml
  prow/jobs_config/knative/serving-release-1.10.yaml
  prow/jobs_config/knative/serving-release-1.11.yaml
  prow/jobs_config/knative/serving-release-1.9.yaml
  prow/jobs_config/knative/serving.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

[s390x] adding support for operator release 1.11 (#151)
  prow/jobs/generated/knative/operator-release-1.11.gen.yaml
  prow/jobs/generated/knative/serving-release-1.11.gen.yaml
  prow/jobs_config/knative/operator-release-1.11.yaml
  prow/jobs_config/knative/serving-release-1.11.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

Bumping Prow and Boskos (#152)
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/cluster/trusted/ghproxy.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/infra.yaml
  prow/jobs/custom/label-sync.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/run_job.sh
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

Auto merge dependabot updates
  .github/dependabot.yml
Due: none

Add `cr` and `helm` cli tools (#138)
  images/prow-tests/Dockerfile
Due: pull-knative-infra-prow-tests-image-build, post-knative-infra-prow-tests-image-push

Auto merge dependabot updates (#153)
  .github/dependabot.yml
Due: none

[Auto] Update prow jobs for release branches
  prow/jobs/generated/knative-sandbox/kn-plugin-operator-release-1.11.gen.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-operator-release-1.11.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches (#156)
  prow/jobs/generated/knative-sandbox/kn-plugin-operator-release-1.11.gen.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-operator-release-1.11.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

fix kn-plugin-jobs
  prow/jobs/generated/knative-sandbox/kn-plugin-operator-release-1.11.gen.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-operator-release-1.11.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto
