Repository knative/infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, pull-knative-infra-prow-tests-image-build, post-knative-infra-prow-tests-image-push, post-infra-update-testgrid-proto

Path conditions:
  pull-infra-validate-prow-yaml: any of: ^prow/((config|plugins)\.yaml$|jobs/)
  pull-infra-validate-own-testgrid-yaml: any of: (^config/prow/k8s-testgrid/.*.yaml$|^prow/jobs/.*.yaml$)
  pull-knative-infra-prow-tests-image-build: any of: ^(images/prow-tests/.*|tools/.*|pkg/.*|go.mod)$
  post-knative-infra-prow-tests-image-push: any of: ^(images/prow-tests/.*|tools/kntest/.*|pkg/.*|go.mod)$
  post-infra-update-testgrid-proto: any of: ^(config/prow/k8s-testgrid/|prow/jobs/).*.yaml

[Auto] Update prow jobs for release branches (#540)
  prow/jobs/generated/knative-extensions/eventing-ceph-release-1.16.gen.yaml
  prow/jobs/generated/knative-extensions/eventing-rabbitmq-release-1.16.gen.yaml
  prow/jobs/generated/knative-extensions/sample-source-release-1.16.gen.yaml
  prow/jobs_config/knative-extensions/eventing-ceph-release-1.16.yaml
  prow/jobs_config/knative-extensions/eventing-rabbitmq-release-1.16.yaml
  prow/jobs_config/knative-extensions/sample-source-release-1.16.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches
  prow/jobs/generated/knative-extensions/eventing-github-release-1.16.gen.yaml
  prow/jobs/generated/knative-extensions/eventing-gitlab-release-1.16.gen.yaml
  prow/jobs/generated/knative-extensions/eventing-natss-release-1.16.gen.yaml
  prow/jobs/generated/knative-extensions/eventing-redis-release-1.16.gen.yaml
  prow/jobs/generated/knative/client-release-1.16.gen.yaml
  prow/jobs_config/knative-extensions/eventing-github-release-1.16.yaml
  prow/jobs_config/knative-extensions/eventing-gitlab-release-1.16.yaml
  prow/jobs_config/knative-extensions/eventing-natss-release-1.16.yaml
  prow/jobs_config/knative-extensions/eventing-redis-release-1.16.yaml
  prow/jobs_config/knative/client-release-1.16.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches (#541)
  prow/jobs/generated/knative-extensions/eventing-github-release-1.16.gen.yaml
  prow/jobs/generated/knative-extensions/eventing-gitlab-release-1.16.gen.yaml
  prow/jobs/generated/knative-extensions/eventing-natss-release-1.16.gen.yaml
  prow/jobs/generated/knative-extensions/eventing-redis-release-1.16.gen.yaml
  prow/jobs/generated/knative/client-release-1.16.gen.yaml
  prow/jobs_config/knative-extensions/eventing-github-release-1.16.yaml
  prow/jobs_config/knative-extensions/eventing-gitlab-release-1.16.yaml
  prow/jobs_config/knative-extensions/eventing-natss-release-1.16.yaml
  prow/jobs_config/knative-extensions/eventing-redis-release-1.16.yaml
  prow/jobs_config/knative/client-release-1.16.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches
  prow/jobs/generated/knative-extensions/eventing-kafka-broker-release-1.16.gen.yaml
  prow/jobs/generated/knative-extensions/kn-plugin-quickstart-release-1.16.gen.yaml
  prow/jobs/generated/knative-extensions/kn-plugin-source-kamelet-release-1.16.gen.yaml
  prow/jobs_config/knative-extensions/eventing-kafka-broker-release-1.16.yaml
  prow/jobs_config/knative-extensions/kn-plugin-quickstart-release-1.16.yaml
  prow/jobs_config/knative-extensions/kn-plugin-source-kamelet-release-1.16.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches (#542)
  prow/jobs/generated/knative-extensions/eventing-kafka-broker-release-1.16.gen.yaml
  prow/jobs/generated/knative-extensions/kn-plugin-quickstart-release-1.16.gen.yaml
  prow/jobs/generated/knative-extensions/kn-plugin-source-kamelet-release-1.16.gen.yaml
  prow/jobs_config/knative-extensions/eventing-kafka-broker-release-1.16.yaml
  prow/jobs_config/knative-extensions/kn-plugin-quickstart-release-1.16.yaml
  prow/jobs_config/knative-extensions/kn-plugin-source-kamelet-release-1.16.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches
  prow/jobs/generated/knative-extensions/kn-plugin-admin-release-1.16.gen.yaml
  prow/jobs_config/knative-extensions/kn-plugin-admin-release-1.16.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches (#543)
  prow/jobs/generated/knative-extensions/kn-plugin-admin-release-1.16.gen.yaml
  prow/jobs_config/knative-extensions/kn-plugin-admin-release-1.16.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches
  prow/jobs/generated/knative-extensions/eventing-autoscaler-keda-release-1.16.gen.yaml
  prow/jobs/generated/knative-extensions/eventing-istio-release-1.16.gen.yaml
  prow/jobs/generated/knative-extensions/kn-plugin-source-kafka-release-1.16.gen.yaml
  prow/jobs_config/knative-extensions/eventing-autoscaler-keda-release-1.16.yaml
  prow/jobs_config/knative-extensions/eventing-istio-release-1.16.yaml
  prow/jobs_config/knative-extensions/kn-plugin-source-kafka-release-1.16.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches (#544)
  prow/jobs/generated/knative-extensions/eventing-autoscaler-keda-release-1.16.gen.yaml
  prow/jobs/generated/knative-extensions/eventing-istio-release-1.16.gen.yaml
  prow/jobs/generated/knative-extensions/kn-plugin-source-kafka-release-1.16.gen.yaml
  prow/jobs_config/knative-extensions/eventing-autoscaler-keda-release-1.16.yaml
  prow/jobs_config/knative-extensions/eventing-istio-release-1.16.yaml
  prow/jobs_config/knative-extensions/kn-plugin-source-kafka-release-1.16.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches
  prow/jobs/generated/knative/func-release-1.16.gen.yaml
  prow/jobs_config/knative/func-release-1.16.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches (#545)
  prow/jobs/generated/knative/func-release-1.16.gen.yaml
  prow/jobs_config/knative/func-release-1.16.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches
  config/prow/k8s-testgrid/k8s-testgrid.yaml
  prow/jobs/generated/knative-extensions/backstage-plugins-release-1.16.gen.yaml
  prow/jobs/generated/knative-extensions/kn-plugin-event-release-1.16.gen.yaml
  prow/jobs/generated/knative/operator-release-1.16.gen.yaml
  prow/jobs_config/knative-extensions/backstage-plugins-release-1.16.yaml
  prow/jobs_config/knative-extensions/kn-plugin-event-release-1.16.yaml
  prow/jobs_config/knative/operator-release-1.16.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches (#546)
  config/prow/k8s-testgrid/k8s-testgrid.yaml
  prow/jobs/generated/knative-extensions/backstage-plugins-release-1.16.gen.yaml
  prow/jobs/generated/knative-extensions/kn-plugin-event-release-1.16.gen.yaml
  prow/jobs/generated/knative/operator-release-1.16.gen.yaml
  prow/jobs_config/knative-extensions/backstage-plugins-release-1.16.yaml
  prow/jobs_config/knative-extensions/kn-plugin-event-release-1.16.yaml
  prow/jobs_config/knative/operator-release-1.16.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches
  prow/jobs/generated/knative-extensions/kn-plugin-operator-release-1.16.gen.yaml
  prow/jobs/generated/knative-extensions/serving-progressive-rollout-release-1.16.gen.yaml
  prow/jobs_config/knative-extensions/kn-plugin-operator-release-1.16.yaml
  prow/jobs_config/knative-extensions/serving-progressive-rollout-release-1.16.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches (#547)
  prow/jobs/generated/knative-extensions/kn-plugin-operator-release-1.16.gen.yaml
  prow/jobs/generated/knative-extensions/serving-progressive-rollout-release-1.16.gen.yaml
  prow/jobs_config/knative-extensions/kn-plugin-operator-release-1.16.yaml
  prow/jobs_config/knative-extensions/serving-progressive-rollout-release-1.16.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

Bumping Prow and Boskos
  prow/cluster/build/boskos-deployment.yaml
  prow/cluster/build/boskos-janitor.yaml
  prow/cluster/build/boskos-reaper.yaml
Due: none

Bumping Prow and Boskos (#549)
  prow/cluster/build/boskos-deployment.yaml
  prow/cluster/build/boskos-janitor.yaml
  prow/cluster/build/boskos-reaper.yaml
Due: none

Bumping Prow and Boskos
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/cluster/trusted/ghproxy.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/infra.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/run_job.sh
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

Bumping Prow and Boskos (#550)
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/cluster/trusted/ghproxy.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/infra.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/run_job.sh
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

Update community files
  OWNERS_ALIASES
Due: none

Update community files (#551)
  OWNERS_ALIASES
Due: none

Bumping Prow and Boskos (#553)
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/cluster/trusted/ghproxy.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/infra.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/run_job.sh
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

Bumping Prow and Boskos (#555)
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/cluster/trusted/ghproxy.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/infra.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/run_job.sh
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

Update llink to devstats
  infra/gcp/dns/redirect/Makefile
Due: none

Bumping Prow and Boskos
  prow/cluster/build/boskos-deployment.yaml
  prow/cluster/build/boskos-janitor.yaml
  prow/cluster/build/boskos-reaper.yaml
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/cluster/trusted/ghproxy.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/infra.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/run_job.sh
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

Bumping Prow and Boskos (#557)
  prow/cluster/build/boskos-deployment.yaml
  prow/cluster/build/boskos-janitor.yaml
  prow/cluster/build/boskos-reaper.yaml
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/cluster/trusted/ghproxy.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/infra.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/run_job.sh
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

Update llink to devstats (#556)
  infra/gcp/dns/redirect/Makefile
Due: none

Update community files (#558)
  OWNERS_ALIASES
Due: none

Bumping Prow and Boskos (#559)
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/cluster/trusted/ghproxy.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/infra.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/run_job.sh
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

Update Go to 1.23.3
  images/prow-tests/Dockerfile
Due: pull-knative-infra-prow-tests-image-build, post-knative-infra-prow-tests-image-push

Update Go to 1.23.3 (#560)
  images/prow-tests/Dockerfile
Due: pull-knative-infra-prow-tests-image-build, post-knative-infra-prow-tests-image-push
