Repository knative/infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, pull-knative-infra-prow-tests-image-build, post-knative-infra-prow-tests-image-push, post-infra-update-testgrid-proto

Path conditions:
  pull-infra-validate-prow-yaml: any of: ^prow/((config|plugins)\.yaml$|jobs/)
  pull-infra-validate-own-testgrid-yaml: any of: (^config/prow/k8s-testgrid/.*.yaml$|^prow/jobs/.*.yaml$)
  pull-knative-infra-prow-tests-image-build: any of: ^(images/prow-tests/.*|tools/.*|pkg/.*|go.mod)$
  post-knative-infra-prow-tests-image-push: any of: ^(images/prow-tests/.*|tools/kntest/.*|pkg/.*|go.mod)$
  post-infra-update-testgrid-proto: any of: ^(config/prow/k8s-testgrid/|prow/jobs/).*.yaml

use fewer number of janitor pods
  prow/cluster/build/boskos-janitor.yaml
Due: none

added support for s390x for knative-extensions components
  prow/jobs/generated/knative-extensions/eventing-kafka-broker-release-1.15.gen.yaml
  prow/jobs/generated/knative-extensions/kn-plugin-event-release-1.15.gen.yaml
  prow/jobs/generated/knative/client-main.gen.yaml
  prow/jobs/generated/knative/client-release-1.14.gen.yaml
  prow/jobs/generated/knative/client-release-1.15.gen.yaml
  prow/jobs/generated/knative/operator-main.gen.yaml
  prow/jobs/generated/knative/operator-release-1.14.gen.yaml
  prow/jobs/generated/knative/operator-release-1.15.gen.yaml
  prow/jobs_config/knative-extensions/eventing-kafka-broker-release-1.15.yaml
  prow/jobs_config/knative-extensions/kn-plugin-event-release-1.15.yaml
  prow/jobs_config/knative/client-release-1.14.yaml
  prow/jobs_config/knative/client-release-1.15.yaml
  prow/jobs_config/knative/client.yaml
  prow/jobs_config/knative/operator-release-1.14.yaml
  prow/jobs_config/knative/operator-release-1.15.yaml
  prow/jobs_config/knative/operator.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

Bumping Prow and Boskos
  prow/cluster/build/boskos-deployment.yaml
  prow/cluster/build/boskos-janitor.yaml
  prow/cluster/build/boskos-reaper.yaml
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/cluster/trusted/ghproxy.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/infra.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/run_job.sh
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

Bumping Prow and Boskos (#496)
  prow/cluster/build/boskos-deployment.yaml
  prow/cluster/build/boskos-janitor.yaml
  prow/cluster/build/boskos-reaper.yaml
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/cluster/trusted/ghproxy.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/infra.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/run_job.sh
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

drop s390x/ppc ci jobs
  prow/cluster/build/secrets.yaml
  prow/jobs/generated/knative-extensions/eventing-kafka-broker-main.gen.yaml
  prow/jobs/generated/knative-extensions/eventing-kafka-broker-release-1.14.gen.yaml
  prow/jobs/generated/knative-extensions/kn-plugin-event-main.gen.yaml
  prow/jobs/generated/knative-extensions/kn-plugin-event-release-1.14.gen.yaml
  prow/jobs/generated/knative/client-main.gen.yaml
  prow/jobs/generated/knative/client-release-1.14.gen.yaml
  prow/jobs/generated/knative/client-release-1.15.gen.yaml
  prow/jobs/generated/knative/eventing-main.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.14.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.15.gen.yaml
  prow/jobs/generated/knative/operator-main.gen.yaml
  prow/jobs/generated/knative/operator-release-1.14.gen.yaml
  prow/jobs/generated/knative/operator-release-1.15.gen.yaml
  prow/jobs/generated/knative/serving-main.gen.yaml
  prow/jobs/generated/knative/serving-release-1.14.gen.yaml
  prow/jobs/generated/knative/serving-release-1.15.gen.yaml
  prow/jobs_config/knative-extensions/eventing-kafka-broker-release-1.14.yaml
  prow/jobs_config/knative-extensions/eventing-kafka-broker.yaml
  prow/jobs_config/knative-extensions/kn-plugin-event-release-1.14.yaml
  prow/jobs_config/knative-extensions/kn-plugin-event.yaml
  prow/jobs_config/knative/client-release-1.14.yaml
  prow/jobs_config/knative/client-release-1.15.yaml
  prow/jobs_config/knative/client.yaml
  prow/jobs_config/knative/eventing-release-1.14.yaml
  prow/jobs_config/knative/eventing-release-1.15.yaml
  prow/jobs_config/knative/eventing.yaml
  prow/jobs_config/knative/operator-release-1.14.yaml
  prow/jobs_config/knative/operator-release-1.15.yaml
  prow/jobs_config/knative/operator.yaml
  prow/jobs_config/knative/serving-release-1.14.yaml
  prow/jobs_config/knative/serving-release-1.15.yaml
  prow/jobs_config/knative/serving.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

drop s390x/ppc ci jobs (#497)
  prow/cluster/build/secrets.yaml
  prow/jobs/generated/knative-extensions/eventing-kafka-broker-main.gen.yaml
  prow/jobs/generated/knative-extensions/eventing-kafka-broker-release-1.14.gen.yaml
  prow/jobs/generated/knative-extensions/kn-plugin-event-main.gen.yaml
  prow/jobs/generated/knative-extensions/kn-plugin-event-release-1.14.gen.yaml
  prow/jobs/generated/knative/client-main.gen.yaml
  prow/jobs/generated/knative/client-release-1.14.gen.yaml
  prow/jobs/generated/knative/client-release-1.15.gen.yaml
  prow/jobs/generated/knative/eventing-main.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.14.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.15.gen.yaml
  prow/jobs/generated/knative/operator-main.gen.yaml
  prow/jobs/generated/knative/operator-release-1.14.gen.yaml
  prow/jobs/generated/knative/operator-release-1.15.gen.yaml
  prow/jobs/generated/knative/serving-main.gen.yaml
  prow/jobs/generated/knative/serving-release-1.14.gen.yaml
  prow/jobs/generated/knative/serving-release-1.15.gen.yaml
  prow/jobs_config/knative-extensions/eventing-kafka-broker-release-1.14.yaml
  prow/jobs_config/knative-extensions/eventing-kafka-broker.yaml
  prow/jobs_config/knative-extensions/kn-plugin-event-release-1.14.yaml
  prow/jobs_config/knative-extensions/kn-plugin-event.yaml
  prow/jobs_config/knative/client-release-1.14.yaml
  prow/jobs_config/knative/client-release-1.15.yaml
  prow/jobs_config/knative/client.yaml
  prow/jobs_config/knative/eventing-release-1.14.yaml
  prow/jobs_config/knative/eventing-release-1.15.yaml
  prow/jobs_config/knative/eventing.yaml
  prow/jobs_config/knative/operator-release-1.14.yaml
  prow/jobs_config/knative/operator-release-1.15.yaml
  prow/jobs_config/knative/operator.yaml
  prow/jobs_config/knative/serving-release-1.14.yaml
  prow/jobs_config/knative/serving-release-1.15.yaml
  prow/jobs_config/knative/serving.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

Update community files
  OWNERS_ALIASES
Due: none

Update community files (#499)
  OWNERS_ALIASES
Due: none

Install NodeJS in Prow image
  images/prow-tests/Dockerfile
Due: pull-knative-infra-prow-tests-image-build, post-knative-infra-prow-tests-image-push

Install NodeJS in Prow image (#501)
  images/prow-tests/Dockerfile
Due: pull-knative-infra-prow-tests-image-build, post-knative-infra-prow-tests-image-push

optimise GCP cloud spend
  infra/gcp/.terraform.lock.hcl
  infra/gcp/boskos/.terraform.lock.hcl
  infra/gcp/boskos/main.tf
  infra/gcp/boskos/provider.tf
  infra/gcp/dns/dns.tf
  infra/gcp/gsuite/gsuite.tf
  infra/gcp/provider.tf
  infra/gcp/shared/vpc.tf
  infra/gcp/tests/buckets.tf
  infra/gcp/tests/gke.tf
  prow/jobs/custom/infra.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

optimise GCP cloud spend (#503)
  infra/gcp/.terraform.lock.hcl
  infra/gcp/boskos/.terraform.lock.hcl
  infra/gcp/boskos/main.tf
  infra/gcp/boskos/provider.tf
  infra/gcp/dns/dns.tf
  infra/gcp/gsuite/gsuite.tf
  infra/gcp/provider.tf
  infra/gcp/shared/vpc.tf
  infra/gcp/tests/buckets.tf
  infra/gcp/tests/gke.tf
  prow/jobs/custom/infra.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

use 4 replicas for boskos janitor
  prow/cluster/build/boskos-janitor.yaml
Due: none

use 4 replicas for boskos janitor (#505)
  prow/cluster/build/boskos-janitor.yaml
Due: none

Prow build tests for Backstage stuff
  prow/jobs_config/knative-extensions/backstage-plugins.yaml
Due: none

Update codegen
  prow/jobs/generated/knative-extensions/backstage-plugins-main.gen.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

Prow build tests for Backstage stuff (#507)
  prow/jobs/generated/knative-extensions/backstage-plugins-main.gen.yaml
  prow/jobs_config/knative-extensions/backstage-plugins.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

More tests for Backstage
  prow/jobs_config/knative-extensions/backstage-plugins.yaml
Due: none

Reduce used resources
  prow/jobs/generated/knative-extensions/backstage-plugins-main.gen.yaml
  prow/jobs_config/knative-extensions/backstage-plugins.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

More tests for Backstage (#508)
  prow/jobs/generated/knative-extensions/backstage-plugins-main.gen.yaml
  prow/jobs_config/knative-extensions/backstage-plugins.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

Reduce Nodejs version
  images/prow-tests/Dockerfile
Due: pull-knative-infra-prow-tests-image-build, post-knative-infra-prow-tests-image-push

Reduce Nodejs version (#509)
  images/prow-tests/Dockerfile
Due: pull-knative-infra-prow-tests-image-build, post-knative-infra-prow-tests-image-push

Use new prow-tests image in Backstage tests
  prow/jobs/generated/knative-extensions/backstage-plugins-main.gen.yaml
  prow/jobs_config/knative-extensions/backstage-plugins.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

Use new prow-tests image in Backstage tests (#510)
  prow/jobs/generated/knative-extensions/backstage-plugins-main.gen.yaml
  prow/jobs_config/knative-extensions/backstage-plugins.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

Update community files (#515)
  OWNERS_ALIASES
Due: none
