Repository knative/infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, pull-knative-infra-prow-tests-image-build, post-knative-infra-prow-tests-image-push, post-infra-update-testgrid-proto

pull-infra-validate-prow-yaml:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20230630-9eecc0f38f
      command:
      - checkconfig
      args:
      - --config-path=./prow/config.yaml
      - --job-config-path=./prow/jobs
      - --plugin-config=./prow/plugins.yaml
      - --strict
  ...

pull-infra-validate-own-testgrid-yaml:
  decorate: true
  optional: false
  spec:
    containers:
    - image: gcr.io/k8s-prow/configurator:v20230630-9eecc0f38f
      command:
      - configurator
      args:
      - --prow-config=prow/config.yaml
      - --prow-job-config=prow/jobs
      - --default=config/prow/k8s-testgrid/testgrid-common-settings.yaml
  ...

pull-knative-infra-prow-tests-image-build:
  optional: false
  decorate: true
  spec:
    serviceAccountName: test-runner
    containers:
    - image: us-docker.pkg.dev/knative-tests/images/prow-tests:v20230616-086ddd644
      imagePullPolicy: Always
      command:
      - runner.sh
      args:
      - make
      - -C
      - images/prow-tests
      - build-ci-test

post-knative-infra-prow-tests-image-push:
  decorate: true
  spec:
    serviceAccountName: test-runner
    containers:
    - image: us-docker.pkg.dev/knative-tests/images/prow-tests:v20230616-086ddd644
      imagePullPolicy: Always
      command:
      - runner.sh
      args:
      - make
      - -C
      - images/prow-tests
      - push

post-infra-update-testgrid-proto:
  decorate: true
  spec:
    serviceAccountName: testgrid-updater
    containers:
    - image: gcr.io/k8s-prow/configurator:v20230630-9eecc0f38f
      command:
      - configurator
      args:
      - --prow-config=prow/config.yaml
      - --prow-job-config=prow/jobs
  ...

drop istio head testing (#213)
  prow/jobs/generated/knative/serving-main.gen.yaml
  prow/jobs_config/knative/serving.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

pin rust to bookworm
  images/prow-tests/Dockerfile
Due: pull-knative-infra-prow-tests-image-build, post-knative-infra-prow-tests-image-push

Make Loom and KEDA tests on demand tests
  prow/jobs/generated/knative-extensions/eventing-kafka-broker-main.gen.yaml
  prow/jobs_config/knative-extensions/eventing-kafka-broker.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

pin rust to bookworm (#214)
  images/prow-tests/Dockerfile
Due: pull-knative-infra-prow-tests-image-build, post-knative-infra-prow-tests-image-push

refactored the code and reduced the number of lines
  prow/jobs/generated/knative-extensions/kn-plugin-event-main.gen.yaml
  prow/jobs/generated/knative-extensions/kn-plugin-event-release-1.10.gen.yaml
  prow/jobs/generated/knative-extensions/kn-plugin-event-release-1.11.gen.yaml
  prow/jobs/generated/knative-extensions/kn-plugin-event-release-1.9.gen.yaml
  prow/jobs/generated/knative/client-main.gen.yaml
  prow/jobs/generated/knative/client-release-1.10.gen.yaml
  prow/jobs/generated/knative/client-release-1.11.gen.yaml
  prow/jobs/generated/knative/client-release-1.9.gen.yaml
  prow/jobs/generated/knative/eventing-main.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.10.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.11.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.9.gen.yaml
  prow/jobs/generated/knative/operator-main.gen.yaml
  prow/jobs/generated/knative/operator-release-1.10.gen.yaml
  prow/jobs/generated/knative/operator-release-1.11.gen.yaml
  prow/jobs/generated/knative/operator-release-1.9.gen.yaml
  prow/jobs/generated/knative/serving-main.gen.yaml
  prow/jobs/generated/knative/serving-release-1.10.gen.yaml
  prow/jobs/generated/knative/serving-release-1.11.gen.yaml
  prow/jobs/generated/knative/serving-release-1.9.gen.yaml
  prow/jobs_config/knative-extensions/kn-plugin-event-release-1.10.yaml
  prow/jobs_config/knative-extensions/kn-plugin-event-release-1.11.yaml
  prow/jobs_config/knative-extensions/kn-plugin-event-release-1.9.yaml
  prow/jobs_config/knative-extensions/kn-plugin-event.yaml
  prow/jobs_config/knative/client-release-1.10.yaml
  prow/jobs_config/knative/client-release-1.11.yaml
  prow/jobs_config/knative/client-release-1.9.yaml
  prow/jobs_config/knative/client.yaml
  prow/jobs_config/knative/eventing-release-1.10.yaml
  prow/jobs_config/knative/eventing-release-1.11.yaml
  prow/jobs_config/knative/eventing-release-1.9.yaml
  prow/jobs_config/knative/eventing.yaml
  prow/jobs_config/knative/operator-release-1.10.yaml
  prow/jobs_config/knative/operator-release-1.11.yaml
  prow/jobs_config/knative/operator-release-1.9.yaml
  prow/jobs_config/knative/operator.yaml
  prow/jobs_config/knative/serving-release-1.10.yaml
  prow/jobs_config/knative/serving-release-1.11.yaml
  prow/jobs_config/knative/serving-release-1.9.yaml
  prow/jobs_config/knative/serving.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

Use correct image
  prow/jobs/generated/knative-extensions/serving-progressive-rollout-main.gen.yaml
  prow/jobs_config/knative-extensions/serving-progressive-rollout.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

Update the test image for serving-progressive-rollout
  prow/jobs/generated/knative-extensions/serving-progressive-rollout-main.gen.yaml
  prow/jobs_config/knative-extensions/serving-progressive-rollout.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

Use correct image (#217)
  prow/jobs/generated/knative-extensions/serving-progressive-rollout-main.gen.yaml
  prow/jobs_config/knative-extensions/serving-progressive-rollout.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

Make Loom and KEDA tests on demand tests (#215)
  prow/jobs/generated/knative-extensions/eventing-kafka-broker-main.gen.yaml
  prow/jobs_config/knative-extensions/eventing-kafka-broker.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

ppc64le specific changes added to prow config (#216)
  prow/jobs/generated/knative-extensions/kn-plugin-event-main.gen.yaml
  prow/jobs/generated/knative-extensions/kn-plugin-event-release-1.10.gen.yaml
  prow/jobs/generated/knative-extensions/kn-plugin-event-release-1.11.gen.yaml
  prow/jobs/generated/knative-extensions/kn-plugin-event-release-1.9.gen.yaml
  prow/jobs/generated/knative/client-main.gen.yaml
  prow/jobs/generated/knative/client-release-1.10.gen.yaml
  prow/jobs/generated/knative/client-release-1.11.gen.yaml
  prow/jobs/generated/knative/client-release-1.9.gen.yaml
  prow/jobs/generated/knative/eventing-main.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.10.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.11.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.9.gen.yaml
  prow/jobs/generated/knative/operator-main.gen.yaml
  prow/jobs/generated/knative/operator-release-1.10.gen.yaml
  prow/jobs/generated/knative/operator-release-1.11.gen.yaml
  prow/jobs/generated/knative/operator-release-1.9.gen.yaml
  prow/jobs/generated/knative/serving-main.gen.yaml
  prow/jobs/generated/knative/serving-release-1.10.gen.yaml
  prow/jobs/generated/knative/serving-release-1.11.gen.yaml
  prow/jobs/generated/knative/serving-release-1.9.gen.yaml
  prow/jobs_config/knative-extensions/kn-plugin-event-release-1.10.yaml
  prow/jobs_config/knative-extensions/kn-plugin-event-release-1.11.yaml
  prow/jobs_config/knative-extensions/kn-plugin-event-release-1.9.yaml
  prow/jobs_config/knative-extensions/kn-plugin-event.yaml
  prow/jobs_config/knative/client-release-1.10.yaml
  prow/jobs_config/knative/client-release-1.11.yaml
  prow/jobs_config/knative/client-release-1.9.yaml
  prow/jobs_config/knative/client.yaml
  prow/jobs_config/knative/eventing-release-1.10.yaml
  prow/jobs_config/knative/eventing-release-1.11.yaml
  prow/jobs_config/knative/eventing-release-1.9.yaml
  prow/jobs_config/knative/eventing.yaml
  prow/jobs_config/knative/operator-release-1.10.yaml
  prow/jobs_config/knative/operator-release-1.11.yaml
  prow/jobs_config/knative/operator-release-1.9.yaml
  prow/jobs_config/knative/operator.yaml
  prow/jobs_config/knative/serving-release-1.10.yaml
  prow/jobs_config/knative/serving-release-1.11.yaml
  prow/jobs_config/knative/serving-release-1.9.yaml
  prow/jobs_config/knative/serving.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

added a secret into ppc64le-cluster secret store
  prow/cluster/build/secrets.yaml
Due: none

added a secret into ppc64le-cluster secret store (#220)
  prow/cluster/build/secrets.yaml
Due: none

automerge dependabot PRs
  prow/config.yaml
Due: pull-infra-validate-prow-yaml

automerge dependabot PRs (#221)
  prow/config.yaml
Due: pull-infra-validate-prow-yaml

cron job timings modified for ppc64le jobs
  prow/jobs/generated/knative-extensions/kn-plugin-event-main.gen.yaml
  prow/jobs/generated/knative-extensions/kn-plugin-event-release-1.10.gen.yaml
  prow/jobs/generated/knative-extensions/kn-plugin-event-release-1.11.gen.yaml
  prow/jobs/generated/knative-extensions/kn-plugin-event-release-1.9.gen.yaml
  prow/jobs/generated/knative/client-release-1.10.gen.yaml
  prow/jobs/generated/knative/client-release-1.11.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.10.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.11.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.9.gen.yaml
  prow/jobs/generated/knative/operator-main.gen.yaml
  prow/jobs/generated/knative/operator-release-1.10.gen.yaml
  prow/jobs/generated/knative/operator-release-1.11.gen.yaml
  prow/jobs/generated/knative/operator-release-1.9.gen.yaml
  prow/jobs/generated/knative/serving-main.gen.yaml
  prow/jobs/generated/knative/serving-release-1.10.gen.yaml
  prow/jobs/generated/knative/serving-release-1.11.gen.yaml
  prow/jobs/generated/knative/serving-release-1.9.gen.yaml
  prow/jobs_config/knative-extensions/kn-plugin-event-release-1.10.yaml
  prow/jobs_config/knative-extensions/kn-plugin-event-release-1.11.yaml
  prow/jobs_config/knative-extensions/kn-plugin-event-release-1.9.yaml
  prow/jobs_config/knative-extensions/kn-plugin-event.yaml
  prow/jobs_config/knative/client-release-1.10.yaml
  prow/jobs_config/knative/client-release-1.11.yaml
  prow/jobs_config/knative/eventing-release-1.10.yaml
  prow/jobs_config/knative/eventing-release-1.11.yaml
  prow/jobs_config/knative/eventing-release-1.9.yaml
  prow/jobs_config/knative/operator-release-1.10.yaml
  prow/jobs_config/knative/operator-release-1.11.yaml
  prow/jobs_config/knative/operator-release-1.9.yaml
  prow/jobs_config/knative/operator.yaml
  prow/jobs_config/knative/serving-release-1.10.yaml
  prow/jobs_config/knative/serving-release-1.11.yaml
  prow/jobs_config/knative/serving-release-1.9.yaml
  prow/jobs_config/knative/serving.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

Bumping Prow and Boskos
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/cluster/trusted/ghproxy.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/infra.yaml
  prow/jobs/custom/label-sync.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/run_job.sh
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

Bumping Prow and Boskos (#226)
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/cluster/trusted/ghproxy.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/infra.yaml
  prow/jobs/custom/label-sync.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/run_job.sh
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

cron job timings modified for ppc64le jobs (#225)
  prow/jobs/generated/knative-extensions/kn-plugin-event-main.gen.yaml
  prow/jobs/generated/knative-extensions/kn-plugin-event-release-1.10.gen.yaml
  prow/jobs/generated/knative-extensions/kn-plugin-event-release-1.11.gen.yaml
  prow/jobs/generated/knative-extensions/kn-plugin-event-release-1.9.gen.yaml
  prow/jobs/generated/knative/client-release-1.10.gen.yaml
  prow/jobs/generated/knative/client-release-1.11.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.10.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.11.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.9.gen.yaml
  prow/jobs/generated/knative/operator-main.gen.yaml
  prow/jobs/generated/knative/operator-release-1.10.gen.yaml
  prow/jobs/generated/knative/operator-release-1.11.gen.yaml
  prow/jobs/generated/knative/operator-release-1.9.gen.yaml
  prow/jobs/generated/knative/serving-main.gen.yaml
  prow/jobs/generated/knative/serving-release-1.10.gen.yaml
  prow/jobs/generated/knative/serving-release-1.11.gen.yaml
  prow/jobs/generated/knative/serving-release-1.9.gen.yaml
  prow/jobs_config/knative-extensions/kn-plugin-event-release-1.10.yaml
  prow/jobs_config/knative-extensions/kn-plugin-event-release-1.11.yaml
  prow/jobs_config/knative-extensions/kn-plugin-event-release-1.9.yaml
  prow/jobs_config/knative-extensions/kn-plugin-event.yaml
  prow/jobs_config/knative/client-release-1.10.yaml
  prow/jobs_config/knative/client-release-1.11.yaml
  prow/jobs_config/knative/eventing-release-1.10.yaml
  prow/jobs_config/knative/eventing-release-1.11.yaml
  prow/jobs_config/knative/eventing-release-1.9.yaml
  prow/jobs_config/knative/operator-release-1.10.yaml
  prow/jobs_config/knative/operator-release-1.11.yaml
  prow/jobs_config/knative/operator-release-1.9.yaml
  prow/jobs_config/knative/operator.yaml
  prow/jobs_config/knative/serving-release-1.10.yaml
  prow/jobs_config/knative/serving-release-1.11.yaml
  prow/jobs_config/knative/serving-release-1.9.yaml
  prow/jobs_config/knative/serving.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

Support added for kafka-broker on ppc64le
  prow/jobs/generated/knative-extensions/eventing-kafka-broker-main.gen.yaml
  prow/jobs/generated/knative-extensions/eventing-kafka-broker-release-1.10.gen.yaml
  prow/jobs/generated/knative-extensions/eventing-kafka-broker-release-1.11.gen.yaml
  prow/jobs/generated/knative-extensions/eventing-kafka-broker-release-1.9.gen.yaml
  prow/jobs_config/knative-extensions/eventing-kafka-broker-release-1.10.yaml
  prow/jobs_config/knative-extensions/eventing-kafka-broker-release-1.11.yaml
  prow/jobs_config/knative-extensions/eventing-kafka-broker-release-1.9.yaml
  prow/jobs_config/knative-extensions/eventing-kafka-broker.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

Support added for kafka-broker on ppc64le (#227)
  prow/jobs/generated/knative-extensions/eventing-kafka-broker-main.gen.yaml
  prow/jobs/generated/knative-extensions/eventing-kafka-broker-release-1.10.gen.yaml
  prow/jobs/generated/knative-extensions/eventing-kafka-broker-release-1.11.gen.yaml
  prow/jobs/generated/knative-extensions/eventing-kafka-broker-release-1.9.gen.yaml
  prow/jobs_config/knative-extensions/eventing-kafka-broker-release-1.10.yaml
  prow/jobs_config/knative-extensions/eventing-kafka-broker-release-1.11.yaml
  prow/jobs_config/knative-extensions/eventing-kafka-broker-release-1.9.yaml
  prow/jobs_config/knative-extensions/eventing-kafka-broker.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

Update community files
  OWNERS_ALIASES
Due: none

Update community files (#228)
  OWNERS_ALIASES
Due: none

Bumping Prow and Boskos (#230)
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/cluster/trusted/ghproxy.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/infra.yaml
  prow/jobs/custom/label-sync.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/run_job.sh
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

Update community files (#231)
  OWNERS_ALIASES
Due: none

Bump Go verions to latest patch release
  images/prow-tests/Dockerfile
  images/tool/Dockerfile
Due: pull-knative-infra-prow-tests-image-build, post-knative-infra-prow-tests-image-push

Bump Go verions to latest patch release (#232)
  images/prow-tests/Dockerfile
  images/tool/Dockerfile
Due: pull-knative-infra-prow-tests-image-build, post-knative-infra-prow-tests-image-push

Bumping Prow and Boskos (#233)
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/cluster/trusted/ghproxy.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/infra.yaml
  prow/jobs/custom/label-sync.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/run_job.sh
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

Update community files (#236)
  OWNERS_ALIASES
Due: none

Bumping Prow and Boskos (#237)
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/cluster/trusted/ghproxy.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/infra.yaml
  prow/jobs/custom/label-sync.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/run_job.sh
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches
  config/prow/k8s-testgrid/k8s-testgrid.yaml
  prow/jobs/generated/knative-extensions/security-guard-release-0.6.gen.yaml
  prow/jobs_config/knative-extensions/security-guard-release-0.6.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches (#238)
  config/prow/k8s-testgrid/k8s-testgrid.yaml
  prow/jobs/generated/knative-extensions/security-guard-release-0.6.gen.yaml
  prow/jobs_config/knative-extensions/security-guard-release-0.6.yaml
Due: pull-infra-validate-prow-yaml, pull-infra-validate-own-testgrid-yaml, post-infra-update-testgrid-proto

Path conditions:
  pull-infra-validate-prow-yaml: any of: ^prow/((config|plugins)\.yaml$|jobs/)
  pull-infra-validate-own-testgrid-yaml: any of: (^config/prow/k8s-testgrid/.*.yaml$|^prow/jobs/.*.yaml$)
  pull-knative-infra-prow-tests-image-build: any of: ^(images/prow-tests/.*|tools/.*|pkg/.*|go.mod)$
  post-knative-infra-prow-tests-image-push: any of: ^(images/prow-tests/.*|tools/kntest/.*|pkg/.*|go.mod)$
  post-infra-update-testgrid-proto: any of: ^(config/prow/k8s-testgrid/|prow/jobs/).*.yaml
